<!-- Modal -->
<div id="hrdesignationmodal" th:fragment="hrdesignationmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update Designation Change</h4>
			</div>
			
			<div class="modal-body">
				<div class="row">
				<form id="mainform-modal" class="form-horizontal"  method="post" th:action="@{/hrpersonal/hrdesignation/save}" th:object="${hrd}" th:with="df=${'E, dd-MMM-yyyy'}">
				<input type="hidden" th:if="${xrow ne 0}" th:field="*{xrow}"/>
				<input type="hidden" th:field="*{xstaff}"/>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="section-header sectionbartoggle">
										<h1></h1>
									</div>
								</div>
							</div>
						</div>
						</div><br>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6">

										<div class="form-group datepicker">
											<label class="control-label col-md-4" for="xdate" th:text="#{hrpi.modal4.form.label.xdate}"> Date</label>
											<div class="input-group date col-md-6 datepicker">
												<input 	type="datepicker" 
														class="form-control" 
														id="xdate"
														name="xdate"
														th:value="${hrd.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(hrd.xdate, df)}"
														/>
												<div class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</div>
											</div>
										</div>

										<div class="form-group">
												<label class="control-label col-md-4" for="xdesignation" th:text="#{hrpi.modal4.form.label.xdesignation}">Designation Name</label>
												<div class="col-md-7">
													<input type="text" class="form-control" value="" th:field="*{xdesignation}">
												</div>
										</div>

										<div class="form-group">
												<label class="control-label col-md-4" for="xdesigpromo" th:text="#{hrpi.modal4.form.label.xdesigpromo}">Changed Designation </label>
												<div class="col-md-7">
													<input type="text" class="form-control" value=""  th:field="*{xdesigpromo}">
												</div>
										</div>

									</div>

									<div class="col-md-6">

										<div class="form-group datepicker">
											<label class="control-label col-md-4" for="xdateeff" th:text="#{hrpi.modal4.form.label.xdateeff}">Effective Date</label>
											<div class="input-group date col-md-6 datepicker">
												<input 	type="datepicker" 
														class="form-control" 
														id="xdateeff"
														name="xdateeff"
														th:value="${hrd.xdateeff == null ? #dates.format(#dates.createNow(), df) : #dates.format(hrd.xdateeff, df)}"
														/>
												<div class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</div>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-4" for="xstatus" th:text="#{hrpi.modal4.form.label.xstatus}">Status</label>
											<div class="col-md-6">
												<select class="form-control" th:field="*{xstatus}">
													<option th:each="d : ${status}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
												</select>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-4" for="xnote" th:text="#{hrpi.modal4.form.label.xnote}">Note</label>
											<div class="col-md-6">
												<textarea class="form-control" rows="3" th:field="*{xnote}" placeholder="Note"></textarea>
											</div>
										</div>
										
									</div>
									
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
	<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
				ck.ui.config.dateAndTimepicker();
			});
		</script>
</div>
