<!-- Modal -->
<div id="hrexperiencemodal" th:fragment="hrexperiencemodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update Experience Details</h4>
			</div>
			
			<div class="modal-body">
				<div class="row">
				<form id="mainform-modal" class="form-horizontal"  method="post" th:action="@{/hrpersonal/hrexperience/save}" th:object="${hre}" th:with="df=${'E, dd-MMM-yyyy'}">
				<input type="hidden" th:if="${xrow ne 0}" th:field="*{xrow}"/>
				<input type="hidden" th:field="*{xstaff}"/>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="section-header sectionbartoggle">
										<h1></h1>
									</div>
								</div>
							</div>
						</div>
						</div><br>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6">

										<div class="form-group">
											<label class="control-label col-md-3" for="xnote" th:text="#{hrpi.modal1.form.label.xnote}">Note:</label>
											<div class="col-md-7">
												<textarea class="form-control" rows="3" th:field="*{xnote}" placeholder="Note"></textarea>
											</div>
										</div>
									</div>

									<div class="col-md-6">

										
									</div>
									
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
	<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
			});
		</script>
</div>
