<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title th:text="#{prpi.page.title}">Personal Information</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Home</a></li>
										<li class="active"><a th:href="@{/paypersonal}">Personal Information</a></li>
									
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="section-header sectionbartoggle">
														<h1 th:text="#{prpi.page.heading}">Personal Information</h1>
													</div>
													<div class="form-action-button">
														<a th:href="@{/paypersonal}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xclear}"> Clear</span></a>
														<a th:if="${#strings.isEmpty(payinfo.xstaff)}"  class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xsave}"> Save</span></a>
														<a th:if="${not #strings.isEmpty(payinfo.xstaff) and payinfo.zactive == true}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xupdate}"> Update</span></a>
														<a th:if="${not #strings.isEmpty(payinfo.xstaff) and payinfo.zactive == true}" class="btn btn-sm btn-primary confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xautobreakdown}"> Auto-Breakdown</span></a>
														<a th:if="${not #strings.isEmpty(payinfo.xstaff) and payinfo.zactive == true}" th:href="@{/paypersonal/delete/} + ${payinfo.xstaff}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xdelete}"> Delete</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/paypersonal/save}" th:object="${payinfo}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											<input type="hidden" th:field="*{xtypetrn}"/>
											<input type="hidden" th:field="*{xtrn}" th:if="${not #strings.isEmpty(payinfo.xstaff)}"/>
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">
															<div class="form-group" th:if="${#strings.isEmpty(payinfo.xstaff)}">
																<label class="control-label col-md-4" for="xtrn" th:text="#{prpi.form.label.xtrn}">Employee ID</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xtrn}">
																		<option th:each="d : ${prefixes}" th:value="${d.xtrn}" th:text="${d.xtrn}"></option>
																	</select>
																</div>
															</div>
															<div class="form-group" th:if="${not #strings.isEmpty(payinfo.xstaff)}">
																<label class="control-label col-md-4" for="xstaff" th:text="#{prpi.form.label.xstaff}">Employee ID</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xstaff}">
																	<input type="text" class="form-control" th:value="*{xstaff}" disabled="disabled">
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xname" th:text="#{prpi.form.label.xname}">Employee Name </label>
																<div class="col-md-8">
																	<input type="text" class="form-control"  maxlength="100" th:field="*{xname}" required="required"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xfname" th:text="#{prpi.form.label.xfname}">Father's Name </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xfname}" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xmname" th:text="#{hrpi.form.label.xmname}">Mother's Name </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xmname}" maxlength="100"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xmadd" th:text="#{prpi.form.label.xmadd}">Mailing Address </label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" th:field="*{xmadd}" placeholder="Mailing Address here.."></textarea>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xpadd" th:text="#{prpi.form.label.xpadd}">Permanent Address </label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" th:field="*{xpadd}" placeholder="Permanent Address here.."></textarea>
																</div>
															</div>
															
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xbirthdate" th:text="#{prpi.form.label.xbirthdate}">Date of Birth</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xbirthdate"
																			name="xbirthdate"
																			th:value="${payinfo.xbirthdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(payinfo.xbirthdate, df)}"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xsex" th:text="#{prpi.form.label.xsex}">Sex</label>
																<div class="col-md-8">
																	<select class="form-control"  th:field="*{xsex}">
																		<option value="Male">Male</option>
																		<option value="Male">Female</option>
																		<option value="Male">Other</option>
																		<!--<option th:each="d : ${sexTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>-->
																	</select>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xmstat" th:text="#{prpi.form.label.xmstat}">Marital Status </label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xmstat}">
																		<option value="Single">Single</option>
																		<option value="Married">Married</option>
																		<option value="Divorced">Divorced</option>
																		<option value="Widowed">Widowed</option>
																		<!--<option th:each="d : ${maritalStatus}" th:value="${d.xcode}" th:text="${d.xcode}"></option>-->
																	</select>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xdeptname" th:text="#{prpi.form.label.xdeptname}">Department Name</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xdeptname}">
																		<option th:each="d : ${departmentNames}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xsec" th:text="#{prpi.form.label.xsec}">Section</label>
																<div class="col-md-8">
																	<input type="text" class="form-control"  maxlength="100" th:field="*{xsec}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xdesignation" th:text="#{prpi.form.label.xdesignation}">Designation</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xdesignation}">
																		<option th:each="d : ${designationNames}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xdatejoin" th:text="#{prpi.form.label.xdatejoin}">Date of Join</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xdatejoin"
																			name="xdatejoin"
																			th:value="${payinfo.xdatejoin == null ? #dates.format(#dates.createNow(), df) : #dates.format(payinfo.xdatejoin, df)}"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xgrade" th:text="#{prpi.form.label.xgrade}">Grade</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xgrade}">
																		<option th:each="d : ${grades}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xemail" th:text="#{prpi.form.label.xemail}">Email </label>
																<div class="col-md-8">
																	<input type="email" class="form-control"  maxlength="100" th:field="*{xemail}"/>
																</div>
															</div>
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xenddate" th:text="#{prpi.form.label.xenddate}">Date of End</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xenddate"
																			name="xenddate"
																			th:value="${payinfo.xenddate == null ? #dates.format(#dates.createNow(), df) : #dates.format(payinfo.xenddate, df)}"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xretdate" th:text="#{prpi.form.label.xretdate}">Date of Retirement</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xretdate"
																			name="xretdate"
																			th:value="${payinfo.xretdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(payinfo.xretdate, df)}"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xempstatus" th:text="#{prpi.form.label.xempstatus}">Employee Status</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xempstatus}">
																		<option th:each="d : ${employeeStatus}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xdistrict" th:text="#{hrpi.form.label.xdistrict}">District</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xdistrict}">
																		<option th:each="d : ${districtNames}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xdatecom" th:text="#{prpi.form.label.xdatecom}">Date of Confirmation</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xdatecom"
																			name="xdatecom"
																			th:value="${payinfo.xdatecom == null ? #dates.format(#dates.createNow(), df) : #dates.format(payinfo.xdatecom, df)}"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xbank" th:text="#{prpi.form.label.xbank}">Bank Name</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																		class="form-control searchsuggest" 
																		placeholder="Search..." 
																		th:value="${payinfo.xbank}" 
																		th:attr="search-url='search/bank'"/>
																	<input type="hidden" class="required" id="search-val" th:field="*{xbank}" value=""/>
																	<input type="hidden" id="search-des" th:value="*{xbank}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xacc" th:text="#{prpi.form.label.xacc}">Account No.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100"  th:field="*{xacc}"/>
																</div>
															</div>
															
														</div>
														<div class="col-md-6">
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xposition" th:text="#{prpi.form.label.xposition}">Position</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" th:field="*{xposition}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xtin" th:text="#{prpi.form.label.xtin}">TIN No.</label>
																<div class="col-md-8">
																	<input type="number" class="form-control" maxlength="100" th:field="*{xtin}"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xempcategory" th:text="#{prpi.form.label.xempcategory}">Employee Category</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xempcategory}">
																		<option th:each="d : ${employeeCategories}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xstatus" th:text="#{prpi.form.label.xstatus}">Status</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xstatus}">
																	<input type="text" class="form-control" th:value="Open" disabled="disabled">
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xsid" th:text="#{prpi.form.label.xsid}">Superior ID</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																		class="form-control searchsuggest" 
																		placeholder="Search..." 
																		th:value="${payinfo.xsid}" 
																		th:attr="search-url='search/staff'"/>
																	<input type="hidden" class="required" id="search-val" th:field="*{xsid}" value=""/>
																	<input type="hidden" id="search-des" th:value="*{xsid}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xbloodgroup" th:text="#{prpi.form.label.xbloodgroup}">Blood Group</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xbloodgroup}">
																		<option value="A+">A+</option>
																		<option value="A-">A-</option>
																		<option value="B+">B+</option>
																		<option value="B-">B-</option>
																		<option value="O+">O+</option>
																		<option value="O-">O-</option>
																		<option value="AB+">AB+</option>
																		<option value="AB-">AB-</option>
																		<!--<option th:each="d : ${bloodGropus}" th:value="${d.xcode}" th:text="${d.xcode}"></option>-->
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xphone" th:text="#{prpi.form.label.xphone}">Phone No.</label>
																<div class="col-md-8">
																	<input type="number" class="form-control" maxlength="100" th:field="*{xphone}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xplan" th:text="#{prpi.form.label.xplan}">Leave Plan</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xplan}">
																		<option th:each="d : ${leavePlans}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xcar" th:text="#{prpi.form.label.xcar}">Car No.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" th:field="*{xcar}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xgross" th:text="#{prpi.form.label.xgross}">Gross Salary</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" th:field="*{xgross}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xemname" th:text="#{prpi.form.label.xemname}">Emergency Contact</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" th:field="*{xemname}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xrelation" th:text="#{prpi.form.label.xrelation}">Relation</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" th:field="*{xrelation}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xemcmobile" th:text="#{prpi.form.label.xemcmobile}">Mobile No.(Em. Con.)</label>
																<div class="col-md-8">
																	<input type="number" class="form-control" maxlength="100" th:field="*{xemcmobile}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xmobile" th:text="#{prpi.form.label.xmobile}">Mobile No.</label>
																<div class="col-md-8">
																	<input type="number" class="form-control" maxlength="100" th:field="*{xmobile}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xreligion" th:text="#{prpi.form.label.xreligion}">Religion</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xreligion}">
																		<option value="Islam">Islam</option>
																		<option value="Hinduism">Hinduism</option>
																		<option value="Christianity">Christianity</option>
																		<option value="Buddhism">Buddhism</option>
																		<option value="Unaffiliated">Unaffiliated</option>
																		<option value="Folk">Folk</option>
																		<option value="Other">Other</option>
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xemptype" th:text="#{prpi.form.label.xemptype}">Employee Type</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xemptype}">
																		<option th:each="d : ${employeeTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															<!-- <div class="form-group">
																<label class="control-label col-md-4" for="">Signature</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" placeholder="Image Upload"/>
																</div>
															</div> -->
															<div class="form-group">
																<label class="control-label col-md-4" for="xshortname" th:text="#{prpi.form.label.xshortname}">Short Name</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" th:field="*{xshortname}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xbnkpay" th:text="#{prpi.form.label.xbnkpay}">Bank Pay Amount</label>
																<div class="col-md-8">
																	<input type="number" class="form-control" maxlength="100" th:field="*{xbnkpay}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xweekday" th:text="#{prpi.form.label.xweekday}">Week Day</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xweekday}">
																		<option value="Saturday">Saturday</option>
																		<option value="Sunday">Sunday</option>
																		<option value="Monday">Monday</option>
																		<option value="Tuesday">Tuesday</option>
																		<option value="Wednesday">Wednesday</option>
																		<option value="Thursday">Thursday</option>
																		<option value="Friday">Friday</option>
																		<!--<option th:each="d : ${weekDays}" th:value="${d.xcode}" th:text="${d.xcode}"></option>-->
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xhdayapp" th:text="#{prpi.form.label.xhdayapp}">Holiday Applicable</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xhdayapp}">
																		<option th:each="d : ${holidays}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															
														</div>
														<div class="col-md-6">
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1> All Personal Info</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th th:text="#{prpi.table.heading.xstaff}">Employee ID</th>
														<th th:text="#{prpi.table.heading.xname}">Employee Name</th>
														<th th:text="#{prpi.table.heading.xposition}">Position</th>
														<th th:text="#{prpi.table.heading.xemail}">Email</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="s : ${allPayinfos}">
													<td>
														<a th:href="@{/paypersonal/} + ${s.xstaff}" th:text="${s.xstaff}"></a>
													</td>
													<td th:text="${s.xname}"></td>
													<td th:text="${s.xposition}"></td>
													<td th:text="${s.xemail}"></td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					
					
					<div class="col-md-12">
						<section th:if="${not #strings.isEmpty(payinfo.xstaff)}" id="data-maintenance" style="margin-top: 30px;">
						<div class="section-header sectionbartoggle">
							<h1>Salary Details of <span th:text="${payinfo.xstaff}"></span> </h1>			
						</div>
							<div class="section-body" style="overflow-y:scroll;height:200px;">
								<table class="table table-striped table-bordered normal-table" id="paysalarytable" th:fragment="paysalarytable">
									<thead>
										<tr>
											<th th:text="#{prpi.modal.table.heading.count}">SL#</th>
											<th th:text="#{prpi.modal.table.heading.xtype}">Type </th>
											<th th:text="#{prpi.modal.table.heading.xamount}">Amount</th>
											<th data-nosort="Y" style="text-align: right;">
												<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/paypersonal/} + ${payinfo.xstaff} + '/paysalary/new/show', data-target-modal='paysalarymodal'"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="d, n : ${payslist}">
											<td th:text="${n.count}"></td>
											<td th:text="${d.xtype}"></td>
											<td th:text="${d.xamount}"></td>
											<td data-nosort="Y" style="text-align: right; font-size: 11px;">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/paypersonal/} + ${payinfo.xstaff} + '/paysalary/' + ${d.xrow} + '/show', data-target-modal='paysalarymodal'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/paypersonal/} + ${payinfo.xstaff} + '/paysalary/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
					</section>
				</div>
				
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div id="paysalarymodal-section"></div>
		
		  <!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
