<!-- Modal -->
<div id="paysalarymodal" th:fragment="paysalarymodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update Salary Details</h4>
			</div>
			
			<div class="modal-body">
				<div class="row">
				<form id="mainform-modal" class="form-horizontal"  method="post" th:action="@{/paypersonal/paysalary/save}" th:object="${pays}" th:with="df=${'E, dd-MMM-yyyy'}">
				<input type="hidden" th:field="*{xstaff}"/>
				<input type="hidden" th:if="${xrow ne 0}" th:field="*{xrow}"/>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="section-header sectionbartoggle">
										<h1></h1>
									</div>
								</div>
							</div>
						</div>
						</div><br>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6">

										<div class="form-group">
											<label class="control-label col-md-5" for="xtype" th:text="#{prpi.modal.form.label.xtype}">Salary Type </label>
											<div class="col-md-6">
												<select class="form-control" th:field="*{xtype}">
													<option th:each="d : ${salaryType}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
												</select>
											</div>
										</div>

									</div>

									<div class="col-md-6">

										<div class="form-group">
											<label class="control-label col-md-3" for="xamount" th:text="#{prpi.modal.form.label.xamount}">Amount</label>
											<div class="col-md-6">
												<input type="text" class="form-control" th:field="*{xamount}">
											</div>
										</div>

										<!--<div class="form-group">
											<label class="control-label col-md-4" for="xsign">Sign</label>
											<div class="col-md-8">
												<input type="text" class="form-control" th:field="*{xsign}">
											</div>
										</div>-->
										
									</div>
									
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
	<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
			});
		</script>
</div>
