<!-- Modal -->
<div id="estcostmodal" th:fragment="estcostmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update Item</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form id="mainform-modal" th:action="@{/project/cawh/estcost/save}" method="post" class="form-horizontal" th:object="${estcost}" th:with="df=${'E, dd-MMM-yyyy'}">
						<input type="hidden" th:field="*{xwh}"/>
						<input type="hidden" th:field="*{xrow}"/>
						<div class="col-md-6">

							<div class="form-group">
								<label class="control-label col-sm-4" for="xitem" th:text="#{po.modal.form.label.xitem}">Item</label>
								<div class="col-sm-8">
									<input 	type="text" 
											class="form-control searchsuggest xitemsearch" 
											placeholder="Search..." 
											th:value="${#strings.isEmpty(estcost.xitem) ? '' : estcost.xitem + ' - ' + estcost.xitemdesc}" 
											th:attr="search-url='search/caitem'"/>
									<input type="hidden" id="search-val" th:field="*{xitem}" class="search-xitem"/>
									<input type="hidden" id="search-des" th:value="*{xitem}"/>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-4" for="xunit">Unit</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xunit}"/>
									<input type="text" th:value="${estcost.xunit}" class="form-control xunit-display" disabled="disabled"/>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-4" for="xqty">Quantity</label>
								<div class="col-sm-8">
									<input type="text"  class="form-control qty" th:field="*{xqty}" min="0"/>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-4" for="xrate">Rate</label>
								<div class="col-sm-8">
									<input type="text"  class="form-control" th:field="*{xrate}" min="0"/>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-4" for="xpurpose">Purpose</label>
								<div class="col-sm-8">
									<select class="form-control xpurpose" th:field="*{xpurpose}">
										<option value="">--Select--</option>
										<option th:each="cu : ${purpose}" th:text="${cu.xcode}" th:value="${cu.xcode}"></option>
									</select>
								</div>
							</div>

						</div>

						<div class="col-md-6">

							<div class="form-group">
								<label class="control-label col-sm-3" for="xlineamt">Line Amount</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xlineamt}"> 
									<input type="text" class="form-control xlineamt" th:value="*{xlineamt}" disabled="disabled"/>
								</div>
							</div>

							<div class="form-group datepicker">
								<label class="control-label col-md-3" for="xfdate">From Date </label>
								<div class="input-group date col-md-7 datepicker">
									<input 	type="datepicker" 
											class="form-control" 
											id="xfdate"
											name="xfdate"
											required="required"
											th:value="${estcost.xfdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(estcost.xfdate, df)}"/>
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</div>
								</div>
							</div>

							<div class="form-group datepicker">
								<label class="control-label col-md-3" for="xtdate">To Date </label>
								<div class="input-group date col-md-7 datepicker">
									<input 	type="datepicker" 
											class="form-control" 
											id="xtdate"
											name="xtdate"
											required="required"
											th:value="${estcost.xtdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(estcost.xtdate, df)}"/>
									<div class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-3" for="xnote" th:text="#{po.modal.form.label.xnote}">Note</label>
								<div class="col-sm-8">
									<textarea rows="6" cols="" class="form-control" th:field="*{xnote}"></textarea>
								</div>
							</div>

							<!--<div class="form-group nodisplay">
								<label class="control-label col-sm-4" for="xgitem">Group</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xgitem}"/>
									<input type="text" th:value="${estcost.xgitem}" class="form-control xgitem-display" disabled="disabled"/>
								</div>
							</div>-->

						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
				//$(".xitemsearch").click();

				$('#xqty').on('blur', function(e){
					e.preventDefault();
					calculateLineAmount();
				});

				$('#xrate').on('blur', function(e){
					e.preventDefault();
					calculateLineAmount();
				});

				function calculateLineAmount(){
					var qty = $('#xqty').val();
					var rate = $('#xrate').val();
					$('.xlineamt').val(qty * rate);
					$('#xlineamt').val(qty * rate);
				}

				var olditem = $('input[name="xitem"]').val();

				// Get item purchase unit
				$('.xitemsearch').on('blur', function(){
					setTimeout(() => {
						if($('input[name="xitem"]').val() == ''){
							$('input.xunit-display').val('');
							$('input[name="xrate"]').val('');
							$(".qty").val('1');
							$('.xlineamt').val('0');
							$('#xlineamt').val('0');
							return;
						}

						if(olditem != '' && olditem == $('input[name="xitem"]').val()) return;

						loadingMask2.show();
						$.ajax({
							url : getBasepath() + '/project/cawh/itemdetail/' + $('input[name="xitem"]').val(),
							type : 'GET',
							success : function(data) {
								loadingMask2.hide();
								if(data == undefined || data == null) return;

								$('input[name="xunit"]').val(data.xunit);
								$('input.xunit-display').val(data.xunit);	

								$('input[name="xrate"]').val(data.xrate);

								$('input[name="xgitem"]').val(data.xgitem);
								$('input.xgitem-display').val(data.xgitem);	

								if($(".qty").val() == '') $(".qty").val('1');

								$(".qty").focus();
								$('.xlineamt').val($(".qty").val() * data.xrate);
								$('#xlineamt').val($(".qty").val() * data.xrate);
							},
							error : function(jqXHR, status, errorThrown){
								showMessage(status, "Something went wrong .... ");
								loadingMask2.hide();
							}
						})
					}, 1000);
				});

			});
		</script>
	</div>
</div>