<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title th:text="#{eim.page.title}">Employee Information</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/employeeinfo}">Employee Information</a></li>
									
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="section-header sectionbartoggle">
														<h1  th:text="#{eim.page.heading}">Employee Information</h1>
													</div>
													<div class="form-action-button">
														<a th:href="@{/employeeinfo}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xclear}"> Clear</span></a>
														<a th:if="${#strings.isEmpty(empinfo.xstaff)}"  class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xsave}"> Save</span></a>
														<a th:if="${not #strings.isEmpty(empinfo.xstaff) and empinfo.zactive == true}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xupdate}"> Update</span></a>
														<a th:if="${not #strings.isEmpty(empinfo.xstaff) and empinfo.zactive == true}" th:href="@{/employeeinfo/delete/} + ${empinfo.xstaff}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xdelete}"> Delete</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/employeeinfo/save}" th:object="${empinfo}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											<input type="hidden" th:field="*{xtypetrn}"/>
											<input type="hidden" th:field="*{xtrn}" th:if="${not #strings.isEmpty(empinfo.xstaff)}"/>
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">
															<div class="form-group" th:if="${#strings.isEmpty(empinfo.xstaff)}">
																<label class="control-label col-md-4" for="xtrn"  th:text="#{eim.form.label.xtrn}">Employee ID</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xtrn}">
																		<option th:each="d : ${prefixes}" th:value="${d.xtrn}" th:text="${d.xtrn}"></option>
																	</select>
																</div>
															</div>
															<div class="form-group" th:if="${not #strings.isEmpty(empinfo.xstaff)}">
																<label class="control-label col-md-4" for="xstaff"  th:text="#{eim.form.label.xstaff}">Employee ID</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xstaff}">
																	<input type="text" class="form-control" th:value="*{xstaff}" disabled="disabled">
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xname" th:text="#{eim.form.label.xname}">Employee Name </label>
																<div class="col-md-8">
																	<input type="text" class="form-control"  maxlength="100" th:field="*{xname}" required="required"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xfname" th:text="#{eim.form.label.xfname}">Father's Name </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xfname}" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xmname" th:text="#{eim.form.label.xmname}">Mother's Name </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xmname}" maxlength="100"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xmadd" th:text="#{eim.form.label.xmadd}">Mailing Address </label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" th:field="*{xmadd}" placeholder="Mailing Address here.."></textarea>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xpadd"  th:text="#{eim.form.label.xpadd}">Permanent Address </label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" th:field="*{xpadd}" placeholder="Permanent Address here.."></textarea>
																</div>
															</div>
															
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xbirthdate" th:text="#{eim.form.label.xbirthdate}">Date of Birth</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xbirthdate"
																			name="xbirthdate"
																			th:value="${empinfo.xbirthdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(empinfo.xbirthdate, df)}"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xsex"  th:text="#{eim.form.label.xsex}">Sex</label>
																<div class="col-md-8">
																	<select class="form-control"  th:field="*{xsex}">
																		<option value="Male">Male</option>
																		<option value="Male">Female</option>
																		<option value="Male">Other</option>
																		<!--<option th:each="d : ${sexTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>-->
																	</select>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xmstat" th:text="#{eim.form.label.xmstat}">Marital Status </label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xmstat}">
																		<option value="Single">Single</option>
																		<option value="Married">Married</option>
																		<option value="Divorced">Divorced</option>
																		<option value="Widowed">Widowed</option>
																		<!--<option th:each="d : ${maritalStatus}" th:value="${d.xcode}" th:text="${d.xcode}"></option>-->
																	</select>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xdeptname" th:text="#{eim.form.label.xdeptname}">Department Name</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xdeptname}">
																		<option th:each="d : ${departmentNames}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xsec" th:text="#{eim.form.label.xsec}">Section</label>
																<div class="col-md-8">
																	<input type="text" class="form-control"  maxlength="100" th:field="*{xsec}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xdesignation" th:text="#{eim.form.label.xdesignation}">Designation</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xdesignation}">
																		<option th:each="d : ${designationNames}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xdatejoin" th:text="#{eim.form.label.xdatejoin}">Date of Join</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xdatejoin"
																			name="xdatejoin"
																			th:value="${empinfo.xdatejoin == null ? #dates.format(#dates.createNow(), df) : #dates.format(empinfo.xdatejoin, df)}"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xemail" th:text="#{eim.form.label.xemail}">Email </label>
																<div class="col-md-8">
																	<input type="email" class="form-control"  maxlength="100" th:field="*{xemail}"/>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xempstatus" th:text="#{eim.form.label.xempstatus}">Employee Status</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xempstatus}">
																		<option value="Closed">Closed</option>
																		<option value="Heldup">Heldup</option>
																		<option value="Inactive">Inactive</option>
																		<option value="Normal">Normal</option>
																		<option value="Resigned">Resigned</option>
																		<option value="Retired">Retired</option>
																		<option value="Terminated">Terminated</option>
																	</select>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xdistrict" th:text="#{eim.form.label.xdistrict}">District</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xdistrict}">
																		<option th:each="d : ${districtNames}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xbank" th:text="#{eim.form.label.xbank}">Bank Name</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																		class="form-control searchsuggest" 
																		placeholder="Search..." 
																		th:value="${#strings.isEmpty(empinfo.xbank) ? '' : empinfo.xbank + ' - ' + empinfo.xbname}" 
																		th:attr="search-url='search/bank'"/>
																	<input type="hidden" class="required" id="search-val" th:field="*{xbank}" value=""/>
																	<input type="hidden" id="search-des" th:value="*{xbank}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xacc" th:text="#{eim.form.label.xacc}">Account No.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100"  th:field="*{xacc}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xtin" th:text="#{eim.form.label.xtin}">TIN No.</label>
																<div class="col-md-8">
																	<input type="number" class="form-control" maxlength="100" th:field="*{xtin}"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xempcategory" th:text="#{eim.form.label.xempcategory}">Employee Category</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xempcategory}">
																		<option th:each="d : ${employeeCategories}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															
															<!-- <div class="form-group">
																<label class="control-label col-md-4" for="xstatus">Status</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xstatus}">
																	<input type="text" class="form-control" th:value="Open" disabled="disabled">
																</div>
															</div> -->
															<div class="form-group">
																<label class="control-label col-md-4" for="xbloodgroup" th:text="#{eim.form.label.xbloodgroup}">Blood Group</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xbloodgroup}">
																		<option value="A+">A+</option>
																		<option value="A-">A-</option>
																		<option value="B+">B+</option>
																		<option value="B-">B-</option>
																		<option value="O+">O+</option>
																		<option value="O-">O-</option>
																		<option value="AB+">AB+</option>
																		<option value="AB-">AB-</option>
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xphone" th:text="#{eim.form.label.xphone}">Phone No.</label>
																<div class="col-md-8">
																	<input type="number" class="form-control" maxlength="100" th:field="*{xphone}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xgross" th:text="#{eim.form.label.xgross}">Gross Salary</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" th:field="*{xgross}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xemname" th:text="#{eim.form.label.xemname}">Emergency Contact</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" th:field="*{xemname}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xrelation" th:text="#{eim.form.label.xrelation}">Relation</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" th:field="*{xrelation}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xemcmobile" th:text="#{eim.form.label.xemcmobile}">Mobile No.(Em. Con.)</label>
																<div class="col-md-8">
																	<input type="number" class="form-control" maxlength="100" th:field="*{xemcmobile}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xmobile" th:text="#{eim.form.label.xmobile}">Mobile No.</label>
																<div class="col-md-8">
																	<input type="number" class="form-control" maxlength="100" th:field="*{xmobile}"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xreligion" th:text="#{eim.form.label.xreligion}">Religion</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xreligion}">
																		<option value="Islam">Islam</option>
																		<option value="Hinduism">Hinduism</option>
																		<option value="Christianity">Christianity</option>
																		<option value="Buddhism">Buddhism</option>
																		<option value="Unaffiliated">Unaffiliated</option>
																		<option value="Folk">Folk</option>
																		<option value="Other">Other</option>
																	</select>
																</div>
															</div>
															<!-- <div class="form-group">
																<label class="control-label col-md-4" for="">Signature</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" placeholder="Image Upload"/>
																</div>
															</div> -->
															<div class="form-group">
																<label class="control-label col-md-4" for="xshortname" th:text="#{eim.form.label.xshortname}">Short Name</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" maxlength="100" th:field="*{xshortname}"/>
																</div>
															</div>
															
														</div>
														<div class="col-md-6">
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1> All Employee Info</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th th:text="#{eim.table.heading.xstaff}">EID</th>
														<th th:text="#{eim.table.heading.xname}">Name</th>
														<th th:text="#{eim.table.heading.xdeptname}">Department</th>
														<th th:text="#{eim.table.heading.xdesignation}">Designation</th>
														<th th:text="#{eim.table.heading.xempstatus}">Employee Status</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="s : ${allEmpinfos}">
													<td>
														<a th:href="@{/employeeinfo/} + ${s.xstaff}" th:text="${s.xstaff}"></a>
													</td>
													<td th:text="${s.xname}"></td>
													<td th:text="${s.xdeptname}"></td>
													<td th:text="${s.xdesignation}"></td>
													<td th:text="${s.xempstatus}"></td>
												</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					
					
					
				
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div id="paysalarymodal-section"></div>
		
		  <!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
