<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Test</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/test}">Test</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center">Test</h1>
						</div>

						<div class="row">
							<div class="col-md-6" style="padding-left: 30px; padding-right: 30px;">
								<div class="row">
									<section id="data-maintenance" style="margin-top: 30px;">
									<div id="testform" th:fragment="testform">
										<div class="section-header sectionbartoggle"></div>
										<div class="form-action-button">
											<a th:href="@{/test}" class="btn btn-sm btn-default" data-reloadelementid="testform"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xclear}"> Clear</span></a>
											<a th:if="${#strings.isEmpty(test.xpornum)}" th:href="@{/test}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xsave}"> Save</span></a>
											<a th:if="${not #strings.isEmpty(test.xpornum) and test.xstatuspor eq 'Open'}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> <span style="margin-left:2px;" th:text="#{button.value.xupdate}"> Update</span></a>
											<a th:if="${not #strings.isEmpty(test.xpornum) and test.xstatuspor eq 'Open'}" th:href="@{/test/archive/} + ${test.xpornum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xdelete}"> Delete</span></a>
										</div>
										<div class="section-body section-border">
											<div id="testform" th:fragment="testform">
												<form id="mainform" class="form-horizontal" th:action="@{/test/save}" th:object="${test}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
													<input type="hidden" th:field="*{xtypetrn}"/>
													<input type="hidden" th:field="*{xtype}"/>
													<div class="row">
														<div class="col-md-6">
															<div class="form-group" th:if="${#strings.isEmpty(test.xpornum)}">
																<label class="control-label col-md-4" for="xtrn" th:text="#{po.form.label.xtype}">P.O. Code</label>
																<div class="col-md-4">
																	<select class="form-control" id="xtrn" name="xtrn">
																		<option th:each="p : ${prefix}" th:value="${p.xtrn}" th:text="${p.xtrn}"></option>
																	</select>
																</div>
															</div>

															<div class="form-group" th:if="${not #strings.isEmpty(test.xpornum)}">
																<label class="control-label col-md-4" for="xpornum" th:text="#{po.form.label.xpornum}">P.O. Number</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xpornum}">
																	<input type="text" class="form-control" th:value="*{xpornum}" disabled="disabled">
																</div>
															</div>

															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xdate" th:text="#{po.form.label.xdate}">Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xdate"
																			name="xdate"
																			th:value="${test.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(test.xdate, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xcus" th:text="#{po.form.label.xcus}">Supplier</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest" 
																			placeholder="Search..." 
																			th:value="${#strings.isEmpty(test.xcus) ? '' : test.xcus + ' - ' + test.xorg}" 
																			th:attr="search-url='search/supplier'"/>
																	<input type="hidden" id="search-val" th:field="*{xcus}"/>
																	<input type="hidden" id="search-des" th:value="*{xcus}"/>
																</div>
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label col-md-4" for="xref" th:text="#{po.form.label.xref}">Reference</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xref}">
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xwh" th:text="#{po.form.label.xwh}">Warehouse</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xwh}">
																		<option value="">-- Select --</option>
																		<option th:each="wh : ${warehouse}" th:value="${wh.xcode}" th:text="${wh.xcode} + ' - ' + ${wh.xdescdet}"></option>
																	</select>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xtotamt" th:text="#{po.form.label.xtotamt}">Total Amount</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xtotamt}">
																	<input type="text" class="form-control" th:value="*{xtotamt}" min="0" disabled="disabled">
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xstatuspor" th:text="#{po.form.label.xstatuspor}">Status</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xstatuspor}">
																	<input type="text" class="form-control" th:value="*{xstatuspor}" disabled="disabled">
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xnote" th:text="#{po.form.label.xnote}">Note</label>
																<div class="col-md-8">
																	<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
																</div>
															</div>

														</div>

														
													</div>
												</form>
												
												
											</div>
										</div>
										<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
										<script type="text/javascript">
											$(document).ready(function(){
												ck.ui.config.editmode();
												ck.ui.config.dateAndTimepicker();
											})
										</script>
									</div>
								</section>
								</div>
								<div class="row">
									2
								</div>
							</div>

							<div class="col-md-6" style="padding-left: 30px; padding-right: 30px;">
								<div class="row">
									3
								</div>
								<div class="row">
									4
								</div>
							</div>
							
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="workorderdetailmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>