<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title ht:text="#{pdtt.page.title}">PD Transaction Types</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/system/pdtranstype}">PD Transaction Types</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div clas="row">
							<h1 class="text-center" ht:text="#{pdtt.page.heading}">PD Transaction Types</h1>
						</div>

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										
									</div>
									<div class="form-action-button">
										<a th:href="@{/system/pdtranstype}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xclear}"> Clear</span></a>
										<a th:if="${#strings.isEmpty(xcodes.xcode)}" th:href="@{/system/pdtranstype}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xsave}"> Save</span></a>
										<a th:if="${not #strings.isEmpty(xcodes.xcode)}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> <span style="margin-left:2px;" th:text="#{button.value.xupdate}"> Update</span></a>
										<a th:if="${not #strings.isEmpty(xcodes.xcode)}" th:href="@{/system/pdtranstype/archive/} + ${xcodes.xtype} + '/' + ${xcodes.xcode}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xdelete}"> Delete</span></a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/system/pdtranstype/save}" th:object="${xcodes}" method="post">
											<input type="hidden" th:if="${not #strings.isEmpty(xcodes.copyid)}" id="copyid" name= "copyid"/>
											<input type="hidden" th:if="${not #strings.isEmpty(xcodes.xtype) and not #strings.isEmpty(xcodes.xcode)}" th:field="*{xcode}"/>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label class="control-label col-md-4" for="xtype" ht:text="#{pdtt.form.label.xtype}">Code Type</label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xtype}"  disabled="disabled">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xcode" ht:text="#{pdtt.form.label.xcode}">Code</label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xcode}" required="required" maxlength="100"  th:disabled="${not #strings.isEmpty(xcodes.xtype) and not #strings.isEmpty(xcodes.xcode)}">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xlong" ht:text="#{pdtt.form.label.xlong}">Description</label>
														<div class="col-md-6">
															<input type="text" class="form-control" th:field="*{xlong}">
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xprops" ht:text="#{pdtt.form.label.xprops}">Type</label>
														<div class="col-md-6">
															<select class="form-control" th:field="*{xprops}">
																<option value="Addition">Addition</option>
																<option value="Deduction">Deduction</option>
															</select>
														</div>
													</div>
													<div class="form-group input2">
														<label class="control-label col-sm-4" for="zactive" ht:text="#{pdtt.form.label.zactive}">Is Active ?</label>
														<div class="col-sm-8">
															<div class="checkbox">
																<label><input type="checkbox" class="form-control-input2" th:field="*{zactive}" value="Y"/></label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>List of PD Transaction Types </h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap" id="xcodestable" th:fragment="xcodestable">
											<thead>
												<tr><th ht:text="#{pdtt.table.heading.xcode}">Code</th>
													<th ht:text="#{pdtt.table.heading.xlong}">Description</th>
													<th ht:text="#{pdtt.table.heading.xprops}">Type</th>
													<th ht:text="#{pdtt.table.heading.zactive}">Active</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="xcd : ${xcodesList}">
													<td><a th:href="@{/system/pdtranstype/} + ${xcd.xtype} + '/' +${xcd.xcode}" th:text="${xcd.xcode}"></a></td>
													<td th:text="${xcd.xlong}"></td>
													<td th:text="${xcd.xprops}"></td>
													<td th:text="${xcd.zactive ? 'Y' : 'N'}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</section>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>