<!-- Modal -->
<div id="imissuedetailmodal" th:fragment="imissuedetailmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update Item</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form id="mainform-modal" th:action="@{/project/imissueheader/imissuedetail/save}" method="post" class="form-horizontal" th:object="${imissuedetail}">
						<input type="hidden" th:field="*{xissuenum}"/>
						<input type="hidden" th:field="*{xrow}"/>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="xitem">Item</label>
								<div class="col-sm-8">
									<input 	type="text" 
											class="form-control searchsuggest xitemsearch" 
											placeholder="Search..." 
											th:value="${#strings.isEmpty(imissuedetail.xitem) ? '' : imissuedetail.xitem + ' - ' + imissuedetail.itemname}" 
											th:attr="search-url='search/nonServiceCaitem'"/>
									<input type="hidden" id="search-val" th:field="*{xitem}" class="search-xitem"/>
									<input type="hidden" id="search-des" th:value="*{xitem}"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xunit">Unit</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xunit}"/>
									<input type="text" th:value="${imissuedetail.xunit}" class="form-control xunitpur-display" disabled="disabled"/>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-4" for="xqty">Quantity</label>
								<div class="col-sm-8">
									<input type="text"  class="form-control qty" th:field="*{xqty}" min="0"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xrate">Unit Price</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xrate}"/>
									<input type="text"  class="form-control xrate-display" th:value="${imissuedetail.xrate}" disabled="disabled"/>
								</div>
							</div>
							
						</div>
						<div class="col-md-6">
							
							<div class="form-group">
								<label class="control-label col-sm-4" for="xlineamt">Line Amount</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xlineamt}"> 
									<input type="text" class="form-control xlineamt" th:value="*{xlineamt}" disabled="disabled"/>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-4" for="xnote" th:text="#{po.modal.form.label.xnote}">Note</label>
								<div class="col-sm-8">
									<textarea rows="6" cols="" class="form-control" th:field="*{xnote}"></textarea>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-4" for="xpurpose">Consumption Purpose</label>
								<div class="col-sm-8">
									<select class="form-control" th:field="*{xpurpose}">
										<option value="">--Select--</option>
										<option th:each="cu : ${purpose}" th:text="${cu.xcode}" th:value="${cu.xcode}"></option>
									</select>
								</div>
							</div>

						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
				//$(".xitemsearch").click();

				if( ($('#xgitem').val() == 'Services') || ($('#xgitem').val() == 'Service') || ($('#xgitem').val() == 'Cost') || ($('#xgitem').val() == 'Non-Inventory') || ($('#xgitem').val() == 'Servicing') ){
					$('.purpose-selection').removeClass('nodisplay');
				}
				
				
				var olditem = $('input[name="xitem"]').val();

				// Get item purchase unit
				$('.xitemsearch').on('blur', function(){
					setTimeout(() => {
						if($('input[name="xitem"]').val() == ''){
							$('input.xunitpur-display').val('');
							return;
						}

						if(olditem != '' && olditem == $('input[name="xitem"]').val()) return;

						loadingMask2.show();
						$.ajax({
							url : getBasepath() + '/project/imissueheader/itemdetail/' + $('input[name="xitem"]').val(),
							type : 'GET',
							success : function(data) {
								loadingMask2.hide();
								if(data == undefined || data == null) return;

								$('input[name="xunit"]').val(data.xunitpur);
								$('input.xunitpur-display').val(data.xunitpur);	

							},
							error : function(jqXHR, status, errorThrown){
								showMessage(status, "Something went wrong .... ");
								loadingMask2.hide();
							}
						})
					}, 1000);
				});

			});
		</script>
	</div>
</div>