<!-- Modal -->
<div id="loanwriteoffmodal" th:fragment="loanwriteoffmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update Loan Write Off Info</h4>
			</div>
			
			<div class="modal-body">
				<div class="row">
				<form id="mainform-modal" class="form-horizontal" th:action="@{/payroll/pdloantrn/loanwriteoff/save}" method="post" th:object="${lwo}" th:with="df=${'E, dd-MMM-yyyy'}">
				<input type="hidden" th:if="${xrow ne 0}" th:field="*{xrow}"/>
				<input type="hidden" th:field="*{xvoucher}"/>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="section-header sectionbartoggle">
										<h1></h1>
									</div>
								</div>
							</div>
						</div>
						</div><br>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6">

										<div class="form-group datepicker">
											<label class="control-label col-md-4" for="xdate" th:text="#{laae.modal.form.label.xdate}">Date</label>
											<div class="input-group date col-md-6 datepicker">
												<input 	type="datepicker" 
														class="form-control" 
														id="xdate"
														name="xdate"
														th:value="${lwo.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(lwo.xdate, df)}"/>
												<div class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</div>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-4" for="xloanamt" th:text="#{laae.modal.form.label.xloanamt}">Loan Amount</label>
											<div class="col-md-7">
												<input type="text" class="form-control" th:field="*{xloanamt}" min="0" >
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-4" for="xstatus" th:text="#{laae.modal.form.label.xstatus}">Status</label>
											<div class="col-md-7">
												<input type="text" class="form-control" th:field="*{xstatus}" min="0" disabled="disabled">
											</div>
										</div>

									</div>
									<div class="col-md-6">

										<div class="form-group">
											<label class="control-label col-md-3" for="xstatustag" th:text="#{laae.modal.form.label.xstatustag}">Write Off Status</label>
											<div class="col-md-7">
												<input type="text" class="form-control" th:field="*{xstatustag}" disabled="disabled">
												
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-3" for="xnote" th:text="#{laae.modal.form.label.xnote}">Remarks</label>
											<div class="col-md-7">
												<textarea class="form-control" rows="3" th:field="*{xnote}" placeholder="Note"></textarea>
											</div>
										</div>	

									</div>
									<div class="col-md-6">
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
				
			});
		</script>
</div>
