<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Inventory Consumption Process</title>
<meta th:remove="tag" th:include="commons :: common-meta" />
<meta th:remove="tag" th:include="commons :: common-css" />
<meta th:remove="tag" th:include="commons :: common-js" />
</head>
<body>
	<!-- Header section -->
	<div class="header-section" th:include="commons :: header-section"></div>
	
		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/inventory/consumption}">Inventory Consumption Process</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center">Inventory Consumption Process</h1>
						</div>

						<div class="row">
							<div class="col-md-3">
							</div>
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										
									</div>
									<!--<div  class="btn btn-sm btn-primary confirm-btn-link"><i class="fas fa-clipboard-check"></i> Confirm</a
									</div>-->
									<div class="form-action-button">
										<a class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> <span style="margin-left:2px;"> Process</span></a>
									</div>
									<div class="section-body section-border">
										<div id="opdoheaderform" th:fragment="opdoheaderform">
											<form id="mainform" class="form-horizontal" th:action="@{/inventory/consumption/process}" th:object="${consumption}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
												
												<div class="row">
													
													<div class="col-md-6">

														<div class="form-group datepicker">
															<label class="control-label col-md-4" for="xstartdate">Start Date</label>
															<div class="input-group date col-md-7 datepicker">
																<input 	type="datepicker" 
																		class="form-control" 
																		id="xstartdate"
																		name="xstartdate"
																		th:value="${consumption.xstartdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(consumption.xstartdate, df)}"/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div>
														
														<div class="form-group datepicker">
															<label class="control-label col-md-4" for="xdatexenddate">End Date</label>
															<div class="input-group date col-md-7 datepicker">
																<input 	type="datepicker" 
																		class="form-control" 
																		id="xdatexenddate"
																		name="xdatexenddate"
																		th:value="${consumption.xdatexenddate == null ? #dates.format(#dates.createNow(), df) : #dates.format(consumption.xdatexenddate, df)}"/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div>

													</div>
													<div class="col-md-6">

														<div class="form-group datepicker">
															<label class="control-label col-md-4" for="xdate">GL Date</label>
															<div class="input-group date col-md-7 datepicker">
																<input 	type="datepicker" 
																		class="form-control" 
																		id="xdate"
																		name="xdate"
																		th:value="${consumption.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(consumption.xdate, df)}"/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xwh">Store</label>
															<div class="col-md-8">
																<select class="form-control" th:field="*{xwh}">
																	<option th:each="wh : ${warehouses}" th:value="${wh.xcode}" th:text="${wh.xcode}+' - '+${wh.xdescdet}"></option>
																</select>
															</div>
														</div>
														
														<div class="form-group">
															<label class="control-label col-md-4" for="xtrn">Process Type</label>
															<div class="col-md-8">
																<select class="form-control" th:field="*{xtrn}">
																	<option th:each="wh : ${processType}" th:value="${wh.xcode}" th:text="${wh.xcode}"></option>
																</select>
															</div>
														</div>
														

													</div>
												</div>
											</form>
										</div>
									</div>
								</section>
							</div>

							
						</div>
						
					</div>

				</div>
			</div>
		</div>
		
	<!-- Modal -->
	<div id="opdodetailmodal-section"></div>

	<!-- Footer section -->
	<div class="footer-section" th:include="commons :: footer-section"></div>
</body>


</html>