<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sales Order List</title>
<meta th:remove="tag" th:include="commons :: common-meta" />
<meta th:remove="tag" th:include="commons :: common-css" />
<meta th:remove="tag" th:include="commons :: common-js" />
</head>
<body>
	<!-- Header section -->
	<div class="header-section" th:include="commons :: header-section"></div>
	
		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/salesninvoice/opord}">Sales Order List</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center">Sales Order List</h1>
						</div>
						<div class="row">

							<div class="col-md-12">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-body">
										<div>
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th th:text="#{aso.table.heading.xordernum}">SO Number</th>
														<th th:text="#{aso.table.heading.xdate}">Date</th>
														<th th:text="#{aso.table.heading.xcus}">Customer</th>
														<th th:text="#{aso.table.heading.xstatus}">Status</th>
													</tr>
												</thead>
												<tbody th:with="df=${'E, dd-MMM-yyyy'}">
													<tr th:each="opdo : ${allOpordHeader}">
														<td>
															<a th:href="@{/salesninvoice/opord/} + ${opdo.xordernum}" th:text="${opdo.xordernum}"></a>
														</td>
														<td th:text="${#dates.format(opdo.xdate, df)}"></td>
														<td th:text="${#strings.isEmpty(opdo.xcus) ? '' : opdo.xcus + ' - ' + opdo.xorg}"></td>
														<td th:if="${opdo.xstatusord != 'Full Received'}" th:text="${opdo.xstatusord}"></td>
														<td th:if="${opdo.xstatusord == 'Full Received'}">Invoice Created</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>

							</div>
						</div>
						
					</div>

				</div>
			</div>
		</div>
		
	<!-- Modal -->
	<div id="oporddetailmodal-section"></div>

	<!-- Footer section -->
	<div class="footer-section" th:include="commons :: footer-section"></div>
</body>

<script>
		$(document).ready(function(){
			
			$('a.confirmopdo-btn-link').off('click').on('click', function(e){
				e.preventDefault();
				var dornum = $("#xordernum").val();
				
				$.ajax({
					url: getBasepath() + "/salesninvoice/opord/confirmopdo/" + dornum,
					success: function(result){
						var status = result.status.toLowerCase();
						
						if(status == "success")
							showMessage("success", "Invoice Confirmed");
						else if(status == "error")
							showMessage("error", result.message);
						//location.reload(true);
						setTimeout(() => {
							location.reload(true);
						}, 1200);
					}
				});
			});
			
			/* $('a.returngrn-btn-link').off('click').on('click', function(e){
				e.preventDefault();
				var grnNum = $("#xgrnnum").val();
				
				$.ajax({
					url: getBasepath() + "/salesninvoice/opord/returngrn/" + grnNum,
					success: function(result){
						var status = result.status.toLowerCase()
						
						if(status == "success")
							showMessage("success", "GRN return order created. Finalize from GRN return.");
						else if(status == "error")
							showMessage("error", "Somthing went wrong.....");
						//location.reload(true);
						setTimeout(() => {
							location.reload(true);
						}, 1200);
					}
				});
			}); */
			
			$(".vatait-select").on("change", function(){
				var vataitId = $(".vatait-select").val()
				$.ajax({
					url: getBasepath() + "/mastersetup/vatait/vataitdetail/" + vataitId,
					type : 'GET',
					beforeSend : loadingMask2.show(),
					success: function(data){
						loadingMask2.hide();
						console.log(data.xvat);
						var vatPercent = parseFloat(data.xvat);
						var aitPercent = parseFloat(data.xaitamt);
						var vatAmount = (parseFloat($("input[name='xtotamt']").val()) * vatPercent)/100;
						var aitAmount = (parseFloat($("input[name='xtotamt']").val()) * aitPercent)/100;						
						
						$('input[name="xvatamt"]').val(vatAmount);
						$('input.xvatamt-show').val(vatAmount);
						$('input[name="xaitamt"]').val(aitAmount);
						$('input.xaitamt-show').val(aitAmount);
					},
					error : function(jqXHR, status, errorThrown){
						showMessage(status, "Something went wrong .... ");
						loadingMask2.hide();
					}
				});
			});
			
			
		});
	</script>
</html>