<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{potgl.page.title}">PO to GL Interface</title>
<meta th:remove="tag" th:include="commons :: common-meta" />
<meta th:remove="tag" th:include="commons :: common-css" />
<meta th:remove="tag" th:include="commons :: common-js" />
</head>
<body>
	<!-- Header section -->
	<div class="header-section" th:include="commons :: header-section"></div>
	
		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/system/potoapi}">PO to GL Interface</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center"  th:text="#{potgl.page.heading}">PO to GL Interface</h1>
						</div>

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										
									</div>
									<div class="form-action-button">
										<a th:href="@{/system/potoapi}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xclear}"> Clear</span></a>
										<a th:if="${#strings.isEmpty(potoapi.xtype)}" th:href="@{/system/potoapi}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xsave}"> Save</span></a>
										<a th:if="${not #strings.isEmpty(potoapi.xtype) and potoapi.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> <span style="margin-left:2px;" th:text="#{button.value.xupdate}"> Update</span></a>
										<a th:if="${not #strings.isEmpty(potoapi.xtype) and potoapi.zactive == true}" th:href="@{/system/potoapi/delete/} + ${potoapi.xtype} + '/' + ${potoapi.xgsup} + '/' + ${potoapi.xgitem}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xdelete}"> Delete</span></a>
									</div>
									<div class="section-body section-border">
										<div id="opdoheaderform" th:fragment="opdoheaderform">
											<form id="mainform" class="form-horizontal" th:action="@{/system/potoapi/save}" th:object="${potoapi}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
												<input type="hidden" th:field="*{newData}"/>
												<div class="row">
													<div class="col-md-6">

														<div class="form-group" th:if="${potoapi.newData}">
															<label class="control-label col-md-4" for="xtype" th:text="#{potgl.form.label.xtype}">Payment Type</label>
															<div class="col-md-8">
																<select class="form-control" th:field="*{xtype}">
																	<option value="Cash">Cash</option>
																	<option value="Other">Other</option>
																	<option value="Purchase Return">Purchase Return</option>
																</select>
															</div>
														</div>

														<div class="form-group" th:if="${not potoapi.newData}">
															<label class="control-label col-md-4" for="xtype" th:text="#{potgl.form.label.xtype}">Payment Type</label>
															<div class="col-md-8">
																<input type="hidden" class="form-control" th:field="*{xtype}"/>
																<input type="text" class="form-control" th:value="*{xtype}" disabled="disabled">
															</div>
														</div>
														
														<div class="form-group" th:if="${potoapi.newData}">
															<label class="control-label col-md-4" for="xgsup" th:text="#{potgl.form.label.xgsup}">Supplier Group</label>
															<div class="col-md-8">
																<select class="form-control" th:field="*{xgsup}">
																	<option th:each="d : ${supGroup}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																</select>
															</div>
														</div>

														<div class="form-group" th:if="${not potoapi.newData}">
															<label class="control-label col-md-4" for="xgsup" th:text="#{potgl.form.label.xgsup}">Supplier Group</label>
															<div class="col-md-8">
																<input type="hidden" class="form-control" th:field="*{xgsup}"/>
																<input type="text" class="form-control" th:value="*{xgsup}" disabled="disabled">
															</div>
														</div>

														<div class="form-group" th:if="${potoapi.newData}">
															<label class="control-label col-md-4" for="xgitem" th:text="#{potgl.form.label.xgitem}">Item Group</label>
															<div class="col-md-8">
																<select class="form-control" th:field="*{xgitem}">
																	<option th:each="d : ${itemGroup}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																</select>
															</div>
														</div>

														<div class="form-group" th:if="${not potoapi.newData}">
															<label class="control-label col-md-4" for="xgitem" th:text="#{potgl.form.label.xgitem}">Item Group</label>
															<div class="col-md-8">
																<input type="hidden" class="form-control" th:field="*{xgitem}"/>
																<input type="text" class="form-control" th:value="*{xgitem}" disabled="disabled">
															</div>
														</div>

													</div>
													<div class="col-md-6">
														<div class="form-group">
															<label class="control-label col-md-4" for="xaccdr" th:text="#{potgl.form.label.xaccdr}">Debit Account</label>
															<div class="col-sm-8">
																<input 	type="text" 
																		class="form-control searchsuggest" 
																		placeholder="Search..." 
																		th:value="${#strings.isEmpty(potoapi.xaccdr) ? '' : potoapi.xaccdr + ' - ' + potoapi.xddesc}" 
																		th:attr="search-url='search/account'"/>
																<input type="hidden" id="search-val" th:field="*{xaccdr}" />
																<input type="hidden" id="search-des" th:value="*{xaccdr}"/>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xacccr" th:text="#{potgl.form.label.xacccr}">Credit Account</label>
															<div class="col-sm-8">
																<input 	type="text" 
																		class="form-control searchsuggest" 
																		placeholder="Search..." 
																		th:value="${#strings.isEmpty(potoapi.xacccr) ? '' : potoapi.xacccr + ' - ' + potoapi.xcdesc}" 
																		th:attr="search-url='search/account'"/>
																<input type="hidden" id="search-val" th:field="*{xacccr}"/>
																<input type="hidden" id="search-des" th:value="*{xacccr}"/>
															</div>
														</div>
														

													</div>
												</div>
											</form>
										</div>
									</div>
								</section>
							</div>

							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>PO to GL List</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: auto;">
											<table class="table table-striped table-bordered normaltable nowrap">
												<thead>
													<tr>
														<th th:text="#{potgl.table.heading.xtype}">Payment Type</th>
														<th th:text="#{potgl.table.heading.xgsup}">Supplier Group</th>
														<th th:text="#{potgl.table.heading.xgitem}">Item Group</th>
														<th th:text="#{potgl.table.heading.xaccdr}">Debit Account</th>
														<th th:text="#{potgl.table.heading.xacccr}">Credit Account</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="ar: ${allPotoapi}">
															
														<td><a th:href="@{/system/potoapi/}+ ${ar.xtype}+ '/' +${ar.xgsup}+ '/' +${ar.xgitem} " th:text="${ar.xtype}"></a></td>
														<td th:text="${ar.xgsup}"></td>
														<td th:text="${ar.xgitem}"></td>
														<td th:text="${#strings.isEmpty(ar.xaccdr) ? '' : ar.xaccdr + ' - ' + ar.xddesc}"></td>
														<td th:text="${#strings.isEmpty(ar.xacccr) ? '' : ar.xacccr + ' - ' + ar.xcdesc}"></td>
														</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>

							</div>
						</div>
						
					</div>

				</div>
			</div>
		</div>
		
	<!-- Modal -->
	<div id="opdodetailmodal-section"></div>

	<!-- Footer section -->
	<div class="footer-section" th:include="commons :: footer-section"></div>
</body>


</html>