<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Project Master</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/project/caproject}">Project Master</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center">Project Master</h1>
						</div>

						<div class="row">
							<div class="col-md-6" style="padding-left: 30px; padding-right: 30px;">
								<div class="row">
									<!-- Section list head -->
									<section id="data-maintenance" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
										</div>
										<div class="form-action-button">
											<a th:href="@{/project/caproject}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;"> Clear</span></a>
											<a th:if="${#strings.isEmpty(caproject.xproject)}" th:href="@{/project/caproject}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;"> Save</span></a>
											<a th:if="${not #strings.isEmpty(caproject.xproject) and caproject.xstatus == 'Open' and caproject.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> <span style="margin-left:2px;"> Update</span></a>
											<a th:if="${not #strings.isEmpty(caproject.xproject) and caproject.xstatus == 'Open'  and caproject.zactive == true}" th:href="@{/project/caproject/delete/} + ${caproject.xproject}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;"> Delete</span></a>
											<a th:if="${not #strings.isEmpty(caproject.xproject) and caproject.xstatus == 'Open'  and caproject.zactive == true}" th:href="@{/project/caproject/confirm/} + ${caproject.xproject}" class="btn btn-sm btn-warning confirm-btn-link"><i class="fas fa-paper-plane"></i> <span style="margin-left:2px;"> Close Project</span></a>
											<a th:if="${not #strings.isEmpty(caproject.xproject)}" th:href="@{/project/caproject/print/} + ${caproject.xproject}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-print"></i> Print Project</a>
										</div>
										<div class="form-action-button">
											<!--<a th:if="${not #strings.isEmpty(caproject.xproject) and caproject.xstatus == 'Open'}" th:href="@{/project/caproject/porplan/} + ${caproject.xproject}" class="btn btn-sm btn-info confirm-btn-link"><i class="glyphicon glyphicon-plus"></i> <span style="margin-left:2px;"> Project Planning</span></a>-->
											<!--<a th:if="${not #strings.isEmpty(caproject.xproject) and caproject.xstatus == 'Open'}" th:href="@{/project/caproject/escost/} + ${caproject.xproject}" class="btn btn-sm btn-info confirm-btn-link"><i class="glyphicon glyphicon-plus"></i> <span style="margin-left:2px;"> Estimated Cost</span></a>-->
										</div>
										<div class="form-action-button">
											<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-fast-backward"></i> <span style="margin-left:2px;"> Top</span></a>
											<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-chevron-left"></i> <span style="margin-left:2px;"> Previous</span></a>
											<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-chevron-right"></i> <span style="margin-left:2px;"> Next</span></a>
											<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-fast-forward"></i> <span style="margin-left:2px;"> Bottom</span></a>
										</div>
										<div class="section-body section-border">
											<div id="caprojectheaderform" th:fragment="caprojectheaderform">
												<form id="mainform" class="form-horizontal" th:action="@{/project/caproject/save}" th:object="${caproject}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
													<input type="hidden" class="form-control" th:field="*{xtypetrn}">
													<input type="hidden" th:field="*{newData}"/>
													<div class="row">
														<div class="col-md-6">

															<!--<div class="form-group" th:if="${#strings.isEmpty(caproject.xproject)}">
																<label class="control-label col-md-4" for="xtrn">Project ID</label>
																<div class="col-md-6">
																	<select class="form-control" th:field="*{xtrn}">
																		<option th:each="prefix : ${prefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
																	</select>
																</div>
															</div>

															<div class="form-group" th:if="${not #strings.isEmpty(caproject.xproject)}">
																<label class="control-label col-md-4" for="xproject ">Project ID</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:value="*{xproject}" disabled="disabled">
																	<input type="hidden" class="form-control" th:field="*{xproject}">
																</div>
															</div>-->

															<div class="form-group" th:if="${caproject.newData}">
																<label class="control-label col-md-4" for="xproject">Project</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest" 
																			placeholder="Search..." 
																			th:value="${#strings.isEmpty(caproject.xproject) ? '' : caproject.xproject + '-' + caproject.xdesc}" 
																			th:attr="search-url='search/project'"
																			/>
																	<input type="hidden" class="required" id="search-val" th:field="*{xproject}" value=""/>
																	<input type="hidden" id="search-des" th:value="*{xproject}"/>
																</div>
															</div>

															<div class="form-group" th:if="${not caproject.newData}">
																<label class="control-label col-md-4" for="xproject ">Project</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:value="${#strings.isEmpty(caproject.xproject) ? '' : caproject.xproject + '-' + caproject.xdesc}"  disabled="disabled">
																	<input type="hidden" class="form-control" th:field="*{xproject}">
																</div>
															</div>

															<!--<div class="form-group">
																<label class="control-label col-md-4" for="xname">Project Name</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xname}">
																</div>
															</div>-->

															<div class="form-group">
																<label class="control-label col-md-4" for="xcus">Customer</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest" 
																			placeholder="Search..." 
																			th:value="${#strings.isEmpty(caproject.xcus) ? '' : caproject.xcus + ' - ' + caproject.xorg}" 
																			th:attr="search-url='search/customer'"
																			/>
																	<input type="hidden" class="required" id="search-val" th:field="*{xcus}" value=""/>
																	<input type="hidden" id="search-des" th:value="*{xcus}"/>
																</div>
															</div>
		
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xdate">Planning Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xdate"
																			name="xdate"
																			th:value="${caproject.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(caproject.xdate, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
		
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xestartdate">Estimated Start Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xestartdate"
																			name="xestartdate"
																			th:value="${caproject.xestartdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(caproject.xestartdate, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
		
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xeenddate">Estimated End Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xeenddate"
																			name="xeenddate"
																			th:value="${caproject.xeenddate == null ? #dates.format(#dates.createNow(), df) : #dates.format(caproject.xeenddate, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
			
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xastartdate">Actual Start Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xastartdate"
																			name="xastartdate"
																			th:value="${caproject.xastartdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(caproject.xastartdate, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
		
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xaenddate">Completion Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xaenddate"
																			name="xaenddate"
																			th:value="${caproject.xaenddate == null ? #dates.format(#dates.createNow(), df) : #dates.format(caproject.xaenddate, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xlong">Project Details</label>
																<div class="col-md-8">
																	<textarea class="form-control" th:field="*{xlong}" rows="3"></textarea>
																</div>
															</div>
		
														</div>
														<div class="col-md-6">

															<div class="form-group">
																<label class="control-label col-md-4" for="xref">Reference</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xref}">
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-sm-4" for="xamountbudgt">Budget Amount</label>
																<div class="col-sm-8">
																	<input type="hidden" class="form-control" th:field="*{xamountbudgt}">
																	<input type="text" class="form-control" th:value="*{xamountbudgt}" disabled="disabled"/>
																</div>
															</div>
		
															<div class="form-group">
																<label class="control-label col-md-4" for="xamountcost">Actual Cost Amount</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xamountcost}">
																	<input type="text" class="form-control" th:value="*{xamountcost}" disabled="disabled">
																</div>
															</div>
		
															<div class="form-group">
																<label class="control-label col-md-4" for="xcontact">Contact Person</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest" 
																			placeholder="Search..." 
																			th:value="${#strings.isEmpty(caproject.xcontact) ? '' : caproject.xcontact + ' - ' + caproject.xcontactName}" 
																			th:attr="search-url='search/staff'"/>
																	<input type="hidden" class="required" id="search-val" th:field="*{xcontact}" value=""/>
																	<input type="hidden" id="search-des" th:value="*{xcontact}"/>
																</div>
															</div>
	
															<div class="form-group">
																<label class="control-label col-md-4" for="xplannedby">Planned By</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest" 
																			placeholder="Search..." 
																			th:value="${#strings.isEmpty(caproject.xplannedby) ? '' : caproject.xplannedby + ' - ' + caproject.xplannedbyName}" 
																			th:attr="search-url='search/staff'"/>
																	<input type="hidden" class="required" id="search-val" th:field="*{xplannedby}" value=""/>
																	<input type="hidden" id="search-des" th:value="*{xplannedby}"/>
																</div>
															</div>
	
															<div class="form-group">
																<label class="control-label col-md-4" for="xstatus">Project Status</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xstatus}">
																	<input type="text" class="form-control" th:value="*{xstatus}" disabled="disabled">
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xnote">Note</label>
																<div class="col-md-8">
																	<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
																</div>
															</div>

														</div>
													</div>
												</form>
											</div>
										</div>
									</section>
								</div>
								<div class="row">
									<section th:if="${not #strings.isEmpty(caproject.xproject)}" id="data-maintenance" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Document Details of <span th:text="${caproject.xproject}"></span>-<span th:text="${caproject.xdesc}"></span></h1>
										</div>
										<div class="section-body" style="overflow-y:scroll;height:200px;">
											<table class="table table-striped table-bordered normal-table" id="documenttable" th:fragment="documenttable">
												<thead>
													<tr>
														<th th:text="#{li.modal2.table.heading.count}">SL#</th>
														<th th:text="#{li.modal2.table.heading.xdoc}">Document ID</th>
														<th>Name</th>
														<th>Document</th>
														<th>Type</th>
														<th data-nosort="Y" style="text-align: right;">
															<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/project/caproject/} + ${caproject.xproject} + '/document/new/show', data-target-modal='documentmodal'"><i class="fas fa-plus"></i></button>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="ld, n : ${documentlist}">
														<td th:text="${n.count}"></td>
														<td th:text="${ld.xdoc}"></td>
														<td th:text="${ld.xname}"></td>
														<td>
															<a th:href="@{/download/document/} + ${ld.xdocument} + '/' + ${ld.xnameold}" target="_blank" th:text="${ld.xnameold}">Download</a>
														</td>
														<td th:text="${ld.xdoctype}"></td>
														<td data-nosort="Y" style="text-align: right; font-size: 11px;">
															<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/project/caproject/} + ${caproject.xproject} + '/document/' + ${ld.xrow} + '/show', data-target-modal='documentmodal'"><i class="fas fa-edit"></i></button>
															<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/project/caproject/} + ${caproject.xproject} + '/document/' + ${ld.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</section>
								</div>
								
								<div class="row">
									<section th:if="${not #strings.isEmpty(caproject.xproject)}" id="data-maintenance" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Project Planning Details of <span th:text="${caproject.xproject + '-' + caproject.xdesc}"></span></h1>
										</div>
										<div class="section-body" style="overflow-y:scroll;height:200px;">
											<table class="table table-striped table-bordered normal-table" id="caprojectplantable" th:fragment="caprojectplantable">
												<thead>
													<tr>
														<th th:text="#{li.modal2.table.heading.count}">SL#</th>
														<th>Site</th>
														<th>Responsible Parson</th>
														<th>Role</th>
														<th>Responsibility</th>
														<th>Remarks</th>
														<th th:if="${caproject.xstatus eq 'Open'}" data-nosort="Y" style="text-align: right;">
															<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/project/caproject/} + ${caproject.xproject} + '/caprojectplan/new/show', data-target-modal='caprojectplanmodal'"><i class="fas fa-plus"></i></button>
														</th>
													</tr>
												</thead>
												<tbody th:with="df=${'E, dd-MMM-yyyy'}">
													<tr th:each="ld, n : ${caprojectplanlist}">
														<td th:text="${ld.xrow}"></td>
														<td th:text="${#strings.isEmpty(ld.xwh)? '' : ld.xwh + ' - ' + ld.siteName}"></td>
														<td th:text="${#strings.isEmpty(ld.xstaff)? '' : ld.xstaff + ' - ' + ld.xstaffName}"></td>
														<td th:text="${ld.xrole}"></td>
														<td th:text="${ld.xresponsibility}"></td>
														<td th:text="${ld.xnote}"></td>
														<td th:if="${caproject.xstatus eq 'Open'}" data-nosort="Y" style="text-align: right; font-size: 11px;">
															<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/project/caproject/} + ${caproject.xproject} + '/caprojectplan/' + ${ld.xrow} + '/show', data-target-modal='caprojectplanmodal'"><i class="fas fa-edit"></i></button>
															<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/project/caproject/} + ${caproject.xproject} + '/caprojectplan/' + ${ld.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</section>
								</div>
								
							</div>

							<div class="col-md-6" style="padding-left: 30px; padding-right: 30px; margin-top: 30px;">
								<!--<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Draft Projects</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable" id="caprojectheadertable" th:fragment="caprojectheadertable">
													<thead>
														<tr>
															<th>Project ID</th>
															<th>Customer</th>
															<th>Contact Person</th>
															<th>Planning Date</th>
															<th>Completion Date</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:if="${por.xstatus == 'Open'}" th:each="por : ${allCaproject}">
															<td>
																<a th:href="@{/project/caproject/} + ${por.xproject}" th:text="${por.xproject + ' - ' + por.xdesc}"></a>
															</td>
															<td th:text="${#strings.isEmpty(por.xcus)? '' : por.xcus + ' - ' + por.xorg}"></td>
															<td th:text="${#strings.isEmpty(por.xcontact)? '' : por.xcontact + ' - ' + por.xcontactName}"></td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${#dates.format(por.xaenddate, df)}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>-->
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>All Project List</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable" id="caprojectheadertable" th:fragment="caprojectheadertable">
													<thead>
														<tr>
															<th>Project ID</th>
															<th>Customer</th>
															<th>Contact Person</th>
															<th>Planning Date</th>
															<th>Completion Date</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:each="por : ${allCaproject}">
															<td>
																<a th:href="@{/project/caproject/} + ${por.xproject}" th:text="${por.xproject+ ' - ' + por.xdesc}"></a>
															</td>
															<td th:text="${#strings.isEmpty(por.xcus)? '' : por.xcus + ' - ' + por.xorg}"></td>
															<td th:text="${#strings.isEmpty(por.xcontact)? '' : por.xcontact + ' - ' + por.xcontactName}"></td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${#dates.format(por.xaenddate, df)}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;" th:if="${not #strings.isEmpty(caproject.xproject)}">
										<div class="section-header sectionbartoggle">
											<h1 th:text="'Site List of ' + ${caproject.xproject}+'-'+${caproject.xdesc}"></h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable" id="cawhheadertable" th:fragment="cawhheadertable">
													<thead>
														<tr>
															<th>Site</th>
															<th>Location</th>
															<th>Supervisor</th>
															<th>Date</th>
															<th>Status</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:each="por : ${sitedetails}">
															<td>
																<a th:href="@{/project/cawh/} + ${por.xwh}" th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.xdesc}"></a>
															</td>
															<td th:text="${por.xlocation}"></td>
															<td th:text="${#strings.isEmpty(por.xsupervisor)? '' : por.xsupervisor + ' - ' + por.xsupervisorName}"></td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${por.xstatus}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
								
								<div class="row">
									<section th:if="${not #strings.isEmpty(caproject.xproject)}" id="data-maintenance" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Sites Document Details of <span th:text="${caproject.xproject}"></span>-<span th:text="${caproject.xdesc}"></span></h1>
										</div>
										<div class="section-body" style="overflow-y:scroll;height:200px;">
											<table class="table table-striped table-bordered normal-table">
												<thead>
													<tr>
														<th th:text="#{li.modal2.table.heading.count}">SL#</th>
														<th>Site</th>
														<th th:text="#{li.modal2.table.heading.xdoc}">Document ID</th>
														<th>Name</th>
														<th>Document</th>
														<th>Type</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="ld, n : ${sitedocumentlist}">
														<td th:text="${n.count}"></td>
														<td>
															<a th:href="@{/project/cawh/} + ${ld.xwh}" th:text="${#strings.isEmpty(ld.xwh)? '' : ld.xwh + ' - ' + ld.siteName}"></a>
														</td>
														<td th:text="${ld.xdoc}"></td>
														<td th:text="${ld.xname}"></td>
														<td>
															<a th:href="@{/download/document/} + ${ld.xdocument} + '/' + ${ld.xnameold}" target="_blank" th:text="${ld.xnameold}">Download</a>
														</td>
														<td th:text="${ld.xdoctype}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</section>
								</div>
								
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="documentmodal-section"></div>
		<div id="caprojectplanmodal-section"></div>
		
		<script type="text/javascript" th:src="@{/assets/pages/land/landinfo/landinfo.js}"></script>	

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>