<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Receivable Entry</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/arentry}">Receivable Entry</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div> 
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<h1 class="text-center">Receivable Entry</h1>
				</div>
			
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										
									</div>
									<div class="form-action-button">
										<a th:href="@{/arentry}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;"> Clear</span></a>
										<a th:if="${#strings.isEmpty(arhed.xvoucher)}" th:href="@{/arentry}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;"> Save</span></a>
										<a th:if="${not #strings.isEmpty(arhed.xvoucher) and arhed.xstatus eq 'Open'}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> <span style="margin-left:2px;"> Update</span></a>
										<a th:if="${not #strings.isEmpty(arhed.xvoucher) and arhed.xstatus eq 'Open'}" th:href="@{/arentry/delete/} + ${arhed.xvoucher}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;"> Delete</span></a>
										<!--<a th:if="${not #strings.isEmpty(arhed.xvoucher)}" th:href="@{/arentry/print/} + ${arhed.xvoucher}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-print"></i> Print</a>-->
										<a th:if="${not #strings.isEmpty(arhed.xvoucher) and arhed.xstatus eq 'Open'}" th:href="@{/arentry/confirm/} + ${arhed.xvoucher}" class="btn btn-sm btn-warning archive-btn-link"><i class="fas fa-check-circle"></i> <span style="margin-left:2px;"> Confirm</span></a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/arentry/save}" th:object="${arhed}" method="post"  th:with="df=${'E, dd-MMM-yyyy'}">
											<div class="row">
												<div class="col-md-6">
													<input type="hidden" th:field="*{xtrntype}"/>
													<div class="form-group" th:if="${#strings.isEmpty(arhed.xvoucher)}">
														<label class="control-label col-md-4" for="xtype">Receivable Number</label>
														<div class="col-md-4">
															<select class="form-control" th:field="*{xtype}">
																<option th:each="prefix : ${arhedprefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
															</select>
														</div>
													</div>
													
													<div class="form-group" th:if="${not #strings.isEmpty(arhed.xvoucher)}">
														<label class="control-label col-md-4" for="xvoucher">Receivable Number</label>
														<div class="col-md-8">
															<input type="hidden" class="form-control" th:field="*{xvoucher}">
															<input type="text" class="form-control" th:value="*{xvoucher}" disabled="disabled">
														</div>
													</div>
													<div class="form-group datepicker">
														<label class="control-label col-md-4" for="xdate">Receivable Date</label>
														<div class="input-group date col-md-7 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xdate"
																	name="xdate"
																	th:value="${arhed.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(arhed.xdate, df)}"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div>
													
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xcus">Customer No. : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xcus}" required="required">
														</div>
													</div> -->
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xcus">Member/Director</label>
														<div class="col-sm-8">
															<input 	type="text" 
																	class="form-control searchsuggest xcussearch" 
																	placeholder="Search..." 
																	th:value="${#strings.isEmpty(arhed.xcus) ? '' : arhed.xcus + ' - ' + arhed.xorg}" 
																	th:attr="search-url='search/memberdir'"
																	required="required"/>
															<input type="hidden" class="required" id="search-val" th:field="*{xcus}" value=""/>
															<input type="hidden" id="search-des" th:value="*{xcus}"/>
														</div>
													</div>

													<!--<div class="form-group" th:if="${isBoshila}">
														<label class="control-label col-md-4" for="xland">Land</label>
														<div class="col-sm-8">
															<input 	type="text" 
																	class="form-control searchsuggest" 
																	placeholder="Search..." 
																	th:value="${#strings.isEmpty(arhed.xland) ? '' : arhed.xland + ' - ' + arhed.landname}"
																	th:attr="search-url='search/landId'"/>
															<input type="hidden" id="search-val" th:field="*{xland}"/>
															<input type="hidden" id="search-des" th:value="*{xland}"/>
														</div>
													</div>-->

													<div class="form-group" th:if="${isBoshila}">
														<label class="control-label col-sm-4" for="xland">Land</label>
														<div class="col-sm-8">
															<select th:field="*{xland}" class="form-control">
																<option value="">-- Select --</option>
																<option th:each="s : ${findland}" th:value="${s.xland}" th:text="${s.xland + ' - ' + s.xlname}"></option>
															</select>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xnote">Note</label>
														<div class="col-md-8">
															<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
														</div>
													</div>
													
													
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xbank">Deposit Account/Bank</label>
														<div class="col-md-8">
															<input type="text" class="form-control" id="xbank" name="xbank" placeholder="BNK-01" >
														</div>
													</div> -->
													
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xbank">Adjustment Account/Bank</label>
														<div class="col-sm-8">
															<input 	type="text" 
																	class="form-control searchsuggest" 
																	placeholder="Search..." 
																	th:value="${arhed.xbank}" 
																	th:attr="search-url='search/bank'"/>
															<input type="hidden" class="required" id="search-val" th:field="*{xbank}" value=""/>
															<input type="hidden" id="search-des" th:value="*{xbank}"/>
														</div>
													</div> -->
													
											        <!-- <div class="form-group">
														<label class="control-label col-md-4" for="xwh">Store</label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xwh}">
																<option th:each="wh : ${warehouses}" th:value="${wh.xcode}" th:text="${wh.xcode}"></option>
															</select>
														</div>
													</div> -->
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xprime">Adjustment Amount</label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xprime}" min="0" required="required">
														</div>
													</div> -->
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xbalprime">Balance Amount</label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xbalprime}" min="0">
														</div>
													</div> -->
													
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xtypeadj">Adjustment With</label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xtypeadj}">
																<option th:each="x : ${adjustmentwithList}" th:value="${x.xcode}" th:text="${x.xcode}"></option>
															</select>
														</div>
													</div> -->
													
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xstaff">Employee ID</label>
														<div class="col-sm-8">
															<input 	type="text" 
																	class="form-control searchsuggest" 
																	placeholder="Search..." 
																	th:value="${arhed.xstaff}" 
																	th:attr="search-url='search/staff'"/>
															<input type="hidden" class="required" id="search-val" th:field="*{xstaff}" value=""/>
															<input type="hidden" id="search-des" th:value="*{xstaff}"/>
														</div>
													</div> -->
													
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xvatait">Vat Tax ID : </label>
														<div class="col-md-8">
															<select class="form-control vatait-select" th:field="*{xvatait}">
																<option th:each="s : ${vataitList}" th:text="${s.xvatait}" th:value="${s.xvatait}"></option>
															</select>
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xvatamt">Vat Amount : </label>
														<div class="col-md-6">
															<input type="text"  class="form-control" th:field="*{xvatamt}" min="0">
														</div>
													</div>	
													<div class="form-group">
														<label class="control-label col-md-4" for="xaitamt">AIT Amount : </label>
														<div class="col-md-6">
															<input type="text"  class="form-control" th:field="*{xaitamt}" min="0">
														</div>
													</div> -->
													
												</div>
												<div class="col-md-6">
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xbank">Credit Acc/Bank</label>
														<div class="col-sm-8">
															<input 	type="text" 
																	class="form-control searchsuggest" 
																	placeholder="Search..." 
																	th:value="${#strings.isEmpty(arhed.xbank) ? '' : arhed.xbank + ' - ' + arhed.accountname}" 
																	th:attr="search-url='search/account'"
																	/>
															<input type="hidden" class="required" id="search-val" th:field="*{xbank}" value=""/>
															<input type="hidden" id="search-des" th:value="*{xbank}"/>
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-sm-4" for="xstaff">Employee</label>
														<div class="col-sm-8">
															<input type="hidden" class="form-control" th:field="*{xstaff}">
															<input type="text" class="form-control" th:field="*{xstaff}" disabled="disabled"/>
														</div>
													</div>
													
													<!--<div class="form-group">
														<label class="control-label col-md-4" for="xtyperec" th:text="#{co.form.label.xtyperec}">Payment Mode</label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xtyperec}">
																<option value="Advance">Advance</option>
																<option value="Normal">Normal</option>
															</select> 
														</div>
													</div>-->
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xref">Reference </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xref}" >
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xprime">Receivable Amount</label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xprime}" required="required">
														</div>
													</div> 
													<div class="form-group" th:if="${isBoshila}">
														<label class="control-label col-md-4" for="xpurpose">Purpose</label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xpurpose}">
																<option th:each="s : ${purpose}" th:text="${s.xcode}" th:value="${s.xcode}"></option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xstatus">Status</label>
														<div class="col-md-6">
															<input type="hidden" class="form-control" th:field="*{xstatus}">
															<input type="text" class="form-control" th:value="*{xstatus}" disabled="disabled">
														</div>
													</div>
													
													<!-- <div class="form-group datepicker">
														<label class="control-label col-md-4" for="xdateref">Date Ref. : </label>
														<div class="input-group date col-md-6 datepicker">
															<input 	type="datepicker" 
																	class="form-control" 
																	id="xdateref"
																	name="xdateref"
																	th:value="${arhed.xdateref == null ? #dates.format(#dates.createNow(), df) : #dates.format(arhed.xdateref, df)}"/>
															<div class="input-group-addon">
																<span class="glyphicon glyphicon-calendar"></span>
															</div>
														</div>
													</div> -->
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xstatuschq">Cheque Status : </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xstatuschq}">
																<option th:each="chq : ${chequeStatusList}" th:value="${chq.xcode}" th:text="${chq.xcode}"></option>
															</select>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-md-4" for="xdiscprime">Prime Discount : </label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xdiscprime}" min="0">
														</div>
													</div> -->
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xstatusbnk">Bank Status : </label>
														<div class="col-md-8">
															<select class="form-control" th:field="*{xstatusbnk}">
																<option th:each="bnksts : ${bankstatusList}" th:value="${bnksts.xcode}" th:text="${bnksts.xcode}"></option>
															</select>
														</div>
													</div>	
													<div class="form-group">
														<label class="control-label col-md-4" for="xstatusjv">JV Status : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xstatusjv}" disabled="disabled">
															<select class="form-control" th:field="*{xstatusjv}">
																<option th:each="jv : ${jvstatusList}" th:value="${jv.xcode}" th:text="${jv.xcode}"></option>
															</select>
														</div>
													</div> -->
														
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xdocnum">Delivery Chalan no. : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xdocnum}">
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xinvnum">Invoice No. : </label>
														<div class="col-md-8">
															<input type="text" class="form-control" th:field="*{xinvnum}">
														</div>
													</div>
													
													<div class="form-group">
														<label class="control-label col-md-4" for="xbase">Base Amount : </label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xbase}" min="0">
														</div>
													</div>	 -->
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xsign">Sign : </label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xsign}" min="0">
														</div>
													</div> -->
													
													<!-- <div class="form-group">
														<label class="control-label col-md-4" for="xcusledbal">Customer Ledger Amount : </label>
														<div class="col-md-6">
															<input type="number" class="form-control" th:field="*{xcusledbal}" min="0">
														</div>
													</div>	 -->								
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
		
									
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Pending Receivable List</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>Receivable Number</th>
			
													<th>Member/Director</th>
													<th th:text="#{co.table.heading.xdate}">Date</th>
													<th th:text="#{co.table.heading.xprime}">Receivable Amount</th>
													<th th:text="#{co.table.heading.xdocnum}">JV Number</th>
													<th th:text="#{co.table.heading.xstatus}">Status</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:if="${arhed.xstatus != 'Confirmed'}" th:each="arhed : ${allArhed}">
													<td>
														<a th:href="@{/arentry/} + ${arhed.xvoucher}" th:text="${arhed.xvoucher}"></a>
													</td>
													<td th:text="${arhed.xcus} + ' - ' + ${arhed.xorg}"></td>
													<td th:text="${#dates.format(arhed.xdate, df)}"></td>
													<td th:text="${arhed.xprime}"></td>
													<td th:text="${arhed.xdocnum}"></td>
													<td th:text="${arhed.xstatus}"></td>
												</tr>
											</tbody>
										</table>
										</div>
									</div>
								</section>
							</div>
							
							<div class="col-md-6"></div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Receivable List</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th>Receivable Number</th>
													<th>Member/Director</th>
													<th th:text="#{co.table.heading.xdate}">Date</th>
													<th th:text="#{co.table.heading.xprime}">Receivable Amount</th>
													<th th:text="#{co.table.heading.xdocnum}">JV Number</th>
													<th th:text="#{co.table.heading.xstatus}">Status</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="arhed : ${allArhed}">
													<td>
														<a th:href="@{/arentry/} + ${arhed.xvoucher}" th:text="${arhed.xvoucher}"></a>
													</td>
													<td th:text="${arhed.xcus} + ' - ' + ${arhed.xorg}"></td>
													<td th:text="${#dates.format(arhed.xdate, df)}"></td>
													<td th:text="${arhed.xprime}"></td>
													<td th:text="${arhed.xdocnum}"></td>
													<td th:text="${arhed.xstatus}"></td>
												</tr>
											</tbody>
										</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
				<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>

	<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			// Init ui for modal
			ck.ui.config.buttonevent();

			$('.xcussearch').on('blur', function(){
				setTimeout(() => {
					if($('input[name="xcus"]').val() == ''){
						$("#xland option").remove(); 
						var mySelect = $('#xland');
						mySelect.append(
							$('<option></option>').val("").html("-- Select --")
						);
						return;
					}

					loadingMask2.show();
					$.ajax({
						url : getBasepath() + '/arentry/landinfo/' + $('input[name="xcus"]').val(),
						type : 'GET',
						success : function(data) {
							loadingMask2.hide();
							if(data == undefined || data == null) return;

							$("#xland option").remove(); 
							var mySelect = $('#xland');
							mySelect.append(
								$('<option></option>').val("").html("-- Select --")
							);
							$.each(data, function(val, obj) {
								mySelect.append(
									$('<option></option>').val(obj.xland).html(obj.xland + ' - ' + obj.xlname)
								);
							});

						},
						error : function(jqXHR, status, errorThrown){
							showMessage(status, "Something went wrong .... ");
							loadingMask2.hide();
						}
					})
				}, 1000);
			});
		});
	</script>
</html>