<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Quality Certificate</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/procurement/qcheader}">Quality Certificate</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center">Quality Certificate</h1>
						</div>

						<div class="row">
							<div class="col-md-6" style="padding-left: 30px; padding-right: 30px;">
								<div class="row">
									<!-- Section list head -->
									<section id="data-maintenance" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
										</div>
										<div class="form-action-button">
											<a th:href="@{/procurement/qcheader}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;"> Clear</span></a>
											<a th:if="${#strings.isEmpty(qcheader.xgrnnum)}" th:href="@{/procurement/qcheader}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;"> Save</span></a>
											<a th:if="${not #strings.isEmpty(qcheader.xgrnnum) and qcheader.xstatusgrn == 'Open' and qcheader.xstatus == 'Open' and qcheader.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> <span style="margin-left:2px;"> Update</span></a>
											<a th:if="${not #strings.isEmpty(qcheader.xgrnnum) and qcheader.xstatusgrn == 'Open' and qcheader.xstatus == 'Open'  and qcheader.zactive == true}" th:href="@{/procurement/qcheader/delete/} + ${qcheader.xgrnnum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;"> Delete</span></a>
											<a th:if="${not #strings.isEmpty(qcheader.xgrnnum) and qcheader.xstatusgrn == 'Open' and qcheader.xstatus == 'Open'  and qcheader.zactive == true}" th:href="@{/procurement/qcheader/confirm/} + ${qcheader.xgrnnum}" class="btn btn-sm btn-warning confirm-btn-link"><i class="fas fa-paper-plane"></i> <span style="margin-left:2px;"> Confirm</span></a>
											<a th:if="${not #strings.isEmpty(qcheader.xgrnnum) and qcheader.xstatusgrn == 'Confirmed' and qcheader.xstatusap == 'Open'  and qcheader.zactive == true}" th:href="@{/procurement/qcheader/transferap/} + ${qcheader.xgrnnum}" class="btn btn-sm btn-info confirm-btn-link"><i class="glyphicon glyphicon-plus"></i> <span style="margin-left:2px;"> Transfer To AP</span></a>
											<a th:if="${not #strings.isEmpty(qcheader.xgrnnum) and qcheader.xstatusgrn == 'Confirmed' and qcheader.xstatusap == 'Confirmed' and qcheader.xstatusjv == 'Open'  and qcheader.zactive == true}"  th:href="@{/procurement/qcheader/transfergl/} + ${qcheader.xgrnnum}" class="btn btn-sm btn-info confirm-btn-link"><i class="glyphicon glyphicon-plus"></i> <span style="margin-left:2px;"> Transfer To GL</span></a>
											<a th:if="${not #strings.isEmpty(qcheader.xgrnnum)}" th:href="@{/procurement/qcheader/print/} + ${qcheader.xgrnnum}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-print"></i> Print Quality Certificate</a>
										</div>
										<div class="form-action-button">
											<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-fast-backward"></i> <span style="margin-left:2px;"> Top</span></a>
											<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-chevron-left"></i> <span style="margin-left:2px;"> Previous</span></a>
											<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-chevron-right"></i> <span style="margin-left:2px;"> Next</span></a>
											<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-fast-forward"></i> <span style="margin-left:2px;"> Bottom</span></a>
										</div>
										<div class="section-body section-border">
											<div id="pogrnheaderform" th:fragment="pogrnheaderform">
												<form id="mainform" class="form-horizontal" th:action="@{/procurement/qcheader/save}" th:object="${qcheader}" method="post" th:with="df=${'E, dd-MMM-yyyy HH:mm:ss'}">
													<input type="hidden" class="form-control" th:field="*{xtypetrn}">
													<input type="hidden" class="form-control" th:field="*{xstatus}">
													<div class="row">
														<div class="col-md-6">

															<div class="form-group" th:if="${#strings.isEmpty(qcheader.xgrnnum)}">
																<label class="control-label col-md-4" for="xtrn">QC Number</label>
																<div class="col-md-6">
																	<select class="form-control" th:field="*{xtrn}">
																		<option th:each="prefix : ${prefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
																	</select>
																</div>
															</div>

															<div class="form-group" th:if="${not #strings.isEmpty(qcheader.xgrnnum)}">
																<label class="control-label col-md-4" for="xgrnnum ">QC Number</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:value="*{xgrnnum}" disabled="disabled">
																	<input type="hidden" class="form-control" th:field="*{xgrnnum}">
																</div>
															</div>

															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xdate">QC Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xdate"
																			name="xdate"
																			th:value="${qcheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(qcheader.xdate, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xcus" th:text="#{so.form.label.xcus}">Supplier</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest" 
																			placeholder="Search..." 
																			th:value="${#strings.isEmpty(qcheader.xcus) ? '' : qcheader.xcus + ' - ' + qcheader.xorg}" 
																			th:attr="search-url='search/supplier'"
																			/>
																	<input type="hidden" class="required" id="search-val" th:field="*{xcus}" value=""/>
																	<input type="hidden" id="search-des" th:value="*{xcus}"/>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xhwh">Project/Business</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest xhwhsearch" 
																			placeholder="Search..." 
																			th:value="${#strings.isEmpty(qcheader.xhwh) ? '' : qcheader.xhwh + '-' + qcheader.projectName}" 
																			th:attr="search-url='search/allproject'"
																			/>
																	<input type="hidden" class="required" id="search-val" th:field="*{xhwh}" value=""/>
																	<input type="hidden" id="search-des" th:value="*{xhwh}"/>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-sm-4" for="xwh" >Store/Site</label>
																<div class="col-sm-8">
																	<select th:field="*{xwh}" class="form-control">
																		<option value="">-- Select --</option>
																		<option th:each="s : ${allcodes}" th:value="${s.xcode}" th:text="${s.xcode + ' - ' + s.xcodename}"></option>
																	</select>
																</div>
															</div>

															<!--<div class="form-group" th:if="${#strings.isEmpty(qcheader.xgrnnum)}">
																<label class="control-label col-md-4" for="xwh">Store/Site</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xwh}">
																		<option th:each="wh : ${warehouses}" th:value="${wh.xcode}" th:text="${wh.xcode} +' - '+${wh.xlong}"></option>
																	</select>
																</div>
															</div>

															<div class="form-group" th:if="${not#strings.isEmpty(qcheader.xgrnnum)}">
																<label class="control-label col-md-4" for="xwh">Store/Site</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xwh}">
																	<input type="text" class="form-control" th:value="${qcheader.xwh + ' - ' + qcheader.storename}" disabled="disabled"/>
																</div>
															</div>-->

															<div class="form-group">
																<label class="control-label col-sm-4" for="xinvnum">Invoice Number</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" th:field="*{xinvnum}"/>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-sm-4" for="xpornum">Work Order</label>
																<div class="col-sm-8" style="top:6px; left:12px">
																	<a th:href="@{/procurement/workorder/} + ${qcheader.xpornum}" th:text="${qcheader.xpornum}"></a>
																	<input type="hidden" class="form-control" th:field="*{xpornum}">
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-sm-4" for="xporeqnum">Requisition  Number</label>
																<div class="col-sm-8" style="top:6px; left:12px">
																	<a th:href="@{/procurement/poreqapprove/} + ${qcheader.xporeqnum}" th:text="${qcheader.xporeqnum}"></a>
																	<input type="hidden" class="form-control" th:field="*{xporeqnum}">
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-sm-4" for="xquotnum">Quotation  Number</label>
																<div class="col-sm-8">
																	<input type="hidden" class="form-control" th:field="*{xquotnum}">
																	<input type="text" class="form-control" th:value="*{xquotnum}" disabled="disabled"/>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-sm-4" for="xref">Reference</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" th:field="*{xref}">
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-sm-4" for="xpreparer">Prepared By</label>
																<div class="col-sm-8">
																	<input type="hidden" class="form-control" th:field="*{xpreparer}">
																	<input type="text" class="form-control" th:value="${qcheader.xpreparer + ' - ' + qcheader.xpreparername}" disabled="disabled"/>
																</div>
															</div>
		
															<div class="form-group datetimepicker">
																<label class="control-label col-md-4" for="xprepdate">Creation Date</label>
																<div class="input-group date col-md-7 datetimepicker">
																	<input 	type="datetimepicker" 
																			class="form-control" 
																			id="xprepdate"
																			name="xprepdate"
																			disabled="disabled"
																			th:value="${qcheader.xprepdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(qcheader.xprepdate, df)}"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																	<input 	type="hidden" 
																		class="form-control" 
																		id="xprepdate"
																		name="xprepdate"
																		th:value="${qcheader.xprepdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(qcheader.xprepdate, df)}"
																	/>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xnote">Preparer Note</label>
																<div class="col-md-8">
																	<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
																</div>
															</div>

														</div>
														<div class="col-md-6">

															<div class="form-group">
																<label class="control-label col-sm-4" for="xvoucher">JV Number</label>
																<div class="col-sm-8">
																	<input type="hidden" class="form-control" th:field="*{xvoucher}">
																	<input type="text" class="form-control" th:value="*{xvoucher}" disabled="disabled"/>
																</div>
															</div>

															<!--<div class="form-group">
																<label class="control-label col-md-4" for="xstatus">Status</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xstatus}">
																	<input type="text" class="form-control" th:value="*{xstatus}" disabled="disabled">
																</div>
															</div>-->

															<div class="form-group">
																<label class="control-label col-sm-4" for="xstatusgrn">QC Status</label>
																<div class="col-sm-8">
																	<input type="hidden" class="form-control" th:field="*{xstatusgrn}">
																	<input type="text" class="form-control" th:value="*{xstatusgrn}" disabled="disabled"/>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xstatusap">AP Status</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xstatusap}">
																	<input type="text" class="form-control" th:value="*{xstatusap}" disabled="disabled"/>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xstatusjv">GL Status</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xstatusjv}">
																	<input type="text" class="form-control" th:value="*{xstatusjv}" disabled="disabled">
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xstatusprjtrn">Project Transaction</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xstatusprjtrn}">
																	<input type="text" class="form-control" th:value="*{xstatusprjtrn}" disabled="disabled">
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-sm-4" for="xtotamt">Total Amount</label>
																<div class="col-sm-8">
																	<input type="hidden" class="form-control" th:field="*{xtotamt}">
																	<input type="text" class="form-control" th:value="*{xtotamt}" disabled="disabled"/>
																</div>
															</div>

															<div class="form-group">
															<label class="control-label col-md-4" for="xvatamt">Vat Amount</label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xvatamt}">
																<input type="text" class="form-control" th:value="*{xvatamt}" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xaitamt">AIT Amount</label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xaitamt}">
																<input type="text" class="form-control" th:value="*{xaitamt}" disabled="disabled">
															</div>
														</div> 

														<div class="form-group">
															<label class="control-label col-md-4" for="xdisc">Discount Amount</label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xdisc}">
																<input type="text" class="form-control" th:value="*{xdisc}" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xamtother">Other Amount</label>
															<div class="col-md-6">
																<input type="hidden" class="form-control" th:field="*{xamtother}">
																<input type="text" class="form-control" th:value="*{xamtother}" disabled="disabled">
															</div>
														</div>

													</div>
													</div>

												</form>
											</div>
										</div>
								</section>
								</div>
								<div class="row">
									<section th:if="${not #strings.isEmpty(qcheader.xgrnnum)}" id="data-maintenance" style="margin-top: 30px;">
										<a id="listlines-url" th:href="@{/procurement/qcheader/qcheaderdetail/} + ${qcheader.xgrnnum}"></a>
										<div class="section-header sectionbartoggle">
											<h1>Quality Certificate Details of <span th:text="${qcheader.xgrnnum}"></span></h1>
										</div>
										<div class="section-body">
											<table class="table table-striped table-bordered normal-table nowrap" id="qcheaderdetailtable" th:fragment="qcheaderdetailtable">
												<thead>
													<tr>
														<th>Row</th>
														<th>Item</th>
														<th>Purpose</th>
														<th>Unit</th>
														<th class="text-right">Qty</th>
														<th>Unit Price</th>
														<th>Line Amount</th>
														<th>Vat</th>
														<th>CF(Purchase)</th>
														<th data-nosort="Y" style="text-align: right;" th:if="${qcheader.xstatus == 'Open'}">
															<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/procurement/qcheader/} + ${qcheader.xgrnnum} + '/qcheaderdetail/new/show', data-target-modal='qcheaderdetailmodal'"><i class="fas fa-plus"></i></button>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="d : ${qcheaderdetailList}">
														<td th:text="${d.xrow}"></td>
														<td>
															<a th:href="@{/mastersetup/caitem/} + ${d.xitem}" target="_blank" th:text="${d.xitem} + ' - ' + ${d.xitemdesc}"></a>
														</td>
														<td th:text="${d.xpurpose}"></td>
														<td th:text="${d.xunitpur}"></td>
														<td class="text-right" th:text="${d.xqtypur}"></td>
														<td th:text="${d.xrate}"></td>
														<td th:text="${d.xlineamt}"></td>
														<td th:text="${d.xvatamt}"></td>
														<td class="text-right" th:text="${d.xcfpur}"></td>
														<td  data-nosort="Y" style="text-align: right; font-size: 11px;" th:if="${qcheader.xstatus == 'Open'}">
															<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/procurement/qcheader/} + ${qcheader.xgrnnum} + '/qcheaderdetail/' + ${d.xrow} + '/show', data-target-modal='qcheaderdetailmodal'"><i class="fas fa-edit"></i></button>
															<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/procurement/qcheader/} + ${qcheader.xgrnnum} + '/qcheaderdetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
														</td>
													</tr>
												</tbody>
												<tfoot>
													<th colspan="4" class="text-right">Total</th>
													<th class="text-right" th:text="${totalQuantityReceived}">0</th>
													<th></th>
													<th class="text-right" th:text="${totalLineAmount}">0</th>
													<th class="text-right" th:text="${totalVatAmount}">0</th>
												</tfoot>
											</table>
										</div>
									</section>
								</div>
								<div class="row" th:if="${not #strings.isEmpty(qcheader.xpornum)}">
									<section id="list-manager" style="margin-top: 30px;">
										<a id="listlines-url" th:href="@{/procurement/workorder/defaultterms/} + ${qcheader.xpornum}"></a>
										<div class="section-header sectionbartoggle">
											<h1>All Default Terms & Conditions</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: scroll;">
												<table class="table table-striped table-bordered normal-table nowrap" id="addtermstable" th:fragment="addtermstable">
													<thead>
														<tr>
															<th>Terms</th>
															<th>Terms Detail</th>
															<th>Additional Info</th>
															<th>View Sequence</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="ar: ${allTermsdef}">
															<td th:text="${ar.xterm}"></td>
															<td th:text="${ar.xdesc}"></td>
															<td th:text="${ar.xnote}"></td>
															<td th:text="${ar.xserial}"></td>
														</tr>
														
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
								<div class="row">
									<section th:if="${not #strings.isEmpty(qcheader.xvoucher)}" id="data-maintenance" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1 th:text="'Voucher Details of ' + ${qcheader.xvoucher}"></h1>
										</div>
										<div class="section-body">
											<table class="table table-striped table-bordered normal-table nowrap" id="voucherdetailtable" th:fragment="voucherdetailtable">
												<thead>
													<tr>
														<th th:text="#{grn.table2.heading.xrow}">SN.</th>
														<th th:text="#{grn.table2.heading.xacc}">Account</th>
														<th th:text="#{grn.table2.heading.xsub}">Sub Account</th>
														<th th:text="#{grn.table2.heading.xlong}">Note</th>
														<th class="text-right" th:text="#{grn.table2.heading.xdebit}">Debit</th>
														<th class="text-right" th:text="#{grn.table2.heading.xcredit}">Credit</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="d,n : ${acdetails}">
														<td th:text="${d.xrow}"></td>
														<td>
															<a th:href="@{/account/coa/} + ${d.xacc}" target="_blank" th:text="${d.xacc} + ' - ' + ${d.accountname}"></a>
														</td>
														<td th:text="${#strings.isEmpty(d.xsub) ? '' : d.xsub + ' - ' + d.xorg}"></td>
														<td th:text="${d.xlong}"></td>
														<td class="text-right" th:text="${d.xdebit}"></td>
														<td class="text-right" th:text="${d.xcredit}"></td>
													</tr>
												</tbody>
												<tfoot>
													<th colspan="4" class="text-right">Total</th>
													<th class="text-right" th:text="${totalDebit}">0</th>
													<th class="text-right" th:text="${totalCredit}">0</th>
												</tfoot>
											</table>
										</div>
									</section>
								</div>
							</div>

							<div class="col-md-6" style="padding-left: 30px; padding-right: 30px; margin-top: 30px;">
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Pending QC</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable" id="qcheadertable" th:fragment="qcheadertable">
													<thead>
														<tr>
															<th>QC Number</th>
															<th>Date</th>
															<th>Supplier</th>
															<th>Store</th>
															<th>Total Amount</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:if="${por.xstatusgrn == 'Open'}" th:each="por : ${allQcHeader}">
															<td>
																<a th:href="@{/procurement/qcheader/} + ${por.xgrnnum}" th:text="${por.xgrnnum}"></a>
															</td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${#strings.isEmpty(por.xcus)? '' : por.xcus + ' - ' + por.xorg}"></td>
															<td th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.storename}"></td>
															<td th:text="${por.xtotamt}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Pending For Transfer TO AP</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable">
													<thead>
														<tr>
															<th>QC Number</th>
															<th>Date</th>
															<th>Supplier</th>
															<th>Store</th>
															<th>Total Amount</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:if="${por.xstatusgrn == 'Confirmed' and por.xstatusap == 'Open'}" th:each="por : ${allQcHeader}">
															<td>
																<a th:href="@{/procurement/qcheader/} + ${por.xgrnnum}" th:text="${por.xgrnnum}"></a>
															</td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${#strings.isEmpty(por.xcus)? '' : por.xcus + ' - ' + por.xorg}"></td>
															<td th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.storename}"></td>
															<td th:text="${por.xtotamt}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Pending For Transfer TO GL</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable">
													<thead>
														<tr>
															<th>QC Number</th>
															<th>Date</th>
															<th>Supplier</th>
															<th>Store</th>
															<th>Total Amount</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:if="${por.xstatusgrn  == 'Confirmed' and por.xstatusjv == 'Open'}" th:each="por : ${allQcHeader}">
															<td>
																<a th:href="@{/procurement/qcheader/} + ${por.xgrnnum}" th:text="${por.xgrnnum}"></a>
															</td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${#strings.isEmpty(por.xcus)? '' : por.xcus + ' - ' + por.xorg}"></td>
															<td th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.storename}"></td>
															<td th:text="${por.xtotamt}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>All QC</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable">
													<thead>
														<tr>
															<th>QC Number</th>
															<th>Date</th>
															<th>Supplier</th>
															<th>Store</th>
															<th>Total Amount</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:each="por : ${allQcHeader}">
															<td>
																<a th:href="@{/procurement/qcheader/} + ${por.xgrnnum}" th:text="${por.xgrnnum}"></a>
															</td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${#strings.isEmpty(por.xcus)? '' : por.xcus + ' - ' + por.xorg}"></td>
															<td th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.storename}"></td>
															<td th:text="${por.xtotamt}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="qcheaderdetailmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
	
	<script type="text/javascript">
		$(document).ready(function(){
			// Init ui for modal
			ck.ui.config.buttonevent();

			$('.xhwhsearch').on('blur', function(){
				setTimeout(() => {
					if($('input[name="xhwh"]').val() == ''){
						$("#xwh option").remove(); 
						var mySelect = $('#xwh');
						mySelect.append(
							$('<option></option>').val("").html("-- Select --")
						);
						return;
					}

					loadingMask2.show();
					$.ajax({
						url : getBasepath() + '/procurement/qcheader/allcodesbyproject/' + $('input[name="xhwh"]').val(),
						type : 'GET',
						success : function(data) {
							loadingMask2.hide();
							if(data == undefined || data == null) return;

							$("#xwh option").remove(); 
							var mySelect = $('#xwh');
							mySelect.append(
								$('<option></option>').val("").html("-- Select --")
							);
							$.each(data, function(val, obj) {
								mySelect.append(
									$('<option></option>').val(obj.xcode).html(obj.xcode + ' - ' + obj.xcodename)
								);
							});

						},
						error : function(jqXHR, status, errorThrown){
							showMessage(status, "Something went wrong .... ");
							loadingMask2.hide();
						}
					})
				}, 1000);
			});
		});
	</script>
</html>