<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Work Order Approval</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/procurement/woapproval}">Work Order Approval</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center">Work Order Approval</h1>
						</div>

						<div class="row">
							<div class="col-md-6" style="padding-left: 30px; padding-right: 30px;">
								<div class="row">
									<!-- Section list head -->
									<section id="data-maintenance" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
										</div>
										<div class="form-action-button" th:if="${not #strings.isEmpty(woapproval.xpornum)}">
											<a th:href="@{/procurement/woapproval}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;"> Clear</span></a>
											<a th:if="${not #strings.isEmpty(woapproval.xpornum) and woapproval.xstatuspor == 'Open' and woapproval.xstatus == 'Confirmed' and woapproval.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> <span style="margin-left:2px;"> Update</span></a>
											<a th:if="${not #strings.isEmpty(woapproval.xpornum) and woapproval.xstatuspor == 'Open' and woapproval.xstatus == 'Confirmed'  and woapproval.zactive == true}" th:href="@{/procurement/woapproval/delete/} + ${woapproval.xpornum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;"> Delete</span></a>
											<a th:if="${not #strings.isEmpty(woapproval.xpornum) and woapproval.xstatuspor == 'Open' and woapproval.xstatus == 'Confirmed'  and woapproval.zactive == true}" th:href="@{/procurement/woapproval/approve/} + ${woapproval.xpornum}" class="btn btn-sm btn-success confirm-btn-link"><i class="fa fa-check-circle"></i> <span style="margin-left:2px;"> Approve</span></a>
											<a th:if="${not #strings.isEmpty(woapproval.xpornum) and woapproval.xstatuspor == 'Open' and woapproval.xstatus == 'Confirmed'  and woapproval.zactive == true}" th:href="@{/procurement/woapproval/reject/} + ${woapproval.xpornum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fa fa-ban"></i> <span style="margin-left:2px;"> Reject</span></a>
											<a th:if="${not #strings.isEmpty(woapproval.xpornum) and woapproval.xstatuspor == 'Approved' and woapproval.xstatus == 'Confirmed'  and woapproval.zactive == true}" th:href="@{/procurement/woapproval/createqc/} + ${woapproval.xpornum}" class="btn btn-sm btn-info confirm-btn-link"><i class="glyphicon glyphicon-plus"></i> <span style="margin-left:2px;"> Create QC</span></a>
											<a th:if="${not #strings.isEmpty(woapproval.xpornum)}" th:href="@{/procurement/woapproval/print/} + ${woapproval.xpornum}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-print"></i> Print Work Order</a>
										</div>
										<div class="form-action-button" th:if="${not #strings.isEmpty(woapproval.xpornum)}">
											<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-fast-backward"></i> <span style="margin-left:2px;"> Top</span></a>
											<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-chevron-left"></i> <span style="margin-left:2px;"> Previous</span></a>
											<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-chevron-right"></i> <span style="margin-left:2px;"> Next</span></a>
											<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-fast-forward"></i> <span style="margin-left:2px;"> Bottom</span></a>
										</div>
										<div class="section-body section-border" th:if="${not #strings.isEmpty(woapproval.xpornum)}">
											<form id="mainform" class="form-horizontal" th:action="@{/procurement/woapproval/save}" th:object="${woapproval}" method="post" th:with="df=${'E, dd-MMM-yyyy HH:mm:ss'}">
												<input type="hidden" class="form-control" th:field="*{xtypetrn}">
												<input type="hidden" id="xprepdate" name="xprepdate" th:value="${#dates.format(woapproval.xprepdate, df)}"/>
											<input type="hidden" id="xdate" name="xdate" th:value="${#dates.format(woapproval.xdate, df)}"/>
												<div class="row">
													<div class="col-md-6">

														<div class="form-group" th:if="${#strings.isEmpty(woapproval.xpornum)}">
															<label class="control-label col-md-4" for="xtrn">Order Number</label>
															<div class="col-md-6">
																<select class="form-control" th:field="*{xtrn}">
																	<option th:each="prefix : ${prefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
																</select>
															</div>
														</div>

														<div class="form-group" th:if="${not #strings.isEmpty(woapproval.xpornum)}">
															<label class="control-label col-md-4" for="xpornum ">Order Number</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:value="*{xpornum}" disabled="disabled">
																<input type="hidden" class="form-control" th:field="*{xpornum}">
															</div>
														</div>

														<div class="form-group datepicker">
															<label class="control-label col-md-4" for="xdate">Order Date</label>
															<div class="input-group date col-md-7 datepicker">
																<input 	type="datepicker" 
																		class="form-control" 
																		id="xdate"
																		name="xdate"
																		th:value="${woapproval.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(woapproval.xdate, df)}"
																		disabled="disabled"/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xcus" th:text="#{so.form.label.xcus}">Supplier</label>
															<div class="col-sm-8">
																<input type="hidden" class="form-control" th:field="*{xcus}">
																<input type="text" class="form-control" th:value="${woapproval.xcus + ' - ' + woapproval.xorg}" disabled="disabled"/>
															</div>
														</div>

														<!--<div class="form-group">
															<label class="control-label col-md-4" for="xwh">Store/Site</label>
															<div class="col-md-8">
																<select class="form-control" th:field="*{xwh}">
																	<option th:each="wh : ${warehouses}" th:value="${wh.xcode}" th:text="${wh.xcode} +' - '+${wh.xdescdet}"></option>
																</select>
															</div>
														</div>-->

													<div class="form-group">
														<label class="control-label col-md-4" for="xhwh">Project/Business</label>
														<div class="col-md-8">
															<input type="hidden" th:field="*{xhwh}" class="form-control"/>
															<input type="text" th:value="${woapproval.xhwh+ '-' + woapproval.projectName}" class="form-control" disabled="disabled"/>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xwh" th:text="#{pr.form.label.xwh}">Site/Store</label>
														<div class="col-md-8">
															<input type="hidden" th:field="*{xwh}" class="form-control"/>
															<input type="text" th:value="${woapproval.xwh + '-' + woapproval.storeName}" class="form-control" disabled="disabled"/>
														</div>
													</div>

														<div class="form-group">
															<label class="control-label col-sm-4" for="xporeqnum">Requisition Number</label>
															<div class="col-sm-8">
																<input type="hidden" class="form-control" th:field="*{xporeqnum}">
																<input type="text" class="form-control" th:value="*{xporeqnum}" disabled="disabled"/>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-sm-4" for="xquotnum">Quotation Number</label>
															<div class="col-sm-8">
																<input type="hidden" class="form-control" th:field="*{xquotnum}">
																<input type="text" class="form-control" th:value="*{xquotnum}" disabled="disabled"/>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-sm-4" for="xref">Reference</label>
															<div class="col-sm-8">
																<input type="hidden" class="form-control" th:field="*{xref}">
																<input type="text" class="form-control" th:value="*{xref}" disabled="disabled"/>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-sm-4" for="xpreparer">Prepared By</label>
															<div class="col-sm-8">
																<input type="hidden" class="form-control" th:field="*{xpreparer}">
																<input type="text" class="form-control" th:value="${woapproval.xpreparer + ' - ' + woapproval.xpreparername}" disabled="disabled"/>
															</div>
														</div>

														<div class="form-group datetimepicker">
															<label class="control-label col-md-4" for="xprepdate">Creation Date</label>
															<div class="input-group date col-md-7 datetimepicker">
																<input 	type="datetimepicker" 
																		class="form-control" 
																		id="xprepdate"
																		name="xprepdate"
																		disabled="disabled"
																		th:value="${woapproval.xprepdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(woapproval.xprepdate, df)}"
																		/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xnote">Preparer Note</label>
															<div class="col-md-8">
																<textarea class="form-control" th:field="*{xnote}" rows="3" disabled="disabled"></textarea>
																<input type="hidden" class="form-control" th:field="*{xnote}">
															</div>
														</div>

													</div>
													<div class="col-md-6">

														<div class="form-group">
															<label class="control-label col-sm-4" for="xsignatory1">Approved  By</label>
															<div class="col-sm-8">
																<input type="hidden" class="form-control" th:field="*{xsignatory1}">
																<input type="text" class="form-control" 
																th:value="${not #strings.isEmpty(woapproval.xsignatory1) ? woapproval.xsignatory1 + ' - ' + woapproval.xsignatoryname : ''}" 
																disabled="disabled"/>
															</div>
														</div>

														<div class="form-group datetimepicker" th:if="${not #strings.isEmpty(woapproval.xsignatory1)}">
															<label class="control-label col-md-4" for="xsignatorydate1">Approve Date</label>
															<div class="input-group date col-md-7 datetimepicker">
																<input 	type="datetimepicker" 
																		class="form-control" 
																		id="xsignatorydate1"
																		name="xsignatorydate1"
																		disabled="disabled"
																		th:value="${woapproval.xsignatorydate1 == null ? #dates.format(#dates.createNow(), df) : #dates.format(woapproval.xsignatorydate1, df)}"
																		/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
																<input 	type="hidden" 
																	class="form-control" 
																	id="xsignatorydate1"
																	name="xsignatorydate1"
																	th:value="${woapproval.xsignatorydate1 == null ? #dates.format(#dates.createNow(), df) : #dates.format(woapproval.xsignatorydate1, df)}"
																/>
															</div>
														</div>

														<div class="form-group" th:if="${#strings.isEmpty(woapproval.xsignatory1)}">
															<label class="control-label col-md-4" for="xsignatorynote1">Approve  Date</label>
															<div class="col-md-8">
																<input type="text" class="form-control"  disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xsignatorynote1">Approver  Note</label>
															<div class="col-md-8">
																<textarea class="form-control" th:field="*{xsignatorynote1}" rows="3"></textarea>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xstatus">Status</label>
															<div class="col-md-8">
																<input type="hidden" class="form-control" th:field="*{xstatus}">
																<input type="text" class="form-control" th:value="*{xstatus}" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-sm-4" for="xstatuspor">Order Status</label>
															<div class="col-sm-8">
																<input type="hidden" class="form-control" th:field="*{xstatuspor}">
																<input type="text" class="form-control" th:value="*{xstatuspor}" disabled="disabled"/>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-sm-4" for="xtotamt">Total Amount</label>
															<div class="col-sm-8">
																<input type="hidden" class="form-control" th:field="*{xtotamt}">
																<input type="text" class="form-control" th:value="*{xtotamt}" disabled="disabled"/>
															</div>
														</div>

														<!--<div class="form-group">
															<label class="control-label col-sm-4" for="xgrnnum">QC Number</label>
															<div class="col-sm-8" style="top:6px; left:12px">
																<a th:href="@{/procurement/qcheader/} + ${woapproval.xgrnnum}" th:text="${woapproval.xgrnnum}"></a>
																<input type="hidden" class="form-control" th:field="*{xgrnnum}">
															</div>
														</div>-->	

														</div>
												</div>

											</form>
										</div>
								</section>
								</div>
								<div class="row">
									<section th:if="${not #strings.isEmpty(woapproval.xpornum)}" id="data-maintenance" style="margin-top: 30px;">
										<a id="listlines-url" th:href="@{/procurement/woapproval/woapprovaldetail/} + ${woapproval.xpornum}"></a>
										<div class="section-header sectionbartoggle">
											<h1>Work Order Details of <span th:text="${woapproval.xpornum}"></span></h1>
										</div>
										<div class="section-body">
											<table class="table table-striped table-bordered normal-table nowrap" id="woapprovaldetailtable" th:fragment="woapprovaldetailtable">
												<thead>
													<tr>
														<th>Row</th>
														<th>Item</th>
														<th>Purpose</th>
														<th>Unit</th>
														<th class="text-right">Qty</th>
														<th>Unit Price</th>
														<th>Line Amount</th>
														<th>CF(Purchase)</th>
														<th data-nosort="Y" style="text-align: right;" th:if="${woapproval.xstatus == 'Open'}">
															<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/procurement/woapproval/} + ${woapproval.xpornum} + '/woapprovaldetail/new/show', data-target-modal='woapprovaldetailmodal'"><i class="fas fa-plus"></i></button>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="d : ${woapprovaldetailList}">
														<td th:text="${d.xrow}"></td>
														<td>
															<a th:href="@{/mastersetup/caitem/} + ${d.xitem}" target="_blank" th:text="${d.xitem} + ' - ' + ${d.itemname}"></a>
														</td>
														<td th:text="${d.xpurpose}"></td>
														<td th:text="${d.xunitpur}"></td>
														<td class="text-right" th:text="${d.xqtypur}"></td>
														<td th:text="${d.xrate}"></td>
														<td th:text="${d.xlineamt}"></td>
														<td class="text-right" th:text="${d.xcfpur}"></td>
														<td  data-nosort="Y" style="text-align: right; font-size: 11px;" th:if="${woapproval.xstatus == 'Open'}">
															<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/procurement/woapproval/} + ${woapproval.xpornum} + '/woapprovaldetail/' + ${d.xrow} + '/show', data-target-modal='woapprovaldetailmodal'"><i class="fas fa-edit"></i></button>
															<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/procurement/woapproval/} + ${woapproval.xpornum} + '/woapprovaldetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
														</td>
													</tr>
												</tbody>
												<tfoot>
													<th colspan="4" class="text-right">Total</th>
													<th class="text-right" th:text="${totalQuantityReceived}">0</th>
													<th></th>
													<th class="text-right" th:text="${totalLineAmount}">0</th>
												</tfoot>
											</table>
										</div>
									</section>
								</div>
								<div class="row" th:if="${not #strings.isEmpty(woapproval.xpornum)}">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>All Default Terms & Conditions</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: scroll;">
												<table class="table table-striped table-bordered normal-table nowrap" id="addtermstable" th:fragment="addtermstable">
													<thead>
														<tr>
															<th>Terms</th>
															<th>Terms Detail</th>
															<th>Additional Info</th>
															<th>View Sequence</th>
														</tr>
													</thead>
													<tbody>
														<tr th:each="ar: ${allTermsdef}">
															<td th:text="${ar.xterm}"></td>
															<td th:text="${ar.xdesc}"></td>
															<td th:text="${ar.xnote}"></td>
															<td th:text="${ar.xserial}"></td>
														</tr>
														
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
							
							</div>

							<div class="col-md-6" style="padding-left: 30px; padding-right: 30px; margin-top: 30px;">
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Pending For Approval</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable">
													<thead>
														<tr>
															<th>Work Order Number</th>
															<th>Date</th>
															<th>Supplier</th>
															<th>Store</th>
															<th>Total Amount</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:if="${por.xstatus == 'Confirmed' and por.xstatuspor == 'Open'}" th:each="por : ${allwoapproval}">
															<td>
																<a th:href="@{/procurement/woapproval/} + ${por.xpornum}" th:text="${por.xpornum}"></a>
															</td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${#strings.isEmpty(por.xcus)? '' : por.xcus + ' - ' + por.xorg}"></td>
															<td th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.storeName}"></td>
															<td th:text="${por.xtotamt}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Rejected Work Orders</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable">
													<thead>
														<tr>
															<th>Work Order Number</th>
															<th>Date</th>
															<th>Supplier</th>
															<th>Store</th>
															<th>Total Amount</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:if="${por.xstatus == 'Confirmed' and por.xstatuspor == 'Rejected'}" th:each="por : ${allwoapproval}">
															<td>
																<a th:href="@{/procurement/woapproval/} + ${por.xpornum}" th:text="${por.xpornum}"></a>
															</td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${#strings.isEmpty(por.xcus)? '' : por.xcus + ' - ' + por.xorg}"></td>
															<td th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.storeName}"></td>
															<td th:text="${por.xtotamt}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Pending For Create QC</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable">
													<thead>
														<tr>
															<th>Work Order Number</th>
															<th>Date</th>
															<th>Supplier</th>
															<th>Store</th>
															<th>Total Amount</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:if="${por.xstatus == 'Confirmed' and por.xstatuspor == 'Approved'}" th:each="por : ${allwoapproval}">
															<td>
																<a th:href="@{/procurement/woapproval/} + ${por.xpornum}" th:text="${por.xpornum}"></a>
															</td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${#strings.isEmpty(por.xcus)? '' : por.xcus + ' - ' + por.xorg}"></td>
															<td th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.storeName}"></td>
															<td th:text="${por.xtotamt}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
								<!--<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>QC Created From Work Order</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable">
													<thead>
														<tr>
															<th>Work Order Number</th>
															<th>Date</th>
															<th>Supplier</th>
															<th>Store</th>
															<th>Total Amount</th>
															<th>QC Number</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:if="${por.xstatus == 'Confirmed' and por.xstatuspor == 'QC Created'}" th:each="por : ${allQcHeader}">
															<td>
																<a th:href="@{/procurement/woapproval/} + ${por.xpornum}" th:text="${por.xpornum}"></a>
															</td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${#strings.isEmpty(por.xcus)? '' : por.xcus + ' - ' + por.xorg}"></td>
															<td th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.storeName}"></td>
															<td th:text="${por.xtotamt}"></td>
															<td>
																<a th:href="@{/procurement/qcheader/} + ${por.xgrnnum}" th:text="${por.xgrnnum}"></a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>-->
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>QC Created From Work Order</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable" id="qcheadertable" th:fragment="qcheadertable">
													<thead>
														<tr>
															<th>QC Number</th>
															<th>Date</th>
															<th>Supplier</th>
															<th>Store</th>
															<th>WO Number</th>
															<th>Total Amount</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:if="${por.xstatusgrn == 'Open'}" th:each="por : ${createdQC}">
															<td>
																<a th:href="@{/procurement/qcheader/} + ${por.xgrnnum}" th:text="${por.xgrnnum}"></a>
															</td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${#strings.isEmpty(por.xcus)? '' : por.xcus + ' - ' + por.xorg}"></td>
															<td th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.storename}"></td>
															<td th:text="${por.xpornum}"></td>
															<td th:text="${por.xtotamt}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="woapprovaldetailmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>