<!-- Modal -->
<div id="lcamendmodal" th:fragment="lcamendmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update Ammendment Details</h4>
			</div>
			
			<div class="modal-body">
				<div class="row">
				<form id="mainform-modal" class="form-horizontal"  method="post" th:action="@{/cost/lcinfo/lcamend/save}" th:object="${lcm}" th:with="df=${'E, dd-MMM-yyyy'}">
				<input type="hidden" th:if="${xrow ne 0}" th:field="*{xrow}"/>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="section-header sectionbartoggle">
										<h1></h1>
									</div>
								</div>
							</div>
						</div>
						</div><br>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6">

										<div class="form-group datepicker">
											<label class="control-label col-md-3" for="xdate" th:text="#{lcli.modal.form.label.xdate}"> Date </label>
											<div class="input-group date col-md-6 datepicker">
												<input 	type="datepicker" 
														class="form-control" 
														id="xdate"
														name="xdate"
														required="required"
														th:value="${lcm.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(lcm.xdate, df)}"/>
												<div class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</div>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-sm-4" for="xapprover" th:text="#{lcli.modal.form.label.xapprover}">Approved By</label>
											<div class="col-sm-8">
												<input type="hidden" class="form-control" th:field="*{xapprover}">
												<input type="text" class="form-control" th:field="*{xapprover}" disabled="disabled"/>
											</div>
										</div>

									</div>

									<div class="col-md-6">

										<div class="form-group">
											<label class="control-label col-md-3" for="xnote" th:text="#{lcli.modal.form.label.xnote}"> Amendment</label>
											<div class="col-md-7">
												<input type="text" class="form-control" th:field="*{xnote}"/>
											</div>
										</div>

									</div>
									
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
	<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
				ck.ui.config.dateAndTimepicker();
			});
		</script>
</div>
