<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>POS Dashboard</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
		</head>
	<body>

		<!-- Header section -->
		<div class="header-section" ></div>
		


		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Dashboard</a></li>
										<li class="active"><a th:href="@{/posdashboard}"> POS Dashboard</a></li>
									
									</div>
								
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-12">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px">
									<div class="section-header sectionbartoggle">
										<h1>POS Dashboard</h1>
									</div>
									
									<div class="section-body" style="margin-top: 30px">
										<form id="mainform" class="form-horizontal" method="post">
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-3">
															<div class="panel-group" style="box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);">
																<div class="panel panel-default">
																	<div class="panel-heading">
																		<span style="font-size: 30px;font-weight: bold;">Sales</span><span> Count</span><br><span>By Terminal1</span>
																	</div>
																	<div class="panel-body" style="font-size:50px;font-weight:800;text-align:center;min-height:100px">00</div>
																	<div class="panel-footer text-right" style="font-weight: bold;">Shift 0-00</div>
																</div>
															</div>
														</div>
														<div class="col-md-3">
															<div class="panel-group" style="box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);">
																<div class="panel panel-default">
																	<div class="panel-heading">
																		<span style="font-size: 30px;font-weight: bold;">Hold</span><span> Count</span><br><span>By Terminal1</span>
																	</div>
																	<div class="panel-body" style="font-size:50px;font-weight:800;text-align:center;min-height:100px">00</div>
																	<div class="panel-footer text-right" style="font-weight: bold;">Shift 0-00</div>
																</div>
															</div>
														</div>
														<div class="col-md-3">
															<div class="panel-group" style="box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);">
																<div class="panel panel-default">
																	<div class="panel-heading">
																		<span style="font-size: 30px;font-weight: bold;">Canceled</span><span> Count</span><br><span>By Terminal1</span>
																	</div>
																	<div class="panel-body" style="font-size:50px;font-weight:800;text-align:center;min-height:100px">00</div>
																	<div class="panel-footer text-right" style="font-weight: bold;">Shift 0-00</div>
																</div>
															</div>
														</div>
														<div class="col-md-3">
															<div class="panel-group" style="box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);">
																<div class="panel panel-default">
																	
																	<div class="panel-body" style="text-align:center;min-height:220px">
																		<span style="font-size: 30px;font-weight: bold;">Table Free</span><br><span style="font-size:50px;font-weight:800;"> 00</span>
																	</div>
																	
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">
															<div class="panel-group" style="box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);">
																<div class="panel panel-default">
																	<div class="panel-body" style="min-height: 400px;font-size:50px;font-weight:800;text-align:center;"></div>
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="panel-group" style="box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2);">
																<div class="panel panel-default">
																	<div class="panel-body" style="min-height: 400px;font-size:50px;font-weight:800;text-align:center;"></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		  <!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
