<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="#{mdi.page.title}">Member/Director Info</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/cacus}">Member/Director Info</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">

						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1 th:text="#{mdi.page.heading}">Member/Director Info</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/cacus}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> Clear</a>
										<a th:if="${#strings.isEmpty(cacus.xcus)}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
										<a th:if="${not #strings.isEmpty(cacus.xcus) and cacus.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> Update</a>
										<a th:if="${not #strings.isEmpty(cacus.xcus) and cacus.zactive == true}" th:href="@{/cacus/delete/} + ${cacus.xcus} " class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Delete</a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" th:action="@{/cacus/save}" th:object="${cacus}" method="post">
											<input type="hidden" th:field="*{xtypetrn}"/>
											<input type="hidden" th:field="*{xcus}"/>
											<input type="hidden" th:field="*{xtype}"/>
											<div class="row">
												<div class="col-md-6">

													<div class="form-group" th:if="${#strings.isEmpty(cacus.xcus)}">
														<label class="control-label col-sm-4" for="xtrn" th:text="#{mdi.form.label.xtrn}">ID </label>
														<div class="col-sm-8">
															<select class="form-control" th:field="*{xtrn}" >
																<option th:each="d : ${prefixes}" th:value="${d.xtrn}" th:text="${d.xtrn}"></option>
															</select>
														</div>
													</div>

													<div class="form-group" th:if="${not #strings.isEmpty(cacus.xcus)}">
														<label class="control-label col-sm-4" for="xcus" th:text="#{mdi.form.label.xcus}">ID </label>
														<div class="col-sm-8">
															<input type="text" class="form-control" th:field="*{xcus}" disabled="disabled"/>
														</div>
													</div>

													<div class="form-group" >
														<label class="control-label col-md-4" for="xperson" th:text="#{mdi.form.label.xperson}">Person</label>
														<div class="col-sm-8">
															<input 	type="text" 
																	class="form-control searchsuggest xpersonsearch" 
																	placeholder="Search..." 
																	th:value="${#strings.isEmpty(cacus.xperson) ? '' : cacus.xperson + ' - ' + cacus.xpername}"  
																	th:attr="search-url='search/personId'"/>
															<input type="hidden" id="search-val" th:field="*{xperson}"/>
															<input type="hidden" id="search-des" th:value="*{xperson}"/>
														</div>
													</div>

												</div>
												<div class="col-md-6">

													<div class="form-group">
														<label class="control-label col-sm-4" for="xorg" th:text="#{mdi.form.label.xorg}">Name</label>
														<div class="col-sm-8">
															<input type="hidden" th:field="*{xorg}"/>
															<input type="text" class="form-control xorg-display" th:value="${cacus.xorg}" disabled="disabled"/>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-sm-4" for="xcontact" th:text="#{mdi.form.label.xcontact}">Contact No.</label>
														<div class="col-sm-8">
															<input type="hidden" th:field="*{xcontact}"/>
															<input type="text" class="form-control xcontact-display" th:value="${cacus.xcontact}" disabled="disabled"/>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="xemail" th:text="#{mdi.form.label.xemail}">Email</label>
														<div class="col-md-8">
															<input type="hidden" th:field="*{xemail}"/>
															<input type="email" class="form-control xemail-display" th:value="${cacus.xemail}" maxlength="100" disabled="disabled"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-4" for="xphone" th:text="#{mdi.form.label.xphone}">Phone </label>
														<div class="col-sm-8">
															<input type="hidden" th:field="*{xphone}"/>
															<input type="text" class="form-control xphone-display" th:value="${cacus.xphone}" disabled="disabled"/>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-sm-4" for="xmadd" th:text="#{mdi.form.label.xmadd}">Present Address </label>
														<div class="col-sm-8">
															<input type="hidden" th:field="*{xmadd}"/>
															<input type="text" class="form-control xmadd-display" th:value="${cacus.xmadd}" disabled="disabled"/>
														</div>
													</div>

													<!-- <div class="form-group">
														<label class="control-label col-sm-4" for="xcrlimit">Credit Limit </label>
														<div class="col-sm-8">
															<input type="number" class="form-control" th:field="*{xcrlimit}" min="0"/>
														</div>
													</div>
													<div class="form-group">
														<label class="control-label col-sm-4" for="xvatregno">Vat RegN </label>
														<div class="col-sm-8">
															<input type="text" class="form-control" th:field="*{xvatregno}"/>
														</div>
													</div> -->
													
													<!--<div class="form-group">
														<label class="control-label col-sm-4" for="xstatuscus" >Status </label>
														<div class="col-sm-8">
															<select class="form-control" th:field="*{xstatuscus}">
																<option th:each="sg : ${memberStatus}" th:text="${sg.xcode}" th:value="${sg.xcode}"></option>
															</select>
														</div>
													</div>-->
													
													<!--<div class="form-group" >
														<label class="control-label col-sm-4" for="xgcus">Member Group </label>
														<div class="col-sm-8">
															<select class="form-control" th:field="*{xgcus}" required="required">
																<option value="">Select</option>
																<option th:each="sg : ${memberGroup}" th:text="${sg.xcode}" th:value="${sg.xcode}"></option>
															</select>
														</div>
													</div>-->
													

												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1 th:text="#{mdi.table.heading.title}">All Member/Director Info</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th th:text="#{mdi.table.heading.xcus}">ID</th>
													<th th:text="#{mdi.table.heading.xorg}">Name</th>
													<th th:text="#{mdi.table.heading.xperson}">Person</th>
													<th th:text="#{mdi.table.heading.xmadd}">Present Address</th>
													<th th:text="#{mdi.table.heading.xemail}">Email</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="c : ${allMembers}">
													<td>
														<a th:href="@{/cacus/} + ${c.xcus}" th:text="${c.xcus}"></a>
													</td>
													<td th:text="${c.xorg}"></td>
													<td th:text="${#strings.isEmpty(c.xperson) ? '' : c.xperson + ' - ' + c.xpername}"></td>
													<td th:text="${c.xmadd}"></td>
													<td th:text="${c.xemail}"></td>
												</tr>
											</tbody>
										</table>
										</div>
									</div>
								</section>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>

		<!--<script type="text/javascript">
			$(document).ready(function(){

				if($('#xgcus').val() == 'Branch'){
					$('.branch-selection').removeClass('nodisplay');
				}

				$('#xgcus').on('change', function(e){
					e.preventDefault();
					if($(this).val() == 'Branch'){
						$('.branch-selection').removeClass('nodisplay');
					} else {
						$('#xcuszid').val("");
						$('.branch-selection').addClass('nodisplay');
					}
				})
			})
		</script>-->
		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
				
				$('.xpersonsearch').on('blur', function(){
					setTimeout(() => {
						if($('input[name="xperson"]').val() == ''){
							$('input.xorg-display').val('');
							$('input.xcontact-display').val('');
							$('input.xemail-display').val('');
							$('input.xphone-display').val('');
							$('input.xmadd-display').val('');
							return;
						}

						loadingMask2.show();
						$.ajax({
							url : getBasepath() + '/cacus/person/' + $('input[name="xperson"]').val(),
							type : 'GET',

							success : function(data) {
								console.log(data);
								loadingMask2.hide();

								$('input[name="xorg"]').val(data.xname);
								$('input.xorg-display').val(data.xname);	

								$('input[name="xcontact"]').val(data.xcontact);
								$('input.xcontact-display').val(data.xcontact);

								$('input[name="xemail"]').val(data.xemail);
								$('input.xemail-display').val(data.xemail);

								$('input[name="xphone"]').val(data.xphone);
								$('input.xphone-display').val(data.xphone);

								$('input[name="xmadd"]').val(data.xmadd);
								$('input.xmadd-display').val(data.xmadd);

							},
							
							
							error : function(jqXHR, status, errorThrown){
								showMessage(status, "Something went wrong .... ");
								loadingMask2.hide();
							}
						})
					}, 1000);
				});

			});
		</script>
		
	</body>
</html>