<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title th:text="#{pi.page.title}">Person</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/landperson}">Personal Information</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="section-header sectionbartoggle">
														<h1 th:text="#{pi.page.heading}">Personal Information</h1>
													</div>
													<div class="form-action-button">
														<a th:href="@{/landperson}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i>  <span style="margin-left:2px;" th:text="#{button.value.xclear}"> Clear</span></a>
														<a th:if="${#strings.isEmpty(person.xperson)}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i>  <span style="margin-left:2px;" th:text="#{button.value.xsave}"> Save</span></a>
														<a th:if="${not #strings.isEmpty(person.xperson) and person.zactive == true}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i>  <span style="margin-left:2px;" th:text="#{button.value.xupdate}"> Update</span></a>
														<a th:if="${not #strings.isEmpty(person.xperson) and person.zactive == true}" th:href="@{/landperson/delete/} + ${person.xperson}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i>  <span style="margin-left:2px;" th:text="#{button.value.xdelete}"> Delete</span></a>
														<a th:if="${not #strings.isEmpty(person.xperson) and person.zactive == true}" th:href="@{/landperson/print/} + ${person.xperson}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-print"></i>  <span style="margin-left:2px;" th:text="#{button.value.xprint}"> Print</span> </a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" method="post" th:action="@{/landperson/save}" th:object="${person}" th:with="df=${'E, dd-MMM-yyyy'}">
											<input type="hidden" th:field="*{xtypetrn}"/>
											<input type="hidden" th:field="*{xperson}"/>
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">
															<div class="form-group" th:if="${#strings.isEmpty(person.xperson)}">
																<label class="control-label col-md-4" for="xtrn" th:text="#{pi.form.label.xtrn}">Person ID </label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xtrn}">
																		<option th:each="d : ${prefixes}" th:value="${d.xtrn}" th:text="${d.xtrn}"></option>
																	</select>
																</div>
															</div>
															<div class="form-group" th:if="${not #strings.isEmpty(person.xperson)}">
																<label class="control-label col-md-4" for="xperson" th:text="#{pi.form.label.xperson}">Person ID </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:value="*{xperson}" disabled="disabled"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xname" th:text="#{pi.form.label.xname}">Name </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xname}" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xfname" th:text="#{pi.form.label.xfname}">Father's Name</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xfname}" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xmname" th:text="#{pi.form.label.xmname}">Mother's Name</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xmname}" maxlength="100"/>
																</div>
															</div>
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xdob" th:text="#{pi.form.label.xdob}">Date of Birth </label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xdob"
																			name="xdob"
																			required="required"
																			th:value="${person.xdob == null ? #dates.format(#dates.createNow(), df) : #dates.format(person.xdob, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xgender" th:text="#{pi.form.label.xgender}">Gender</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xgender}">
																		<option value="Male">Male</option>
																		<option value="Female">Female</option>
																		<option value="Other">Other</option>
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xoccupation" th:text="#{pi.form.label.xoccupation}">Occupation </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xoccupation}" maxlength="100"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xcontact" th:text="#{pi.form.label.xcontact}">Contact No.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xcontact}" maxlength="100"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xemail" th:text="#{pi.form.label.xemail}">Email</label>
																<div class="col-md-8">
																	<input type="email" class="form-control" th:field="*{xemail}" maxlength="100" />
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label col-md-4" for="xphone" th:text="#{pi.form.label.xphone}">Phone No.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xphone}" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xmadd" th:text="#{pi.form.label.xmadd}">Present Address</label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" th:field="*{xmadd}" placeholder="Present Address here.."></textarea>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xpadd" th:text="#{pi.form.label.xpadd}">Permanent Address </label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" th:field="*{xpadd}" placeholder="Permanent Address here.."></textarea>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xnote" th:text="#{pi.form.label.xnote}">Note</label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" th:field="*{xnote}" placeholder="Note here.."></textarea>
																</div>
															</div>
														</div>
														<div class="col-md-6">
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1 th:text="#{pi.table.heading.title}">Personal Information Details</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th th:text="#{pi.table.heading.xperson}">Person ID</th>
														<th th:text="#{pi.table.heading.xname}">Name</th>
														<th th:text="#{pi.table.heading.xoccupation}">Occupation</th>
														<th th:text="#{pi.table.heading.xemail}">Email</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="ar : ${allPersons}">
														<td><a th:href="@{/landperson/} + ${ar.xperson}" th:text="${ar.xperson}"></a></td>
														<td th:text="${ar.xname}"></td>
														<td th:text="${ar.xoccupation}"></td>
														<td th:text="${ar.xemail}"></td>
													</tr>
													
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					
					<div class="col-md-12">
						<section th:if="${not #strings.isEmpty(person.xperson)}" id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>Education Details of <span th:text="${person.xperson}"></span></h1>
							</div>
							<div class="section-body" style="overflow-y:scroll;height:200px;">
								<table class="table table-striped table-bordered normal-table" id="educationtable" th:fragment="educationtable">
									<thead>
										<tr>
											<th th:text="#{pi.modal.table.heading.count}">SL#</th>
											<th th:text="#{pi.modal.table.heading.xyear}">Year</th>
											<th th:text="#{pi.modal.table.heading.xexam}">Exam</th>
											<th th:text="#{pi.modal.table.heading.xinstitude}">Institute</th>
											<th th:text="#{pi.modal.table.heading.xsession}">Session</th>
											<th th:text="#{pi.modal.table.heading.xmajor}">Major/Subject</th>
											<th th:text="#{pi.modal.table.heading.xresult}">Result </th>
											<th data-nosort="Y" style="text-align: right;">
												<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/landperson/} + ${person.xperson} + '/education/new/show', data-target-modal='educationmodal'"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="d, n : ${lpelist}">
											<td th:text="${n.count}"></td>
											<td th:text="${d.xyear}"></td>
											<td th:text="${d.xexam}"></td>
											<td th:text="${d.xinstitude}"></td>
											<td th:text="${d.xsession}"></td>
											<td th:text="${d.xmajor}"></td>
											<td th:text="${d.xresult}"></td>
											<td data-nosort="Y" style="text-align: right; font-size: 11px;">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/landperson/} + ${person.xperson} + '/education/' + ${d.xrow} + '/show', data-target-modal='educationmodal'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/landperson/} + ${person.xperson} + '/education/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
					
					<div class="col-md-12">
						<section th:if="${not #strings.isEmpty(person.xperson)}" id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>Experience Details of <span th:text="${person.xperson}"></span></h1>
							</div>
							<div class="section-body" style="overflow-y:scroll;height:200px;">
								<table class="table table-striped table-bordered normal-table" id="experiencetable" th:fragment="experiencetable">
									<thead>
										<tr>
											<th th:text="#{pi.modal1.table.heading.count}">SL#</th>
											<th th:text="#{pi.modal1.table.heading.xname}">Title</th>
											<th th:text="#{pi.modal1.table.heading.xdesignation}">Designation</th>
											<th th:text="#{pi.modal1.table.heading.xtypetrn}">Experince Type</th>
											<th th:text="#{pi.modal1.table.heading.xtype}">Type</th>
											<th th:text="#{pi.modal1.table.heading.xduration}">Duration (Year) </th>
											<th data-nosort="Y" style="text-align: right;">
												<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/landperson/} + ${person.xperson} + '/experience/new/show', data-target-modal='experiencemodal'"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="aex, c: ${lpexlist}">
											<td th:text="${c.count}"></td>
											<td th:text="${aex.xname}"></td>
											<td th:text="${aex.xdesignation}"></td>
											<td th:text="${aex.xtypetrn}"></td>
											<td th:text="${aex.xtype}"></td>
											<td th:text="${aex.xduration}"></td>
											<td data-nosort="Y" style="text-align: right; font-size: 11px;">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/landperson/} + ${person.xperson} + '/experience/' + ${aex.xrow} + '/show', data-target-modal='experiencemodal'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/landperson/} + ${person.xperson} + '/experience/' + ${aex.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
					
					<div class="col-md-12">
						<section th:if="${not #strings.isEmpty(person.xperson)}" id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>Document Details of <span th:text="${person.xperson}"></span></h1>
							</div>
							<div class="section-body" style="overflow-y:scroll;height:200px;">
								<table class="table table-striped table-bordered normal-table" id="persondocumenttable" th:fragment="persondocumenttable">
									<thead>
										<tr>
											<th th:text="#{pi.modal2.table.heading.count}">SL#</th>
											<th th:text="#{pi.modal2.table.heading.xdoc}">Document ID</th>
											<th th:text="#{pi.modal2.table.heading.xdoctype}">Document Type</th>
											<th th:text="#{pi.modal2.table.heading.xdocument}">Document </th>
											<th th:text="#{pi.modal2.table.heading.xnote}">Note</th>
											<th data-nosort="Y" style="text-align: right;">
												<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/landperson/} + ${person.xperson} + '/person/new/show', data-target-modal='persondocumentmodal'"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="pd, n : ${lpdlist}">
											<td th:text="${n.count}"></td>
											<td th:text="${pd.xdoc}"></td>
											<td th:text="${pd.xdoctype}"></td>
											<td>
												<a th:href="@{/download/document/} + ${pd.xdocument} + '/' + ${pd.xnameold}" target="_blank" th:text="${pd.xnameold}">Download</a>
											</td>
											<td th:text="${pd.xnote}"></td>
											<td data-nosort="Y" style="text-align: right; font-size: 11px;">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/landperson/} + ${person.xperson} + '/person/' + ${pd.xrow} + '/show', data-target-modal='persondocumentmodal'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/landperson/} + ${person.xperson} + '/person/' + ${pd.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="educationmodal-section"></div>
		<div id="experiencemodal-section"></div>
		<div id="persondocumentmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
