<!-- Modal -->
<div id="landeventsmodal" th:fragment="landeventsmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update Land Activity Details</h4>
			</div>
			
			<div class="modal-body">
				<div class="row">
				<form id="mainform-modal" class="form-horizontal"  method="post" th:action="@{/landinfo/landevents/save}" th:object="${le}" th:with="df=${'E, dd-MMM-yyyy'}">
				<input type="hidden" th:if="${xrow ne 0}" th:field="*{xrow}"/>
				<input type="hidden" th:field="*{xland}"/>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="section-header sectionbartoggle">
										
									</div>
								</div>
							</div>
						</div>
						</div><br>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6">

										<div class="form-group" >
											<label class="control-label col-md-4" for="xperson" th:text="#{li.modal3.label.xperson}">Person ID</label>
											<div class="col-sm-7">
												<input 	type="text" 
														class="form-control searchsuggest" 
														placeholder="Search..." 
														th:value="${#strings.isEmpty(le.xperson) ? '' : le.xperson + ' - ' + le.xpername}"
														th:attr="search-url='search/personId'"/>
												<input type="hidden" id="search-val" th:field="*{xperson}"/>
												<input type="hidden" id="search-des" th:value="*{xperson}"/>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-4" for="xtype" th:text="#{li.modal3.label.xtype}">Priority</label>
											<div class="col-md-7">
												<select class="form-control" th:field="*{xtype}">
													<option th:each="d : ${priorityTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
												</select>
											</div>
										</div>

									</div>

									<div class="col-md-6">

										<div class="form-group datepicker">
											<label class="control-label col-md-3" for="xdate" th:text="#{li.modal3.label.xdate}"> Date </label>
											<div class="input-group date col-md-6 datepicker">
												<input 	type="datepicker" 
														class="form-control" 
														id="xdate"
														name="xdate"
														required="required"
														th:value="${le.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(le.xdate, df)}"/>
												<div class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</div>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-3" for="xplace" th:text="#{li.modal3.label.xplace}"> Place</label>
											<div class="col-md-7">
												<input type="text" class="form-control" th:field="*{xplace}"/>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-3" for="xnote" th:text="#{li.modal3.label.xnote}">Comment</label>
											<div class="col-md-7">
												<textarea class="form-control" rows="3" th:field="*{xnote}" placeholder="Note"></textarea>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
	<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
				ck.ui.config.dateAndTimepicker();
			});
		</script>
</div>
