<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title th:text="#{lci.page.title}">Land Committee Info</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>
		


		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/landcommitteeinfo}">Land Committee Info</a></li>
									
									</div>
								
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="section-header sectionbartoggle">
														<h1 th:text="#{lci.page.heading}"> Committee Info</h1>
													</div>
													<div class="form-action-button">
														<a th:href="@{/landcommitteeinfo}"  class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xclear}"> Clear</span></a>
														<a th:if="${#strings.isEmpty(committee.xcommittee)}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xsave}"> Save</span></a>
														<a th:if="${not #strings.isEmpty(committee.xcommittee) and committee.zactive == true}"  class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xupdate}"> Update</span></a>
														<a th:if="${not #strings.isEmpty(committee.xcommittee) and committee.zactive == true}" th:href="@{/landcommitteeinfo/delete/} + ${committee.xcommittee}"  class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xdelete}"> Delete</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" method="post" th:action="@{/landcommitteeinfo/save}"  th:object="${committee}" th:with="df=${'E, dd-MMM-yyyy'}">
											<input type="hidden" th:field="*{xtypetrn}"/>
											<input type="hidden" th:field="*{xcommittee}"/>
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">

															<div class="form-group" th:if="${#strings.isEmpty(committee.xcommittee)}">
																<label class="control-label col-md-4" for="xtrn" th:text="#{lci.form.label.xtrn}">Committee ID </label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xtrn}">
																		<option th:each="d : ${prefixes}" th:value="${d.xtrn}" th:text="${d.xtrn}"></option>
																	</select>
																</div>
															</div>

															<div class="form-group" th:if="${not #strings.isEmpty(committee.xcommittee)}" >
																<label class="control-label col-md-4" for="xcommittee" th:text="#{lci.form.label.xcommittee}">Committee ID</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:value="*{xcommittee}" disabled="disabled"/>
																</div>
															</div>

															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xdate" th:text="#{lci.form.label.xdate}">Formation Date </label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xdate"
																			name="xdate"
																			required="required"
																			th:value="${committee.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(committee.xdate, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xelecdate" th:text="#{lci.form.label.xelecdate}">Election Date </label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xelecdate"
																			name="xelecdate"
																			required="required"
																			th:value="${committee.xelecdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(committee.xelecdate, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>

															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xstartdate" th:text="#{lci.form.label.xstartdate}">Start Date </label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xstartdate"
																			name="xstartdate"
																			required="required"
																			th:value="${committee.xstartdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(committee.xstartdate, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>

															
														</div>

														<div class="col-md-6">

															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xenddate" th:text="#{lci.form.label.xenddate}">End Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xenddate"
																			name="xenddate"
																			required="required"
																			th:value="${committee.xenddate == null ? #dates.format(#dates.createNow(), df) : #dates.format(committee.xenddate, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xexpdate" th:text="#{lci.form.label.xexpdate}">Expiry Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xexpdate"
																			name="xexpdate"
																			required="required"
																			th:value="${committee.xexpdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(committee.xexpdate, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xnote" th:text="#{lci.form.label.xnote}">Note:</label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" th:field="*{xnote}" placeholder="Note"></textarea>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Committee Info</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th th:text="#{lci.table.heading.xcommittee}">Commitee ID</th>
														<th th:text="#{lci.table.heading.xdate}">Formation Date</th>
														<th th:text="#{lci.table.heading.xstartdate}">Start Date</th>
														<th th:text="#{lci.table.heading.xenddate}">End Date</th>
													</tr>
													
												</thead>
												<tbody  th:with="df=${'E, dd-MMM-yyyy'}">
													<tr th:each="ar : ${allCommitteeInfos}">
														<td><a th:href="@{/landcommitteeinfo/} + ${ar.xcommittee}" th:text="${ar.xcommittee}"></a></td>
														<td th:text="${#dates.format(ar.xdate, df)}"></td>
														<td th:text="${#dates.format(ar.xstartdate, df)}"></td>
														<td th:text="${#dates.format(ar.xenddate, df)}"></td>
													</tr>
													
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-12">
			<section th:if="${not #strings.isEmpty(committee.xcommittee)}" id="data-maintenance" style="margin-top: 30px;">
				<div class="section-header sectionbartoggle">
					<h1> Committee Members of <lebel th:text="${committee.xcommittee}"></lebel> </h1>
					
				</div>
				<div class="section-body">
					<table class="table table-striped table-bordered normal-table" id="commemberstable" th:fragment="commemberstable">
						<thead>
							<tr>
								<th th:text="#{lci.model.table.heading.count}">Row</th>
								<th th:text="#{lci.model.table.heading.xperson}">Person Id</th>
								<th th:text="#{lci.model.table.heading.xmembertype}">Member Type</th>
								<th th:text="#{lci.model.table.heading.xnote}">Note </th>
								<th data-nosort="Y" style="text-align: right;">
									<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/landcommitteeinfo/} + ${committee.xcommittee} + '/commembers/new/show', data-target-modal='commembersmodal'"><i class="fas fa-plus"></i></button>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="d, n : ${lcmlist}">
								<td th:text="${n.count}"></td>
								<td><a th:href="@{/landperson/} + ${d.xperson}" target="_blank" th:text="${d.xperson}"></a></td>
								<td th:text="${d.xmembertype}"></td>
								<td th:text="${d.xnote}"></td>
								<td data-nosort="Y" style="text-align: right; font-size: 11px;">
									<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/landcommitteeinfo/} + ${committee.xcommittee} + '/commembers/' + ${d.xrow} + '/show', data-target-modal='commembersmodal'"><i class="fas fa-edit"></i></button>
									<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/landcommitteeinfo/} + ${committee.xcommittee} + '/commembers/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
								</td>
							</tr>
						</tbody>
						<tfoot>
						<tr>
						</tr>
						</tfoot>
					</table>
				</div>
			</section>
		</div>
				
		<!-- Modal -->
		<div id="commembersmodal-section"></div>
		  <!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
