<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title th:text="#{si.page.title}">Surveyor</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>
		


		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/landsurveyor}">Land Surveyor</a></li>
									
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="section-header sectionbartoggle">
														<h1 th:text="#{si.page.heading}">Surveyor Information</h1>
													</div>
													<div class="form-action-button">
														<a th:href="@{/landsurveyor}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xclear}"> Clear</span></a>
														<a th:if="${#strings.isEmpty(surveyor.xsurveyor)}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xsave}"> Save</span></a>
														<a th:if="${not #strings.isEmpty(surveyor.xsurveyor) and surveyor.zactive == true}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xupdate}"> Update</span></a>
														<a th:if="${not #strings.isEmpty(surveyor.xsurveyor) and surveyor.zactive == true}" th:href="@{/landsurveyor/delete/} + ${surveyor.xsurveyor}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xdelete}"> Delete</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" method="post" th:action="@{/landsurveyor/save}" th:object="${surveyor}" th:with="df=${'E, dd-MMM-yyyy'}">
											<input type="hidden" th:field="*{xtypetrn}"/>
											<input type="hidden" th:field="*{xsurveyor}"/>
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">
															<div class="form-group" th:if="${#strings.isEmpty(surveyor.xsurveyor)}">
																<label class="control-label col-md-4" for="xtrn" th:text="#{si.form.label.xtrn}">Surveyor ID</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xtrn}">
																		<option th:each="d : ${prefixes}" th:value="${d.xtrn}" th:text="${d.xtrn}"></option>
																	</select>
																</div>
															</div>
															<div class="form-group" th:if="${not #strings.isEmpty(surveyor.xsurveyor)}">
																<label class="control-label col-md-4" for="xsurveyor" th:text="#{si.form.label.xsurveyor}">Surveyor ID</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:value="*{xsurveyor}" maxlength="100"  disabled="disabled"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xname" th:text="#{si.form.label.xname}">Surveyor Name </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xname}" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xfname" th:text="#{si.form.label.xfname}">Father's Name </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xfname}" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xmname" th:text="#{si.form.label.xmname}">Mother's Name </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xmname}" maxlength="100"/>
																</div>
															</div>
															
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xdob" th:text="#{si.form.label.xdob}">Date of Birth</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xdob"
																			name="xdob"
																			required="required"
																			th:value="${surveyor.xdob == null ? #dates.format(#dates.createNow(), df) : #dates.format(surveyor.xdob, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xgender" th:text="#{si.form.label.xgender}">Gender</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xgender}">
																		<option value="Male">Male</option>
																		<option value="Female">Female</option>
																		<option value="Other">Other</option>
																	</select>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xoccupation"th:text="#{si.form.label.xoccupation}">Occupation </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xoccupation}" maxlength="100"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xcontact"th:text="#{si.form.label.xcontact}">Contact No. </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xcontact}" maxlength="100"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xemail" th:text="#{si.form.label.xemail}">Email </label>
																<div class="col-md-8">
																	<input type="email" class="form-control" th:field="*{xemail}" maxlength="100" />
																</div>
															</div>
														</div>
														<div class="col-md-6">
															<div class="form-group">
																<label class="control-label col-md-4" for="xphone" th:text="#{si.form.label.xphone}">Phone No.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xphone}" maxlength="100" />
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xmadd" th:text="#{si.form.label.xmadd}">Present Address </label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" th:field="*{xmadd}" placeholder="Mailing Address here.."></textarea>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xpadd" th:text="#{si.form.label.xpadd}">Permanent Address </label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" th:field="*{xpadd}" placeholder="Permanent Address here.."></textarea>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="xnote"th:text="#{si.form.label.xnote}">Note </label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3" th:field="*{xnote}" placeholder="Note here.."></textarea>
																</div>
															</div>
															
														</div>
														<div class="col-md-6">
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1> All Surveyor Info</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th th:text="#{si.table.heading.xsurveyor}">Surveyor ID</th>
														<th th:text="#{si.table.heading.xname}">Surveyor Name</th>
														<th th:text="#{si.table.heading.xoccupation}">Occupation</th>
														<th th:text="#{si.table.heading.xemail}">Email</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="ar : ${allSurveyors}">
														<td><a th:href="@{/landsurveyor/} + ${ar.xsurveyor}" th:text="${ar.xsurveyor}"></a></td>
														<td th:text="${ar.xname}"></td>
														<td th:text="${ar.xoccupation}"></td>
														<td th:text="${ar.xemail}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<section th:if="${not #strings.isEmpty(surveyor.xsurveyor)}" id="data-maintenance" style="margin-top: 30px;">
							<div class="section-header sectionbartoggle">
								<h1>Document Details of <span th:text="${surveyor.xsurveyor}"></span></h1>
							</div>
							<div class="section-body" style="overflow-y:scroll;height:200px;">
								<table class="table table-striped table-bordered normal-table" id="surveyordocumenttable" th:fragment="surveyordocumenttable">
									<thead>
										<tr>
											<th th:text="#{si.modal.table.heading.count}">SN#</th>
											<th th:text="#{si.modal.table.heading.xdoc}">Document ID</th>
											<th th:text="#{si.modal.table.heading.xdoctype}">Document Type</th>
											<th th:text="#{si.modal.table.heading.xname}">Title</th>
											<th th:text="#{si.modal.table.heading.xdocument}">Document </th>
											<th th:text="#{si.modal.table.heading.xnote}">Note</th>
											<th data-nosort="Y" style="text-align: right;">
												<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/landsurveyor/} + ${surveyor.xsurveyor} + '/surveyor/new/show', data-target-modal='Surveyordocumentmodal'"><i class="fas fa-plus"></i></button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="pd, n : ${lsdlist}">
											<td th:text="${n.count}"></td>
											<td th:text="${pd.xdoc}"></td>
											<td th:text="${pd.xdoctype}"></td>
											<td th:text="${pd.xname}"></td>
											<td>
												<a th:href="@{/download/document/} + ${pd.xdocument} + '/' + ${pd.xnameold}" target="_blank" th:text="${pd.xnameold}">Download</a>
											</td>
											<td th:text="${pd.xnote}"></td>
											<td data-nosort="Y" style="text-align: right; font-size: 11px;">
												<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/landsurveyor/} + ${surveyor.xsurveyor} + '/surveyor/' + ${pd.xrow} + '/show', data-target-modal='Surveyordocumentmodal'"><i class="fas fa-edit"></i></button>
												<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/landsurveyor/} + ${surveyor.xsurveyor} + '/surveyor/' + ${pd.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div id="Surveyordocumentmodal-section"></div>
		
		  <!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
