<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Dag Master</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/dag}">Dag Master</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="section-header sectionbartoggle">
														<h1>Dag Master</h1>
													</div>
													<div class="form-action-button">
														<a th:href="@{/dag}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> Clear</a>
														<a th:if="${landdag.xdagid eq 0}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
														<a  th:if="${landdag.xdagid ne 0 and dag.zactive == true}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Update</a>
														<a th:if="${landdag.xdagid ne 0 and dag.zactive == true}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Delete</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" method="post" th:action="@{/dag/save}" th:object="${landdag}">
											<input type="hidden" th:field="*{xdagid}"/>
												
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">
															
															<div class="form-group"  th:if="${landdag.xdagid eq 0}">
																<label class="control-label col-md-4" for="xdagtype">Dag Type</label>
																<div class="col-md-8">
																	
																	<select class="form-control" th:field="*{xdagtype}">
																		<option th:each="d : ${dagTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															
															<div class="form-group"  th:if="${landdag.xdagid ne 0}">
																<label class="control-label col-md-4" for="xdagtype">Dag Type</label>
																<div class="col-md-8" >
																	<input type="text" class="form-control" th:value="*{xdagtype}" disabled="disabled"/>
																	
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xamt">Land Amount (Owned)</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xamt}"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xunit">Land Unit</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xunit}">
																		<option th:each="d : ${landUnitTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
														</div>
														
														<div class="col-md-6">
															
															<div class="form-group"  th:if="${landdag.xdagid eq 0}">
																<label class="control-label col-md-4" for="xdagnum">Dag No.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" placeholder="" th:field="*{xdagnum}"/>
																</div>
															</div>
															
															<div class="form-group"  th:if="${landdag.xdagid ne 0}">
																<label class="control-label col-md-4" for="xdagnum">Dag No.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:value="*{xdagnum}" disabled="disabled"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xamtmap">Land Amount (Map)</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" value="" th:field="*{xamtmap}"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xnote">Note</label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3"  placeholder="Note" th:field="*{xnote}"></textarea>
																</div>
															</div>
															
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Dags</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th>Dag Type</th>
														<th>Dag No.</th>
														<th>Land Amount (Owned)</th>
														<th>Land Amount (Map)</th>
														<th>Land RUnit</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="ar: ${allDags}">
														
														<td><a th:href="@{/dag/}+ ${ar.xdagid}" th:text="${ar.xdagtype}"></a></td>
														<td th:text="${ar.xdagnum}"></td>
														<td th:text="${ar.xamt}"></td>
														<td th:text="${ar.xamtmap}"></td>
														<td th:text="${ar.xunit}"></td>
													</tr>
													
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="educationmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
