<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Service Requisition</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/procurement/poreqheader}">Service Requisition</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center">Service Requisition</h1>
						</div>

						<div class="row">
							<div class="col-md-6" style="padding-left: 30px; padding-right: 30px;">
								<div class="row">
									<!-- Section list head -->
									<section id="data-maintenance" style="margin-top: 30px;">
										<div c  lass="section-header sectionbartoggle">
										</div>
										<div class="form-action-button">
											<a th:href="@{/procurement/poreqheader}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;"> Clear</span></a>
											<a th:if="${#strings.isEmpty(poreqheader.xporeqnum)}" th:href="@{/procurement/poreqheader}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;"> Save</span></a>
											<a th:if="${not #strings.isEmpty(poreqheader.xporeqnum) and poreqheader.xstatusreq == 'Open' and poreqheader.xstatus == 'Open' and poreqheader.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> <span style="margin-left:2px;"> Update</span></a>
											<a th:if="${not #strings.isEmpty(poreqheader.xporeqnum) and poreqheader.xstatusreq == 'Open' and poreqheader.xstatus == 'Open'  and poreqheader.zactive == true}" th:href="@{/procurement/poreqheader/delete/} + ${poreqheader.xporeqnum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;"> Delete</span></a>
											<a th:if="${not #strings.isEmpty(poreqheader.xporeqnum) and poreqheader.xstatusreq == 'Open' and poreqheader.xstatus == 'Open'  and poreqheader.zactive == true}" th:href="@{/procurement/poreqheader/confirm/} + ${poreqheader.xporeqnum}" class="btn btn-sm btn-warning confirm-btn-link"><i class="fas fa-paper-plane"></i> <span style="margin-left:2px;"> Confirm</span></a>
											<a th:if="${not #strings.isEmpty(poreqheader.xporeqnum)}" th:href="@{/procurement/poreqheader/print/} + ${poreqheader.xporeqnum}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-print"></i> Print Requisition</a>
										</div>
										<div class="form-action-button">
											<a th:href="@{/procurement/poreqheader/top}" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-fast-backward"></i> <span style="margin-left:2px;"> Top </span></a>
											<a th:if="${not #strings.isEmpty(poreqheader.xporeqnum)}" th:href="@{/procurement/poreqheader/previous/} + ${poreqheader.xporeqnum}" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-chevron-left"></i> <span style="margin-left:2px;"> Previous </span></a>
											<a th:if="${not #strings.isEmpty(poreqheader.xporeqnum)}" th:href="@{/procurement/poreqheader/next/} + ${poreqheader.xporeqnum}" class="btn btn-sm btn-default"><span style="margin-right:2px;"> Next </span><i class="glyphicon glyphicon-chevron-right"></i></a>
											<a th:href="@{/procurement/poreqheader/bottom}" class="btn btn-sm btn-default"> <span style="margin-right:2px;"> Bottom </span><i class="glyphicon glyphicon-fast-forward"></i></a>
										</div>
										<div class="section-body section-border">
											<div id="poreqheaderform" th:fragment="poreqheaderform">
												<form id="mainform" class="form-horizontal" th:action="@{/procurement/poreqheader/save}" th:object="${poreqheader}" method="post" th:with="df=${'E, dd-MMM-yyyy HH:mm:ss'}">
													<input type="hidden" class="form-control" th:field="*{xtypetrn}">
													<input type="hidden" class="form-control" th:field="*{test}">
													<div class="row">
														<div class="col-md-6">

															<div class="form-group" th:if="${#strings.isEmpty(poreqheader.xporeqnum)}">
																<label class="control-label col-md-4" for="xtrn">Requisition Number</label>
																<div class="col-md-6">
																	<select class="form-control" th:field="*{xtrn}">
																		<option th:each="prefix : ${prefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
																	</select>
																</div>
															</div>

															<div class="form-group" th:if="${not #strings.isEmpty(poreqheader.xporeqnum)}">
																<label class="control-label col-md-4" for="xporeqnum">Requisition Number</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:value="*{xporeqnum}" disabled="disabled">
																	<input type="hidden" class="form-control" th:field="*{xporeqnum}">
																</div>
															</div>

															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xdate">Requisition Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xdate"
																			name="xdate"
																			th:value="${poreqheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(poreqheader.xdate, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xcus" th:text="#{so.form.label.xcus}">Supplier</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest" 
																			placeholder="Search..." 
																			th:value="${#strings.isEmpty(poreqheader.xcus) ? '' : poreqheader.xcus + ' - ' + poreqheader.xorg}" 
																			th:attr="search-url='search/supplier'"
																			/>
																	<input type="hidden" class="required" id="search-val" th:field="*{xcus}" value=""/>
																	<input type="hidden" id="search-des" th:value="*{xcus}"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xhwh">Project/Business</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																		class="form-control searchsuggest xhwhsearch" 
																		placeholder="Search..." 
																		th:value="${#strings.isEmpty(poreqheader.xhwh) ? '' : poreqheader.xhwh + '-' + poreqheader.projectName}" 
																		th:attr="search-url='search/allproject'"
																		/>
																	<input type="hidden" class="required" id="search-val" th:field="*{xhwh}" value=""/>
																	<input type="hidden" id="search-des" th:value="*{xhwh}"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-sm-4" for="xwh" >Site/Store</label>
																<div class="col-sm-8">
																	<select th:field="*{xwh}" class="form-control">
																		<option value="">-- Select --</option>
																		<option th:each="s : ${allcodes}" th:value="${s.xcode}" th:text="${s.xcode + ' - ' + s.xcodename}"></option>
																	</select>
																</div>
															</div>

															<!--<div class="form-group">
																<label class="control-label col-md-4" for="xwh">Store/Site</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xwh}">
																		<option th:each="wh : ${warehouses}" th:value="${wh.xcode}" th:text="${wh.xcode} +' - '+${wh.xlong}"></option>
																	</select>
																</div>
															</div>-->

															<div class="form-group">
																<label class="control-label col-sm-4" for="xquotnum">Quotation Number</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" th:field="*{xquotnum}">
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-sm-4" for="xref">Reference</label>
																<div class="col-sm-8">
																	<input type="text" class="form-control" th:field="*{xref}">
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-sm-4" for="xpreparer">Prepared By</label>
																<div class="col-sm-8">
																	<input type="hidden" class="form-control" th:field="*{xpreparer}">
																	<input type="text" class="form-control" th:value="${poreqheader.xpreparer + ' - ' + poreqheader.xpreparername}" disabled="disabled"/>
																</div>
															</div>

															<div class="form-group datetimepicker">
																<label class="control-label col-md-4" for="xprepdate">Creation Date</label>
																<div class="input-group date col-md-7 datetimepicker">
																	<input 	type="datetimepicker" 
																			class="form-control" 
																			id="xprepdate"
																			name="xprepdate"
																			disabled="disabled"
																			th:value="${poreqheader.xprepdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(poreqheader.xprepdate, df)}"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																	<input 	type="hidden" 
																		class="form-control" 
																		id="xprepdate"
																		name="xprepdate"
																		th:value="${poreqheader.xprepdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(poreqheader.xprepdate, df)}"
																	/>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xnote">Preparer Note</label>
																<div class="col-md-8">
																	<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
																</div>
															</div>

														</div>
														<div class="col-md-6">

															<div class="form-group">
																<label class="control-label col-sm-4" for="xsignatory1">Authorized  By</label>
																<div class="col-sm-8">
																	<input type="hidden" class="form-control" th:field="*{xsignatory1}">
																	<input type="text" class="form-control" th:value="*{xsignatory1}" disabled="disabled"/>
																</div>
															</div>

															<div class="form-group datetimepicker" th:if="${not #strings.isEmpty(poreqheader.xsignatory1)}">
																<label class="control-label col-md-4" for="xsignatorydate1">Authorization Date</label>
																<div class="input-group date col-md-7 datetimepicker">
																	<input 	type="datetimepicker" 
																			class="form-control" 
																			id="xsignatorydate1"
																			name="xsignatorydate1"
																			disabled="disabled"
																			th:value="${poreqheader.xsignatorydate1 == null ? #dates.format(#dates.createNow(), df) : #dates.format(poreqheader.xsignatorydate1, df)}"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																	<input 	type="hidden" 
																		class="form-control" 
																		id="xsignatorydate1"
																		name="xsignatorydate1"
																		th:value="${poreqheader.xsignatorydate1 == null ? #dates.format(#dates.createNow(), df) : #dates.format(poreqheader.xsignatorydate1, df)}"
																	/>
																</div>
															</div>

															<div class="form-group" th:if="${#strings.isEmpty(poreqheader.xsignatory1)}">
																<label class="control-label col-md-4" for="xsignatorynote1">Authorization  Date</label>
																<div class="col-md-8">
																	<input type="text" class="form-control"  disabled="disabled">
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xsignatorynote1">Authorizer  Note</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xsignatorynote1}">
																	<input type="text" class="form-control" th:value="*{xsignatorynote1}" disabled="disabled">
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xstatusreq">Status</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xstatusreq}">
																	<input type="text" class="form-control" th:value="*{xstatusreq}" disabled="disabled">
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-sm-4" for="xstatus">Requisiton Status</label>
																<div class="col-sm-8">
																	<input type="hidden" class="form-control" th:field="*{xstatus}">
																	<input type="text" class="form-control" th:value="*{xstatus}" disabled="disabled"/>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-sm-4" for="xtotamt">Total Amount</label>
																<div class="col-sm-8">
																	<input type="hidden" class="form-control" th:field="*{xtotamt}">
																	<input type="text" class="form-control" th:value="*{xtotamt}" disabled="disabled"/>
																</div>
															</div>

															</div>
													</div>
												</form>
											</div>
										</div>
									</section>
								</div>
								<div class="row">
									<!-- detail section -->
									<section th:if="${not #strings.isEmpty(poreqheader.xporeqnum)}" id="data-maintenance" style="margin-top: 30px;">
										<a id="listlines-url" th:href="@{/procurement/poreqheader/poreqdetail/} + ${poreqheader.xporeqnum}"></a>
										<div class="section-header sectionbartoggle">
											<h1>Requisition Details of <span th:text="${poreqheader.xporeqnum}"></span></h1>
										</div>
										<div class="section-body">
											<table class="table table-striped table-bordered normal-table nowrap" id="poreqdetailtable" th:fragment="poreqdetailtable">
												<thead>
													<tr>
														<th>Row</th>
														<th>Item</th>
														<th>Purpose</th>
														<th>Unit</th>
														<th class="text-right">Qty</th>
														<th>Unit Price</th>
														<th>Line Amount</th>
														<th>CF(Purchase)</th>
														<th data-nosort="Y" style="text-align: right;" th:if="${poreqheader.xstatus == 'Open'}">
															<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/procurement/poreqheader/} + ${poreqheader.xporeqnum} + '/poreqdetail/new/show', data-target-modal='poreqdetailmodal'"><i class="fas fa-plus"></i></button>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="d : ${poreqdetailList}">
														<td th:text="${d.xrow}"></td>
														<td>
															<a th:href="@{/mastersetup/caitem/} + ${d.xitem}" target="_blank" th:text="${d.xitem} + ' - ' + ${d.xitemdesc}"></a>
														</td>
														<td th:text="${d.xpurpose}"></td>
														<td th:text="${d.xunitpur}"></td>
														<td class="text-right" th:text="${d.xqtypur}"></td>
														<td th:text="${d.xrate}"></td>
														<td th:text="${d.xlineamt}"></td>
														<td class="text-right" th:text="${d.xcfpur}"></td>
														<td  data-nosort="Y" style="text-align: right; font-size: 11px;" th:if="${poreqheader.xstatus == 'Open'}">
															<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/procurement/poreqheader/} + ${poreqheader.xporeqnum} + '/poreqdetail/' + ${d.xrow} + '/show', data-target-modal='poreqdetailmodal'"><i class="fas fa-edit"></i></button>
															<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/procurement/poreqheader/} + ${poreqheader.xporeqnum} + '/poreqdetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
														</td>
													</tr>
												</tbody>
												<tfoot>
													<th colspan="4" class="text-right">Total</th>
													<th class="text-right" th:text="${totalQuantityReceived}">0</th>
													<th></th>
													<th class="text-right" th:text="${totalLineAmount}">0</th>
												</tfoot>
											</table>
										</div>
									</section>
								</div>
							</div>

							<div class="col-md-6" style="padding-left: 30px; padding-right: 30px;">
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Draft Requisitions</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable" id="poreqheadertable" th:fragment="poreqheadertable">
													<thead>
														<tr>
															<th>Requisition Number</th>
															<th>Requisition Date</th>
															<th>Supplier</th>
															<th>Store</th>
															<th>Total Amount</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:if="${por.xstatus == 'Open'}" th:each="por : ${allPoreqheader}">
															<td>
																<a th:href="@{/procurement/poreqheader/} + ${por.xporeqnum}" th:text="${por.xporeqnum}"></a>
															</td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${#strings.isEmpty(por.xcus)? '' : por.xcus + ' - ' + por.xorg}"></td>
															<td th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.xwhdesc}"></td>
															<td th:text="${por.xtotamt}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Pending For Approval</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable">
													<thead>
														<tr>
															<th>Requisition Number</th>
															<th>Requisition Date</th>
															<th>Supplier</th>
															<th>Store</th>
															<th>Total Amount</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:if="${por.xstatus == 'Confirmed' and por.xstatusreq == 'Open'}" th:each="por : ${allPoreqheader}">
															<td>
																<a th:href="@{/procurement/poreqheader/} + ${por.xporeqnum}" th:text="${por.xporeqnum}"></a>
															</td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${#strings.isEmpty(por.xcus)? '' : por.xcus + ' - ' + por.xorg}"></td>
															<td th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.xwhdesc}"></td>
															<td th:text="${por.xtotamt}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Rejected Requisitions</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable">
													<thead>
														<tr>
															<th>Requisition Number</th>
															<th>Requisition Date</th>
															<th>Supplier</th>
															<th>Store</th>
															<th>Total Amount</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:if="${por.xstatus == 'Confirmed' and por.xstatusreq == 'Rejected'}" th:each="por : ${allPoreqheader}">
															<td>
																<a th:href="@{/procurement/poreqheader/} + ${por.xporeqnum}" th:text="${por.xporeqnum}"></a>
															</td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${#strings.isEmpty(por.xcus)? '' : por.xcus + ' - ' + por.xorg}"></td>
															<td th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.xwhdesc}"></td>
															<td th:text="${por.xtotamt}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Pending For Create WO</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable">
													<thead>
														<tr>
															<th>Requisition Number</th>
															<th>Requisition Date</th>
															<th>Supplier</th>
															<th>Store</th>
															<th>Total Amount</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:if="${por.xstatus == 'Confirmed' and por.xstatusreq == 'Approved'}" th:each="por : ${allPoreqheader}">
															<td>
																<a th:href="@{/procurement/poreqheader/} + ${por.xporeqnum}" th:text="${por.xporeqnum}"></a>
															</td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${#strings.isEmpty(por.xcus)? '' : por.xcus + ' - ' + por.xorg}"></td>
															<td th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.xwhdesc}"></td>
															<td th:text="${por.xtotamt}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>WO Created From Requisition</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable">
													<thead>
														<tr>
															<th>Requisition Number</th>
															<th>Requisition Date</th>
															<th>Supplier</th>
															<th>Store</th>
															<th>Total Amount</th>
															<th>Work Order</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr  th:each="por : ${createdPO}">
															<td>
																<a th:href="@{/procurement/poreqapprove/} + ${por.xporeqnum}" th:text="${por.xporeqnum}"></a>
															</td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${#strings.isEmpty(por.xcus)? '' : por.xcus + ' - ' + por.xorg}"></td>
															<td th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.storeName}"></td>
															<td th:text="${por.xtotamt}"></td>
															<td>
																<a th:href="@{/procurement/workorder/} + ${por.xpornum}" th:text="${por.xpornum}"></a>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
							</div>
							
						</div>

					</div>	
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="poreqdetailmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
		
		<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
	
				$('.xhwhsearch').on('blur', function(){
					setTimeout(() => {
						if($('input[name="xhwh"]').val() == ''){
							$("#xwh option").remove(); 
							var mySelect = $('#xwh');
							mySelect.append(
								$('<option></option>').val("").html("-- Select --")
							);
							return;
						}

	
						loadingMask2.show();
						$.ajax({
							url : getBasepath() + '/procurement/poreqheader/allcodesbyproject/' + $('input[name="xhwh"]').val(),
							type : 'GET',
							success : function(data) {
								loadingMask2.hide();
								if(data == undefined || data == null) return;
	
								$("#xwh option").remove(); 
								var mySelect = $('#xwh');
								mySelect.append(
									$('<option></option>').val("").html("-- Select --")
								);
								$.each(data, function(val, obj) {
									mySelect.append(
										$('<option></option>').val(obj.xcode).html(obj.xcode + ' - ' + obj.xcodename)
									);
								});
	
							},
							error : function(jqXHR, status, errorThrown){
								showMessage(status, "Something went wrong .... ");
								loadingMask2.hide();
							}
						})
					}, 1000);
				});
			});
		</script>
		
	</body>
</html>