<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Store Requisition</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/inventory/storereq}">Store Requisition</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center">Store Requisition</h1>
						</div>

						<div class="row">
						<div class="col-md-6" style="padding-left: 30px; padding-right: 30px;">
							<div class="row">
								<div th:classappend="${hideextratable ? 'col-md-12' : 'col-md-6'}">
										<!-- Section list head -->
										<section id="data-maintenance" style="margin-top: 30px;">
											<div class="section-header sectionbartoggle">
											</div>
											<div class="form-action-button">
												<a th:href="@{/inventory/storereq}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;"> Clear</span></a>
												<a th:if="${#strings.isEmpty(imtorheader.xtornum)}" th:href="@{/inventory/storereq}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;"> Save</span></a>
												<a th:if="${not #strings.isEmpty(imtorheader.xtornum) and imtorheader.xstatus != 'Confirmed' and imtorheader.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> <span style="margin-left:2px;"> Update</span></a>
												<a th:if="${not #strings.isEmpty(imtorheader.xtornum) and imtorheader.xstatus != 'Confirmed' and imtorheader.zactive == true}" th:href="@{/inventory/storereq/archive/} + ${imtorheader.xtornum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;"> Delete</span></a>
												<a th:if="${not #strings.isEmpty(imtorheader.xtornum) and imtorheader.xstatus != 'Confirmed' and imtorheader.zactive == true}" th:href="@{/inventory/storereq/confirmimtor/} + ${imtorheader.xtornum}" class="btn btn-sm btn-warning confirm-btn-link"><i class="fas fa-paper-plane"></i> <span style="margin-left:2px;"> Apply Requistion </span></a>
												<a th:if="${not #strings.isEmpty(imtorheader.xtornum)}" th:href="@{/inventory/storereq/print/} + ${imtorheader.xtornum}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-print"></i> Print</a>
											</div>
											<div class="section-body section-border">
												<form id="mainform" class="form-horizontal" th:action="@{/inventory/storereq/save}" th:object="${imtorheader}" method="post" th:with="df=${'E, dd-MMM-yyyy HH:mm:ss'}">
													<input type="hidden" class="form-control" th:field="*{xtypetrn}">
													<input type="hidden" th:if="${not #strings.isEmpty(imtorheader.xtornum)}" class="form-control" th:field="*{xtornum}">
													<div class="row">
														<div class="col-md-6">
		
															<div class="form-group" th:if="${#strings.isEmpty(imtorheader.xtornum)}">
																<label class="control-label col-md-4" for="xtrn">Requisition Code</label>
																<div class="col-md-6">
																	<select class="form-control" th:field="*{xtrn}">
																		<option th:each="prefix : ${imtorprefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
																	</select>
																</div>
															</div>
		
															<div class="form-group" th:if="${not #strings.isEmpty(imtorheader.xtornum)}">
																<label class="control-label col-md-4" for="xtornum">Requisition Code</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:value="*{xtornum}" disabled="disabled">
																</div>
															</div>
		
															<div class="form-group datetimepicker">
																<label class="control-label col-md-4" for="xreqdate">Requistion Date</label>
																<div class="input-group date col-md-7 datetimepicker">
																	<input 	type="datetimepicker" 
																			class="form-control" 
																			id="xreqdate"
																			name="xreqdate"
																			disabled="disabled"
																			th:value="${imtorheader.xreqdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(imtorheader.xreqdate, df)}"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																	<input 	type="hidden" 
																		class="form-control" 
																		id="xreqdate"
																		name="xreqdate"
																		th:value="${imtorheader.xreqdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(imtorheader.xreqdate, df)}"
																	/>
																</div>
															</div>
		
															<div class="form-group" th:if="${isKhanas}">
																<label class="control-label col-md-4" for="xchalanref" th:text="#{sto.form.label.xchalanref}">Chalan No.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xchalanref}">
																</div>
															</div>
		
															<div class="form-group">
																<label class="control-label col-md-4" for="xfwh">From Warehouse</label>
																<div class="col-md-8">
																	<select class="form-control" th:field="*{xfwh}">
																		<option th:each="wh : ${warehouses}" th:value="${wh.xcode}" th:text="${wh.xcode} +' - '+${wh.xdescdet}"></option>
																	</select>
																</div>
															</div>
		
															<div class="form-group">
																<label class="control-label col-sm-4" for="xtwh">To Warehouse</label>
																<div class="col-sm-8">
																	<input type="hidden" class="form-control" th:field="*{xtwh}">
																	<input type="text" class="form-control" th:value="${imtorheader.xtwh} + ' - ' + ${sessionstore}" disabled="disabled"/>
																</div>
															</div>
		
															<div class="form-group">
																<label class="control-label col-sm-4" for="xpreparer">Prepared By</label>
																<div class="col-sm-8">
																	<input type="hidden" class="form-control" th:field="*{xpreparer}">
																	<input type="text" class="form-control" th:field="*{xpreparer}" disabled="disabled"/>
																</div>
															</div>
		
														</div>
														<div class="col-md-6">
		
															<div class="form-group">
																<label class="control-label col-md-4" for="xstatus">Requisiton Status</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xstatus}">
																	<input type="text" class="form-control" th:value="*{xstatus}" disabled="disabled">
																</div>
															</div>
		
															<div class="form-group">
																<label class="control-label col-md-4" for="xlong">Note</label>
																<div class="col-md-8">
																	<textarea class="form-control" th:field="*{xlong}" rows="3"></textarea>
																</div>
															</div>
		
														</div>
													</div>
												</form>
											</div>
										
										</div>
								</div>
								<div class="row">
									<!-- imtordetail section -->
									<section th:if="${not #strings.isEmpty(imtorheader.xtornum)}" id="data-maintenance" style="margin-top: 30px;">
										<a id="listlines-url" th:href="@{/inventory/storereq/imtordetails/} + ${imtorheader.xtornum}"></a>
										<div class="section-header sectionbartoggle">
											<h1>Store Requisition Details of <span th:text="${imtorheader.xtornum}"></span></h1>
										</div>
										<div class="section-body">
											<table class="table table-striped table-bordered normal-table nowrap" id="imtordetailtable" th:fragment="imtordetailtable">
												<thead>
													<tr>
														<th th:text="#{sto.modal.table.heading.xrow}">Row</th>
														<th th:text="#{sto.modal.table.heading.xitem}">Item Code</th>
														<th th:text="#{sto.modal.table.heading.xqtyord}" class="text-right">Qty</th>
														<th th:text="#{sto.modal.table.heading.xunit}">Unit</th>
														<th th:if="${imtorheader.xstatus eq 'Open'}" data-nosort="Y" style="text-align: right;">
															<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/inventory/storereq/} + ${imtorheader.xtornum} + '/imtordetail/new/show', data-target-modal='imtordetailmodal'"><i class="fas fa-plus"></i></button>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="d : ${imtordetailsList}">
														<td th:text="${d.xrow}"></td>
														<td>
															<a th:href="@{/mastersetup/caitem/} + ${d.xitem}" target="_blank" th:text="${d.xitem} + ' - ' + ${d.xitemdesc}"></a>
														</td>
														<td class="text-right" th:text="${d.xqtyord}"></td>
														<td th:text="${d.xunit}"></td>
														<td data-nosort="Y" style="text-align: right; font-size: 11px;">
															<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/inventory/storereq/} + ${imtorheader.xtornum} + '/imtordetail/' + ${d.xrow} + '/show', data-target-modal='imtordetailmodal'"><i class="fas fa-edit"></i></button>
															<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/inventory/storereq/} + ${imtorheader.xtornum} + '/imtordetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</section>
								</div>
							</div>

							<div class="col-md-6" style="padding-left: 30px; padding-right: 30px;">
								<div class="row">
									3
								</div>
								<div class="row">
									4
								</div>
							</div>
							
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="imtordetailmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>