<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Store Requisition Histories</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/inventory/storereq}">Histories</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						

						<div class="row">
							<div class="col-md-12" th:if="${showtable eq 'openreq'}">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>Requisition From Store To Supply Chain History</h1>
									</div>
									<div class="section-body">
										<div>
											<table class="table table-striped table-bordered datatable">
												<thead>
													<tr>
														<th>Requisition Code</th>
														<th>Requisition Date</th>
														<th>From</th>
														<th>To</th>
														<th>Requisition Status</th>
													</tr>
												</thead>
												<tbody th:with="df=${'E, dd-MMM-yyyy HH:mm:ss'}">
													<tr th:if="${imtor.xstatus != 'Confirmed' and imtor.xstatustor != 'Confirmed'}" th:each="imtor : ${allImtorHeaders}">
														<td>
															<a th:href="@{/inventory/storereq/} + ${imtor.xtornum}" th:text="${imtor.xtornum}"></a>
														</td>
														<td  th:text="${#dates.format(imtor.xreqdate, df)}"></td>
														<td th:text="${#strings.isEmpty(imtor.xfwh)? '' : imtor.xfwh + ' - ' + imtor.xfwhdesc}"></td>
														<td th:text="${#strings.isEmpty(imtor.xtwh)? '' : imtor.xtwh}"></td>
														<td th:text="${imtor.xstatus}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>

							<div class="col-md-12" th:if="${showtable eq 'approval'}">
								<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Waiting For Approve Requisitions History</h1>
										</div>
										<div class="section-body">
											<div>
												<table class="table table-striped table-bordered datatable">
													<thead>
														<tr>
															<th>Requisition Code</th>
															<th>Requisition Date</th>
															<th>From</th>
															<th>To</th>
															<th>Requisition Status</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy HH:mm:ss'}">
														<tr th:if="${imtor.xstatus == 'Confirmed' and imtor.xstatustor == 'Open'}" th:each="imtor : ${allImtorHeaders}">
															<td>
																<a th:href="@{/inventory/approvereq/} + ${imtor.xtornum}" th:text="${imtor.xtornum}"></a>
															</td>
															<td  th:text="${#dates.format(imtor.xreqdate, df)}"></td>
															<td th:text="${#strings.isEmpty(imtor.xfwh)? '' : imtor.xfwh + ' - ' + imtor.xfwhdesc}"></td>
															<td th:text="${#strings.isEmpty(imtor.xtwh)? '' : imtor.xtwh}"></td>
															<td th:text="${imtor.xstatus}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>

							<div class="col-md-12" th:if="${showtable eq 'pending'}">
								<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Pending For Acknowledgment Requisitions History</h1>
										</div>
										<div class="section-body">
											<div>
												<table class="table table-striped table-bordered datatable">
													<thead>
														<tr>
															<th>Requisition Code</th>
															<th>Requisition Date</th>
															<th>From</th>
															<th>To</th>
															<th>Requisition Status</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy HH:mm:ss'}">
														<tr th:if="${imtor.xstatus == 'Confirmed' and imtor.xstatustor == 'Approved'}" th:each="imtor : ${allImtorHeaders}">
															<td>
																<a th:href="@{/inventory/storeacknow/} + ${imtor.xtornum}" th:text="${imtor.xtornum}"></a>
															</td>
															<td  th:text="${#dates.format(imtor.xreqdate, df)}"></td>
															<td th:text="${#strings.isEmpty(imtor.xfwh)? '' : imtor.xfwh + ' - ' + imtor.xfwhdesc}"></td>
															<td th:text="${#strings.isEmpty(imtor.xtwh)? '' : imtor.xtwh}"></td>
															<td th:text="${imtor.xstatus}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>

							<div class="col-md-12" th:if="${showtable eq 'rejected'}">
								<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Rejected / Dismised Requisitions History</h1>
										</div>
										<div class="section-body">
											<div>
												<table class="table table-striped table-bordered datatable">
													<thead>
														<tr>
															<th>Requisition Code</th>
															<th>Requisition Date</th>
															<th>From</th>
															<th>To</th>
															<th>Requisition Status</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy HH:mm:ss'}">
														<tr th:if="${imtor.xstatus == 'Confirmed' and imtor.xstatustor == 'Rejected' or imtor.xstatustor == 'Dismised'}" th:each="imtor : ${allImtorHeaders}">
															<td>
																<a th:href="@{/inventory/storeacknow/} + ${imtor.xtornum}" th:text="${imtor.xtornum}"></a>
															</td>
															<td  th:text="${#dates.format(imtor.xreqdate, df)}"></td>
															<td th:text="${#strings.isEmpty(imtor.xfwh)? '' : imtor.xfwh + ' - ' + imtor.xfwhdesc}"></td>
															<td th:text="${#strings.isEmpty(imtor.xtwh)? '' : imtor.xtwh}"></td>
															<td th:text="${imtor.xstatus}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>

							<div class="col-md-12" th:if="${showtable eq 'disbursed'}">
								<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Disbursed Requisitions History</h1>
										</div>
										<div class="section-body">
											<div>
												<table class="table table-striped table-bordered datatable">
													<thead>
														<tr>
															<th>Requisition Code</th>
															<th>Requisition Date</th>
															<th>From</th>
															<th>To</th>
															<th>Requisition Status</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy HH:mm:ss'}">
														<tr th:if="${imtor.xstatus == 'Confirmed' and imtor.xstatustor == 'Confirmed'}" th:each="imtor : ${allImtorHeaders}">
															<td>
																<a th:href="@{/inventory/storereq/} + ${imtor.xtornum}" th:text="${imtor.xtornum}"></a>
															</td>
															<td  th:text="${#dates.format(imtor.xreqdate, df)}"></td>
															<td th:text="${#strings.isEmpty(imtor.xfwh)? '' : imtor.xfwh + ' - ' + imtor.xfwhdesc}"></td>
															<td th:text="${#strings.isEmpty(imtor.xtwh)? '' : imtor.xtwh}"></td>
															<td th:text="${imtor.xstatus}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
							</div>

						</div>
					</div>

					<div class="col-md-12">
						
					</div>
				</div>
			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>