<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Default Terms & Conditions</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/mastersetup/termsdef}">Default Terms & Conditions</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="section-header sectionbartoggle">
														<h1>Default Terms & Conditions</h1>
													</div>
													<div class="form-action-button">
														<a th:href="@{/mastersetup/termsdef}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xclear}"> Clear</span></a>
														<a th:if="${termsdef.xtermid eq 0}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xsave}"> Save</span></a>
														<a  th:if="${termsdef.xtermid ne 0 and termsdef.zactive == true}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xupdate}"> Update</span></a>
														<a th:if="${termsdef.xtermid ne 0 and termsdef.zactive == true}" th:href="@{/mastersetup/termsdef/delete/} + ${termsdef.xtermid}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xdelete}"> Delete</span></a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" method="post" th:action="@{/mastersetup/termsdef/save}" th:object="${termsdef}">
											<input type="hidden" th:field="*{xtermid}"/>
											<input type="hidden" th:if="${xtermid ne 0}" th:field="*{xtermid}"/>
												
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">
															
															<div class="form-group"  th:if="${termsdef.xtermid eq 0}">
																<label class="control-label col-md-4" for="xtype">Type</label>
																<div class="col-md-8">
																	
																	<select class="form-control" th:field="*{xtype}">
																		<option th:each="d : ${termsTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															
															<div class="form-group"  th:if="${termsdef.xtermid ne 0}">
																<label class="control-label col-md-4" for="xtype">Type</label>
																<div class="col-md-8" >
																	<input type="text" class="form-control" th:value="*{xtype}" disabled="disabled"/>
																	
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xdesc">Terms Detail</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xdesc}"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xserial">View Sequence</label>
																<div class="col-md-8">
																	<input type="number" class="form-control" th:field="*{xserial}"/>
																</div>
															</div>
														</div>
														
														<div class="col-md-6">
															
															<div class="form-group"  th:if="${termsdef.xtermid eq 0}">
																<label class="control-label col-md-4" for="xterm">Terms Title</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" placeholder="" th:field="*{xterm}"/>
																</div>
															</div>
															
															<div class="form-group"  th:if="${termsdef.xtermid ne 0}">
																<label class="control-label col-md-4" for="xterm">Terms Title</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:value="*{xterm}" disabled="disabled"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xnote">Additional Info</label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3"  placeholder="Note" th:field="*{xnote}"></textarea>
																</div>
															</div>
															
															<div class="form-group-input2">
																<label class="control-label col-sm-4" for="zactive">Is Active ?</label>
																<div class="col-sm-8">
																	<div class="checkbox">
																		<label><input type="checkbox" class="form-control-input2" th:field="*{zactive}" value="Y"/></label>
																	</div>
																</div>
															</div>
													
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>All Default Terms & Conditions</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th>Type</th>
														<th>Terms Title</th>
														<th>Terms Detail</th>
														<th>Additional Info</th>
														<th>View Sequence</th>
														<th>Is Active?</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="ar: ${allTermsdef}">
														
														<td><a th:href="@{/mastersetup/termsdef/}+ ${ar.xtermid}" th:text="${ar.xtype}"></a></td>
														<td th:text="${ar.xterm}"></td>
														<td th:text="${ar.xdesc}"></td>
														<td th:text="${ar.xnote}"></td>
														<td th:text="${ar.xserial}"></td>
														<td th:text="${ar.zactive ? 'Y' : 'N'}"></td>
													</tr>
													
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="educationmodal-section"></div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
