<!-- Modal -->
<div id="potermsmodal" th:fragment="potermsmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update Terms & Conditions</h4>
			</div>
			
			<div class="modal-body">
				<div class="row">
				<form id="mainform-modal" class="form-horizontal"  method="post" th:action="@{/cost/poordheader/potermsdetail/save}" th:object="${ldd}">
				<input type="hidden" th:if="${xrow ne 0}" th:field="*{xrow}"/>
				<input type="hidden" th:field="*{xpornum}"/>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="section-header sectionbartoggle">
										
									</div>
								</div>
							</div>
						</div>
						</div><br>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6">
									
										<div class="form-group">
											<label class="control-label col-md-4" for="xcode" th:text="#{lcmpo.modal1.form.label.xcode}">Terms Code</label>
											<div class="col-md-8">
												<select class="form-control xcodesearch" th:field="*{xcode}">
													<option th:attr="data-xdescdet=${c.xdescdet}" th:each="c : ${termsAndConditions}" th:value="${c.xcode}" th:text="${c.xcode}"></option>
												</select>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-sm-4" for="xnote" th:text="#{lcmpo.modal1.form.label.xnote}">Terms & Conditions</label>
											<div class="col-sm-8">
												<input type="hidden" th:field="*{xnote}"/>
												<div class="xnote-display" style="margin-top: 6px;"></div>
												<!--<input type="text" th:value="${ldd.xnote}" class="form-control xnote-display"/>-->
											</div>
										</div>

									</div>

									<div class="col-md-6">

										
									</div>
									
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		
		<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();

				doDivUpdate($('.xcodesearch'));

				$('.xcodesearch').on('change', function(e){
					e.preventDefault();
					doDivUpdate($(this));
				});

				function doDivUpdate(selectedfield){
					var selectednote = $('option:selected', selectedfield).attr('data-xdescdet');
					$('#xnote').val(selectednote);
					$('.xnote-display').html(selectednote);
				}
	
			});
		</script>
</div>
