<!-- Modal -->
<div id="workorderdetailmodal" th:fragment="workorderdetailmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update Item</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form id="mainform-modal" th:action="@{/procurement/workorder/workorderdetail/save}" method="post" class="form-horizontal" th:object="${workorderdetail}">
						<input type="hidden" th:field="*{xpornum}"/>
						<input type="hidden" th:field="*{xrow}"/>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="xitem" th:text="#{po.modal.form.label.xitem}">Item</label>
								<div class="col-sm-8">
									<input 	type="text" 
											class="form-control searchsuggest xitemsearch" 
											placeholder="Search..." 
											th:value="${#strings.isEmpty(workorderdetail.xitem) ? '' : workorderdetail.xitem + ' - ' + workorderdetail.itemname}" 
											th:attr="search-url='search/caitem'"/>
									<input type="hidden" id="search-val" th:field="*{xitem}" class="search-xitem"/>
									<input type="hidden" id="search-des" th:value="*{xitem}"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xunitpur">Unit</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xunitpur}"/>
									<input type="text" th:value="${workorderdetail.xunitpur}" class="form-control xunitpur-display" disabled="disabled"/>
								</div>
							</div>
							
							<div class="form-group nodisplay">
								<label class="control-label col-sm-4" for="xgitem">Group</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xgitem}"/>
									<input type="text" th:value="${workorderdetail.xgitem}" class="form-control xgitem-display" disabled="disabled"/>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-4" for="xqtypur">Quantity</label>
								<div class="col-sm-8">
									<input type="text"  class="form-control qty" th:field="*{xqtypur}" min="0"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xrate">Unit Price</label>
								<div class="col-sm-8">
									<input type="text"  class="form-control" th:field="*{xrate}" min="0"/>
								</div>
							</div>
							
						</div>
						<div class="col-md-6">
							
							<div class="form-group">
								<label class="control-label col-sm-4" for="xlineamt">Line Amount</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xlineamt}"> 
									<input type="text" class="form-control xlineamt" th:value="*{xlineamt}" disabled="disabled"/>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-4" for="xspecification">Specification</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" th:field="*{xspecification}"/>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-4" for="xcfpur">Conv. Factor (Purchase)</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xcfpur}"/>
									<input type="text" th:value="${workorderdetail.xcfpur}" class="form-control xcfpur-display" disabled="disabled"/>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-4" for="xnote" th:text="#{po.modal.form.label.xnote}">Note</label>
								<div class="col-sm-8">
									<textarea rows="6" cols="" class="form-control" th:field="*{xnote}"></textarea>
								</div>
							</div>
							
							<div class="form-group purpose-selection nodisplay">
								<label class="control-label col-sm-4" for="xpurpose">Purpose</label>
								<div class="col-sm-8">
									<select class="form-control" th:field="*{xpurpose}">
										<option value=""></option>
										<option th:each="cu : ${purpose}" th:text="${cu.xcode}" th:value="${cu.xcode}"></option>
									</select>
								</div>
							</div>
							
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
				//$(".xitemsearch").click();

				$('#xqtypur').on('blur', function(e){
					e.preventDefault();
					calculateLineAmount();
				});

				$('#xrate').on('blur', function(e){
					e.preventDefault();
					calculateLineAmount();
				});

				function calculateLineAmount(){
					var qty = $('#xqtypur').val();
					var rate = $('#xrate').val();
					$('.xlineamt').val(qty * rate);
					$('#xlineamt').val(qty * rate);
				}
				
				if($('#xgitem').val() == 'Services'){
					$('.purpose-selection').removeClass('nodisplay');
				}
				if($('#xgitem').val() == 'Service'){
					$('.purpose-selection').removeClass('nodisplay');
				}
				if($('#xgitem').val() == 'Cost'){
					$('.purpose-selection').removeClass('nodisplay');
				}
				if($('#xgitem').val() == 'Non-Inventory'){
					$('.purpose-selection').removeClass('nodisplay');
				}
				if($('#xgitem').val() == 'Servicing'){
					$('.purpose-selection').removeClass('nodisplay');
				}
				
				var olditem = $('input[name="xitem"]').val();

				// Get item purchase unit
				$('.xitemsearch').on('blur', function(){
					setTimeout(() => {
						if($('input[name="xitem"]').val() == ''){
							$('input.xunitpur-display').val('');
							$('input.xcfpur-display').val('');
							$('input[name="xrate"]').val('');
							$(".qty").val('1');
							$('.xlineamt').val('0');
							$('#xlineamt').val('0');
							return;
						}

						if(olditem != '' && olditem == $('input[name="xitem"]').val()) return;

						loadingMask2.show();
						$.ajax({
							url : getBasepath() + '/procurement/workorder/itemdetail/' + $('input[name="xitem"]').val(),
							type : 'GET',
							success : function(data) {
								loadingMask2.hide();
								if(data == undefined || data == null) return;

								$('input[name="xunitpur"]').val(data.xunitpur);
								$('input.xunitpur-display').val(data.xunitpur);	

								$('input[name="xcfpur"]').val(data.xcfpur);
								$('input.xcfpur-display').val(data.xcfpur);	

								$('input[name="xrate"]').val(data.xrate);

								$('input[name="xgitem"]').val(data.xgitem);
								$('input.xgitem-display').val(data.xgitem);	

								if($('input.xgitem-display').val() == 'Services'){
									$('.purpose-selection').removeClass('nodisplay');
								}
								else if($('input.xgitem-display').val() == 'Service'){
									$('.purpose-selection').removeClass('nodisplay');
								}
								else if($('input.xgitem-display').val() == 'Cost'){
									$('.purpose-selection').removeClass('nodisplay');
								}
								else if($('input.xgitem-display').val() == 'Non-Inventory'){
									$('.purpose-selection').removeClass('nodisplay');
								}
								else if($('input.xgitem-display').val() == 'Servicing'){
									$('.purpose-selection').removeClass('nodisplay');
								}
								else{
									$('.purpose-selection').addClass('nodisplay');
								}

								if($(".qty").val() == '') $(".qty").val('1');

								$(".qty").focus();
								$('.xlineamt').val($(".qty").val() * data.xrate);
								$('#xlineamt').val($(".qty").val() * data.xrate);
							},
							error : function(jqXHR, status, errorThrown){
								showMessage(status, "Something went wrong .... ");
								loadingMask2.hide();
							}
						})
					}, 1000);
				});

			});
		</script>
	</div>
</div>