<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Batch Entry</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
		<style type="text/css">
			.select2{
				width: 200px;
			}

			.right-panel{
				width: 0%;
				height: 73%;
				background: #fff;
				z-index : 9999;
				display: block;
				position: fixed;
				top: 23%;
				right: 0;
				border: 1px solid #ddd;
				box-shadow: 0px 0px 15px #ddd;
				border-top-left-radius: 8px;
				border-bottom-left-radius: 8px; 
			}
			.right-panel-content-area{
				width: 100%;
				height: 100%;
				padding: 5px;
				box-sizing: border-box;
			}
			.right-panel-content{
				width: 100%;
				height: 100%;
				padding: 10px;
				box-sizing: border-box;
				border: 1px solid #ddd;
				border-radius: 8px;
				overflow-y: auto;
				overflow-x: hidden;
			}
			.right-panel-content::-webkit-scrollbar-track {
				border: 1px solid #961b39;
				background-color: #F5F5F5;
			}
			
			.right-panel-content::-webkit-scrollbar {
				width: 10px;
				background-color: #F5F5F5;
			}
			
			.right-panel-content::-webkit-scrollbar-thumb {
				background-color: #961b39;	
			}
			.right-panel-toggler{
				background: #760823;
				top: 25%;
				right: 0%;
				position: fixed;
				z-index: 9999;
				padding: 10px 5px;
				margin: 0;
				overflow: hidden;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;
				color: #fff;
				font-size: 25px;
				cursor: pointer;
				opacity: .5;
			}
			
			.search-suggest-table-container{
				max-height: 180px;
				background: red;
				z-index: 99999;
				position: absolute;
				background: #fff;
				overflow-y: auto;
				overflow-x: auto;
				border-radius: 3px;
				display: none;
				padding: 2px !important;
				border: 1px solid #ddd;
			}
			.search-suggest-table-container::-webkit-scrollbar-track {
				border: 1px solid #ddd;
				background-color: #ddd;
			}
			
			.search-suggest-table-container::-webkit-scrollbar {
				width: 10px;
				height: 10px;
				background-color: #ddd;
			}
			
			.search-suggest-table-container::-webkit-scrollbar-thumb {
				background-color: #961b39;	
			}
			.search-suggest-table{
				padding: 0px;
				margin: 0px;
			}
			tr.search-item{
				cursor: pointer;
			}
			tr.search-item:hover{
				background: #29af70 !important;
				color: #fff;
			}
			tr.selected-search-item{
				background: #29af70 !important;
				color: #fff;
			}
		</style>
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/production/moheader}">Batch Entry</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h2 class="text-center">Batch Entry</h2>
						</div>

						<div class="row">
							<div class="col-md-12">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div id="bomform" th:fragment="bomform">
										<div class="section-header sectionbartoggle"></div>
										<div class="form-action-button">
											<a th:href="@{/production/moheader}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xclear}"> Clear</span></a>
											<a th:if="${#strings.isEmpty(moheader.xbatch)}" href="#" class="btn btn-sm btn-success bom-confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xsave}"> Save</span></a>
											<a th:if="${not #strings.isEmpty(moheader.xbatch) and moheader.zactive == true}" href="#" class="btn btn-sm btn-success bom-confirm-btn"><i class="fas fa-edit"></i> <span style="margin-left:2px;" th:text="#{button.value.xupdate}"> Update</span></a>
											<a th:if="${not #strings.isEmpty(moheader.xbatch) and moheader.zactive == true}" th:href="@{/production/moheader/delete/} + ${moheader.xbatch}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xdelete}"> Delete</span></a>
										</div>
										<div class="form-action-button">
											<a th:href="@{/production/moheader/print/} + ${moheader.xbatch}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-print"></i> Print Batch</a>
											<a th:if="${not #strings.isEmpty(moheader.xbatch) and moheader.zactive == true}" th:href="@{/production/moheader/explodeBOM/} + ${moheader.xbatch}" class="btn btn-sm btn-success archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xdelete}"> Explode BOM</span></a>
											<a th:if="${not #strings.isEmpty(moheader.xbatch) and moheader.zactive == true}" th:href="@{/production/moheader/confirm/} + ${moheader.xbatch}" class="btn btn-sm btn-confirm archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xdelete}"> Confirm</span></a>
											<a th:if="${not #strings.isEmpty(moheader.xbatch) and moheader.zactive == true}" th:href="@{/production/moheader/transferToGL/} + ${moheader.xbatch}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xdelete}"> Transfer To GL</span></a>
										</div>

										<div class="section-body section-border">
											<form id="mainform" class="form-horizontal bom-header-form" th:action="@{/production/moheader/save}" th:object="${moheader}" method="POST" th:with="df=${'E, dd-MMM-yyyy'}">
												<!--<input type="hidden" th:field="*{xtypetrn}"/>-->
												<div class="row">
													<div class="col-md-4">
														<div class="form-group" th:if="${#strings.isEmpty(moheader.xbatch)}">
															<label class="control-label col-md-4" for="xtrn">Batch Number</label>
															<div class="col-md-4">
																<select class="form-control" th:field="*{xtrn}">
																	<option th:each="p : ${prefix}" th:value="${p.xtrn}" th:text="${p.xtrn}"></option>
																</select>
															</div>
														</div>

														<div class="form-group" th:if="${not #strings.isEmpty(moheader.xbatch)}">
															<label class="control-label col-md-4" for="xbatch">Batch Number</label>
															<div class="col-md-8">
																<input type="hidden" class="form-control" th:field="*{xbatch}">
																<input type="text" class="form-control" th:value="*{xbatch}" disabled="disabled">
															</div>
														</div>

														<!--<div class="form-group">
															<label class="control-label col-md-4" for="xdesc">BOM Name</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xdesc}">
															</div>
														</div>-->


														<div class="form-group datepicker">
															<label class="control-label col-md-4" for="xdate">Production Date</label>
															<div class="input-group date col-md-7 datepicker">
																<input 	type="datepicker" 
																		class="form-control" 
																		id="xdate"
																		name="xdate"
																		th:value="${moheader.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(moheader.xdate, df)}"/>
																<div class="input-group-addon">
																	<span class="glyphicon glyphicon-calendar"></span>
																</div>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xhwh">Project / Business</label>
															<div class="col-md-8">
																<select class="form-control select2 project-xhwh" th:field="*{xhwh}" required="required">
																	<option value="">-- Select --</option>
																	<option th:each="p : ${projects}" th:value="${p.xcode}" th:text="${p.xcode + ' - ' + p.xlong}">-- Select --</option>
																</select>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xwh">Site / Store</label>
															<div class="col-md-8">
																<select class="form-control select2 xwh" th:field="*{xwh}" required="required">
																	<option value="">-- Select --</option>
																	<option th:each="p : ${selectedStores}" th:value="${p.xcode}" th:text="${p.xcode + ' - ' + p.xcodename}">-- Select --</option>
																</select>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-sm-4" for="xitem">FG Item</label>
															<div class="col-md-8">
																<select class="form-control select2 bom-xitem" th:field="*{xitem}" required="required">
																	<option value="">-- Select--</option>
																	<option th:each="p : ${caitemList}" th:value="${p.xitem}" th:text="${p.xitem + ' - ' + p.xdesc}"></option>
																</select>
																<!--<select class="form-control select2 bom-xitem" th:field="*{xitem}" required="required"></select>-->
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-sm-4" for="xbomkey">BOM Key</label>
															<div class="col-md-8">
																<select class="form-control select2 bom-xitem" th:field="*{xbomkey}" required="required">
																	<option value="">-- Select--</option>
																	<option th:each="p : ${caitemList}" th:value="${p.xitem}" th:text="${p.xitem + ' - ' + p.xdesc}"></option>
																</select>
																<!--<select class="form-control select2 bom-xitem" th:field="*{xitem}" required="required"></select>-->
															</div>
														</div>
													</div>

													<div class="col-md-4">
														<div class="form-group">
															<label class="control-label col-md-4" for="xqtyplan">Planned Quantity</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xqtyplan}">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xqty">Actual Quantity</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xqty}">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-sm-4" for="xunit"> Unit</label>
															<div class="col-sm-8">
																<input type="hidden" th:field="*{xunit}" class="bom-item-unit"/>
																<input type="text" th:value="${moheader.xunit}" class="form-control bom-item-unit" disabled="disabled"/>
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xrate" >Rate</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xrate}" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xlineamt" >Line Amount</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xlineamt}" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xordernum" >Order Number</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xordernum}" disabled="disabled">
															</div>
														</div>
													</div>

													<div class="col-md-4">
														<div class="form-group">
															<label class="control-label col-md-4" for="xstatus" >Batch Status</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xstatus}" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xstatusbom" >Explode Status</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xstatusbom}" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xstatusjv" >GL Status</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xstatusjv}" disabled="disabled">
															</div>
														</div>

														<div class="form-group">
															<label class="control-label col-md-4" for="xvoucher" >GL Voucher</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xvoucher}" disabled="disabled">
															</div>
														</div>
														
														<div class="form-group">
															<label class="control-label col-md-4" for="xnote" >Note</label>
															<div class="col-md-8">
																<input type="text" class="form-control" th:field="*{xnote}" disabled="disabled">
															</div>
														</div>

													</div>
												</div>
											</form>
										</div>
										<script type="text/javascript">
											$(document).ready(function(){
												ck.ui.config.editmode();
												ck.ui.config.dateAndTimepicker();
											})
										</script>
									</div>
								</section>
							</div>


							<!--Meterial Detail-->
							<div class="col-md-12">
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-body">
										<table class="table table-striped table-bordered normal-table nowrap" id="mobomdetailtable" th:fragment="mobomdetailtable">
											<thead>
												<tr>
													<th style="text-align: center;">SN.</th>
													<th>Item</th>
													<th>Quantity</th>
													<th>Unit</th>
													<th>Particular</th>
													<th data-nosort="Y" style="text-align: center;">
														<a href="#" class="row-creator btn btn-success"><i class="fas fa-plus-square"></i></a>
													</th>
												</tr>
											</thead>
											<tbody id="mobomdetailbody">
												<tr th:attr="data-rowindex=${n.count}" th:each="d,n : ${modetails}">
													<td style="text-align: center;" th:text="${n.count}"></td>
													<td>
														<div class="form-group">
															<div class="row">
																<div class="form-group">
																	<div class="col-sm-8">
																		<!--<select class="form-control select2 item-xitem" th:value="${d.xitem}" th:text="${d.xitem}" required="required"></select>-->
																		
																		<select class="form-control select2 item-xitem" required="required">
																			<option value="">-- Select--</option>
																			<option th:each="p : ${caitemList}" th:value="${p.xitem}" th:text="${p.xitem + ' - ' + p.xdesc}"></option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</td>
													<td>
														<div class="form-group">
															<div class="col-sm-8">
																<input type="text"  class="form-control item-qty" th:value="${d.xqty}" min="0"/>
															</div>
														</div>
													</td>
													<td>
														<div class="form-group">
															<div class="col-sm-8">
																<input type="text" th:value="${d.xunit}" class="form-control item-unit" disabled="disabled"/>
															</div>
														</div>
													</td>
													<td>
														<div class="form-group">
															<div class="col-sm-8">
																<input type="text" th:value="${d.xref}" class="form-control item-xref"/>
															</div>
														</div>
													</td>
													<td style="text-align: center;">
														<button type="button" class="btn btn-danger row-remover"><i class="fas fa-trash"></i></button>
													</td>
												</tr>
											</tbody>
											<tfoot>
												<!-- <th colspan="3" class="text-right">Total</th>
												<th></th>
												<th class="text-right" th:text="${totalDebit}">0</th>
												<th class="text-right" th:text="${totalCredit}">0</th>
												<th colspan="2"></th> -->
											</tfoot>
										</table>
									</div>
								</section>
							</div>
							
							<!--By Product Detail-->
							<div class="col-md-12">
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-body">
										<table class="table table-striped table-bordered normal-table nowrap" id="mobomdetailtable2" th:fragment="mobomdetailtable2">
											<thead>
												<tr>
													<th style="text-align: center;">SN.</th>
													<th>Item</th>
													<th>Quantity</th>
													<th>Unit</th>
													<th>Particular</th>
													<th data-nosort="Y" style="text-align: center;">
														<a href="#" class="row-creator2 btn btn-success"><i class="fas fa-plus-square"></i></a>
													</th>
												</tr>
											</thead>
											<tbody id="mobomdetailbody2">
												<tr th:attr="data-rowindex=${n.count}" th:each="d,n : ${modetails}">
													<td style="text-align: center;" th:text="${n.count}"></td>
													<td>
														<div class="form-group">
															<div class="row">
																<div class="form-group">
																	<div class="col-sm-8">
																		<!--<select class="form-control select2 item-xitem2" th:value="${d.xitem}" th:text="${d.xitem}" required="required"></select>-->
																		
																		<select class="form-control select2 item-xitem2" required="required">
																			<option value="">-- Select--</option>
																			<option th:each="p : ${caitemList}" th:value="${p.xitem}" th:text="${p.xitem + ' - ' + p.xdesc}"></option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
													</td>
													<td>
														<div class="form-group">
															<div class="col-sm-8">
																<input type="text"  class="form-control item-qty2" th:value="${d.xqty}" min="0"/>
															</div>
														</div>
													</td>
													<td>
														<div class="form-group">
															<div class="col-sm-8">
																<input type="text" th:value="${d.xunit}" class="form-control item-unit2" disabled="disabled"/>
															</div>
														</div>
													</td>
													<td>
														<div class="form-group">
															<div class="col-sm-8">
																<input type="text" th:value="${d.xref}" class="form-control item-xref2"/>
															</div>
														</div>
													</td>
													<td style="text-align: center;">
														<button type="button" class="btn btn-danger row-remover"><i class="fas fa-trash"></i></button>
													</td>
												</tr>
											</tbody>
											<tfoot>
												<!-- <th colspan="3" class="text-right">Total</th>
												<th></th>
												<th class="text-right" th:text="${totalDebit}">0</th>
												<th class="text-right" th:text="${totalCredit}">0</th>
												<th colspan="2"></th> -->
											</tfoot>
										</table>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Right Panel -->
		<div class="right-panel menu-close">
			<div class="right-panel-content-area">
				<div class="right-panel-content">
					<section id="list-manager" style="margin: 10px 0px;">
						<div class="section-header sectionbartoggle">
							<h1>BOM List</h1>
						</div>
						<div class="section-body">
							<table class="table table-striped table-bordered datatable nowrap" th:with="df=${'E, dd-MMM-yyyy'}">
								<thead>
									<tr>
										<th>Item</th>
										<th>Date</th>
										<th>FG Item</th>
										<th>Customer</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="v : ${moheaders}">
										<td>
											<a th:href="@{/production/moheader/} + ${v.xbatch}" th:text="${v.xbatch}"></a>
										</td>
										<td th:text="${#dates.format(v.xdate, df)}"></td>
										<td th:text="${v.xitem}"></td>
										<td th:text="${v.xcus}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>

				</div>
			</div>
		</div>
		<div class="right-panel-toggler">
			<i class="fas fa-caret-left"></i>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>

		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		<script type="text/javascript" th:src="@{/assets/pages/production/moheader/moheader.js}"></script>
		<script type="text/javascript" th:src="@{/assets/pages/production/moheader/moheader2.js}"></script>
		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
	</body>
</html>
