<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Purchase Requisition</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/procurement/purchasereq}">Purchase Requisition</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<h1 class="text-center">Purchase Requisition</h1>
				</div>

				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-12">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div id="purchasereqform" th:fragment="purchasereqform">
										<div class="section-header sectionbartoggle"></div>
										<div class="form-action-button">
											<a th:href="@{/procurement/purchasereq/purchasereqlist}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-chevron-left"></i> <span style="margin-left:2px;">Purchase Requisition List</span> </a>
											<a th:href="@{/procurement/purchasereq}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;"> Clear</span></a>
											<a th:if="${#strings.isEmpty(purchasereq.xporeqnum)}" th:href="@{/procurement/purchasereq}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;"> Save</span></a>
											<a th:if="${not #strings.isEmpty(purchasereq.xporeqnum) and purchasereq.xstatusreq == 'Open' and purchasereq.xstatus == 'Open' and purchasereq.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> <span style="margin-left:2px;"> Update</span></a>
											<a th:if="${not #strings.isEmpty(purchasereq.xporeqnum) and purchasereq.xstatusreq == 'Open' and purchasereq.xstatus == 'Open'  and purchasereq.zactive == true}" th:href="@{/procurement/purchasereq/delete/} + ${purchasereq.xporeqnum}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;"> Delete</span></a>
											<a th:if="${not #strings.isEmpty(purchasereq.xporeqnum) and purchasereq.xstatusreq == 'Open' and purchasereq.xstatus == 'Open'  and purchasereq.zactive == true}" th:href="@{/procurement/purchasereq/confirm/} + ${purchasereq.xporeqnum}" class="btn btn-sm btn-warning confirm-btn-link"><i class="fas fa-paper-plane"></i> <span style="margin-left:2px;"> Confirm</span></a>
											<a th:if="${not #strings.isEmpty(purchasereq.xporeqnum) and (purchasereq.xstatus eq 'Confirmed' and purchasereq.xstatusreq eq 'Approved')}" th:href="@{/procurement/purchasereq/createpo/} + ${purchasereq.xporeqnum}" class="btn btn-sm btn-warning confirm-btn-link"><i class="fas fa-check-square"></i> Create PO</a>
											<a th:if="${not #strings.isEmpty(purchasereq.xporeqnum)}" th:href="@{/procurement/purchasereq/print/} + ${purchasereq.xporeqnum}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-print"></i> Print Purchase Requisition</a>
											
										</div>
										<div class="section-body section-border">
											<div id="purchasereqform" th:fragment="purchasereqform">
												<form id="mainform" class="form-horizontal" th:action="@{/procurement/purchasereq/save}" th:object="${purchasereq}" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
													<input type="hidden" th:field="*{xtypetrn}"/>
													<div class="row">
														<div class="col-md-4">
															<div class="form-group" th:if="${#strings.isEmpty(purchasereq.xporeqnum)}">
																<label class="control-label col-md-4" for="xtrn">Requisition Number</label>
																<div class="col-md-4">
																	<select class="form-control" id="xtrn" name="xtrn">
																		<option th:each="p : ${prefix}" th:value="${p.xtrn}" th:text="${p.xtrn}"></option>
																	</select>
																</div>
															</div>

															<div class="form-group" th:if="${not #strings.isEmpty(purchasereq.xporeqnum)}">
																<label class="control-label col-md-4" for="xporeqnum" >Requisition Number</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xporeqnum}">
																	<input type="text" class="form-control" th:value="*{xporeqnum}" disabled="disabled">
																</div>
															</div>

															<div class="form-group datepicker">
																<label class="control-label col-md-4" for="xdate">Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="xdate"
																			name="xdate"
																			th:value="${purchasereq.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(purchasereq.xdate, df)}"/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xcus">Supplier</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest" 
																			placeholder="Search..." 
																			th:value="${#strings.isEmpty(purchasereq.xcus) ? '' : purchasereq.xcus + ' - ' + purchasereq.xorg}" 
																			th:attr="search-url='search/supplier'"/>
																	<input type="hidden" id="search-val" th:field="*{xcus}"/>
																	<input type="hidden" id="search-des" th:value="*{xcus}"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="xpreparer">Requisition By</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																			class="form-control searchsuggest" 
																			placeholder="Search..." 
																			th:value="${#strings.isEmpty(purchasereq.xpreparer) ? '' : purchasereq.xpreparer + ' - ' + purchasereq.xpreparername}" 
																			th:attr="search-url='search/staff'"/>
																	<input type="hidden" class="required" id="search-val" th:field="*{xpreparer}" value=""/>
																	<input type="hidden" id="search-des" th:value="*{xpreparer}"/>
																</div>
															</div>
														
														</div>

														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label col-md-4" for="xhwh">Project/Business</label>
																<div class="col-sm-8">
																	<input 	type="text" 
																		class="form-control searchsuggest xhwhsearch" 
																		placeholder="Search..." 
																		th:value="${#strings.isEmpty(purchasereq.xhwh) ? '' : purchasereq.xhwh + '-' + purchasereq.projectName}" 
																		th:attr="search-url='search/allproject'"
																		/>
																	<input type="hidden" class="required" id="search-val" th:field="*{xhwh}" value=""/>
																	<input type="hidden" id="search-des" th:value="*{xhwh}"/>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-sm-4" for="xwh" >Site/Store</label>
																<div class="col-sm-8">
																	<select th:field="*{xwh}" class="form-control">
																		<option value="">-- Select --</option>
																		<option th:each="s : ${allcodes}" th:value="${s.xcode}" th:text="${s.xcode + ' - ' + s.xcodename}"></option>
																	</select>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xref">Reference</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xref}">
																</div>
															</div>

														</div>

														<div class="col-md-4">
															<div class="form-group">
																<label class="control-label col-md-4" for="xtotamt">Total Amount</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xtotamt}">
																	<input type="text" class="form-control" th:value="*{xtotamt}" min="0" disabled="disabled">
																</div>
															</div>

															<div class="form-group" th:if="${purchasereq.xstatusreq != 'PO Created'}">
																<label class="control-label col-md-4" for="xstatus">Status</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xstatus}">
																	<input type="text" class="form-control" th:value="*{xstatus}" disabled="disabled">
																</div>
															</div>

															<div class="form-group" th:if="${purchasereq.xstatusreq == 'PO Created'}">
																<label class="control-label col-md-4" for="xstatusreq" >Status</label>
																<div class="col-md-8">
																	<input type="hidden" class="form-control" th:field="*{xstatusreq}">
																	<input type="text" class="form-control" th:value="*{xstatusreq}" disabled="disabled">
																</div>
															</div>

															<div class="form-group">
																<label class="control-label col-md-4" for="xnote">Note</label>
																<div class="col-md-8">
																	<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
																</div>
															</div>

															<!--<div class="form-group">
																<label class="control-label col-md-4" for="xinvnum" th:text="#{grn.form.label.xinvnum}">Supplier Bill No.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" th:field="*{xinvnum}">
																</div>
															</div>-->

														</div>
													</div>
												</form>
												
												
											</div>
										</div>
										<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
										<script type="text/javascript">
											$(document).ready(function(){
												ck.ui.config.editmode();
												ck.ui.config.dateAndTimepicker();
											})
										</script>
									</div>
								</section>
							</div>
						</div>
						
					</div>
					
					<div class="row">
						<div class="col-md-6">
							<section th:if="${not #strings.isEmpty(purchasereq.xporeqnum)}" id="data-maintenance" style="margin-top: 30px;">
								<a id="listlines-url" th:href="@{/procurement/purchasereq/purchasereqdetail/} + ${purchasereq.xporeqnum}"></a>
								<div class="section-header sectionbartoggle">
									<h1 th:text="'Purchase Requisition Details of ' + ${purchasereq.xporeqnum}"></h1>
								</div>
								<div class="section-body">
									<div class="porow" id="purchasereqdetailtable" th:fragment="purchasereqdetailtable">
										<table class="table table-striped table-bordered normal-table nowrap potable">
											<thead>
												<tr class="porow">
													<th>SL.</th>
													<th>Item</th>
													<th>Qty.</th>
													<th>Rate</th>
													<th>Unit</th>
													<th>Line Amt.</th>
													<th>CF(Purchase)</th>
													<th>Note</th>
													<!--<th>Completed GRN Qty.</th>-->
													<th data-nosort="Y" style="text-align: right;" th:if="${purchasereq.xstatusreq == 'Open'}">
														<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/procurement/purchasereq/} + ${purchasereq.xporeqnum} + '/purchasereqdetail/new/show', data-target-modal='purchasereqdetailmodal'"><i class="fas fa-plus"></i></button>
													</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="d,n : ${purchasereqdetailList}">
													<td th:text="${d.xrow}"></td>
													<td>
														<a th:href="@{/mastersetup/caitem/} + ${d.xitem}" target="_blank" th:text="${d.xitem} + ' - ' + ${d.xitemdesc}"></a>
													</td>
													<td class="text-right" th:text="${d.xqtypur}"></td>
													<td class="text-right" th:text="${d.xrate}"></td>
													<td th:text="${d.xunitpur}"></td>
													<td class="text-right" th:text="${d.xlineamt}"></td>
													<td class="text-right" th:text="${d.xcfpur}"></td>
													<td th:text="${d.xnote}"></td>
													<!--<td th:text="${#strings.isEmpty(d.xqtygrn)? 0 : d.xqtygrn}"></td>-->
													<td data-nosort="Y" style="text-align: right; font-size: 11px;" th:if="${purchasereq.xstatusreq == 'Open'}">
														<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/procurement/purchasereq/} + ${purchasereq.xporeqnum} + '/purchasereqdetail/' + ${d.xrow} + '/show', data-target-modal='purchasereqdetailmodal'"><i class="fas fa-edit"></i></button>
														<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/procurement/purchasereq/} + ${purchasereq.xporeqnum} + '/purchasereqdetail/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
													</td>
												</tr>
											</tbody>
											<tfoot>
												<th colspan="5" class="text-right">Total</th>
												<th class="text-right" th:text="${totalNetAmount}">0</th>
											</tfoot>
										</table>
									</div>
								</div>
							</section>
						</div>
						<div class="col-md-6" th:if="${not #strings.isEmpty(purchasereq.xporeqnum)}">
							<section id="list-manager" style="margin-top: 30px;">
								<div class="section-header sectionbartoggle">
									<h1 th:text="'PO List of ' + ${purchasereq.xporeqnum}"></h1>
								</div>
								<div class="section-body">
									<div style="overflow-x: auto;">
										<table class="table table-striped table-bordered datatable nowrap" id="pogrnheadertable" th:fragment="pogrnheadertable">
											<thead>
												<tr>
													<th>PO Number</th>
													<th>Date</th>
													<th>Supplier</th>
													<th>Site/Store</th>
													<th>Total Amount</th>
													<th>Purchase Requisition</th>
													<th>Status</th>
												</tr>
											</thead>
											<tbody th:with="df=${'E, dd-MMM-yyyy'}">
												<tr th:each="g,n : ${polist}">
													<td>
														<a th:href="@{/procurements/poord/} + ${g.xpornum}" th:text="${g.xpornum}"></a>
													</td>
													<td  th:text="${#dates.format(g.xdate, df)}"></td>
													<td th:text="${g.xcus} + ' - ' + ${g.xorg}"></td>
													<td th:text="${#strings.isEmpty(g.xwh) ? '' : g.xwh + ' - ' + g.storeName}"></td>
													<td th:text="${g.xtotamt}"></td>
													<td th:text="${g.xporeqnum}"></td>
													<td th:text="${g.xstatuspor}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>

				</div>
			</div>
		</div>
		

		<!-- Modal -->
		<div id="purchasereqdetailmodal-section"></div>
		
		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>

		<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
	
				$('.xhwhsearch').on('blur', function(){
					setTimeout(() => {
						if($('input[name="xhwh"]').val() == ''){
							$("#xwh option").remove(); 
							var mySelect = $('#xwh');
							mySelect.append(
								$('<option></option>').val("").html("-- Select --")
							);
							return;
						}

	
						loadingMask2.show();
						$.ajax({
							url : getBasepath() + '/procurement/purchasereq/allcodesbyproject/' + $('input[name="xhwh"]').val(),
							type : 'GET',
							success : function(data) {
								loadingMask2.hide();
								if(data == undefined || data == null) return;
	
								$("#xwh option").remove(); 
								var mySelect = $('#xwh');
								mySelect.append(
									$('<option></option>').val("").html("-- Select --")
								);
								$.each(data, function(val, obj) {
									mySelect.append(
										$('<option></option>').val(obj.xcode).html(obj.xcode + ' - ' + obj.xcodename)
									);
								});
	
							},
							error : function(jqXHR, status, errorThrown){
								showMessage(status, "Something went wrong .... ");
								loadingMask2.hide();
							}
						})
					}, 1000);
				});
			});
		</script>
	</body>
</html>