<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="#{mm.page.title}">Machine Master</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Home</a></li>
										<li class="active"><a th:href="@{/machinemas}">Machine Master</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1 th:text="#{mm.page.heading}">Machine Master</h1>
									</div>
									<div class="form-action-button">
										<a th:href="@{/machinemas}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xclear}"> Clear</span></a>
										<a  class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xsave}"> Save</span></a>
										<a  class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;" th:text="#{button.value.xupdate}"> Update</span></a>
										<a  class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;" th:text="#{button.value.xdelete}"> Delete</span></a>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal"  th:with="df=${'E, dd-MMM-yyyy'}">
											<div class="row">
												<div class="col-md-6">
													 <div class="form-group">
														<label class="control-label col-md-4" th:text="#{mm.form.label.xmkey}">Machine ID</label>
														<div class="col-md-8">
															<input type="text" class="form-control"  placeholder="MCH-0000010">
														</div>
													</div>

													<div class="form-group">
															<label class="control-label col-md-4" th:text="#{mm.form.label.xname}">Machine Name</label>
															<div class="col-md-8">
																<input type="text" class="form-control" placeholder="Crochet" >
															</div>
													</div>

													<div class="form-group">
															<label class="control-label col-md-4" th:text="#{mm.form.label.xmcapacity}">Machine Capacity </label>
															<div class="col-md-8">
																<input type="text" class="form-control" placeholder="1000.5" >
															</div>
													</div>

													<div class="form-group">
															<label class="control-label col-md-4" th:text="#{mm.form.label.xploss}">Process Loss(Percentage) </label>
															<div class="col-md-8">
																<input type="text" class="form-control" placeholder="12" >
															</div>
													</div>

													</div>

 												<div class="col-md-6">
												
													<div class="form-group">
														<label class="control-label col-md-4" th:text="#{mm.form.label.xmmcapacity}">Main Machine Capacity</label>
														<div class="col-md-8">
															<input type="text" class="form-control" placeholder="5000.25" >
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" for="" th:text="#{mm.form.label.xunit}">Unit</label>
														<div class="col-md-8">
															<input type="text" class="form-control" value="Kg" disabled="disabled"/>
														</div>
													</div>

													<div class="form-group">
														<label class="control-label col-md-4" th:text="#{mm.form.label.xdptuse}">Department in Use</label>
														<div class="col-md-8">
															<select class="form-control" >
																<option>Knitting</option>
																<option th:each="d : ${ownerTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
															</select>
														</div>
													</div>
	
												</div>
										</div>
									</form>
								</div>
							</section>
						</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1>List of Machines</h1>
									</div>
									<div class="section-body">
										<table class="table table-striped table-bordered datatable nowrap">
											<thead>
												<tr>
													<th th:text="#{mm.table.heading.xmkey}">Machine ID</th>
													<th th:text="#{mm.table.heading.xname}">Machine Name</th>
													<th th:text="#{mm.table.heading.xmcapacity}">Machine Capacity </th>
													<th th:text="#{mm.table.heading.xploss}">Process Loss</th>
													<th th:text="#{mm.table.heading.xmmcapacity}">Main Machine Capacity </th>
												</tr>
											</thead>
											<tbody>
												
											</tbody>
										</table>
									</div>
								</section>
							</div>
					</div>			
				</div>
			</div>
		</div>
	</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>

		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		
	</body>
</html>
