<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title> QC Inspection</title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>
		


		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Home</a></li>
										<li class="active"><a th:href="@{/prqc}"> QC Inspection</a></li>
									
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="section-header sectionbartoggle">
														<h1>QC Inspection</h1>
													</div>
													<div class="form-action-button">
														<a th:href="@{/prqc}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> Clear</a>
														<a  class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
														<a  class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Update</a>
														<a  class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Delete</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">QC No. </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" placeholder="QC--000001"/>
																</div>
															</div>
															
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for=""> Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="]"
																			name=""
																			required="required"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">QC For</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" value="Dyeing"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Transaction No For QC</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" placeholder="Through Search"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Delivered Qty. from floor </label>
																<div class="col-md-8">
																	<input type="text" class="form-control" placeholder=""/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Confirmed Qty.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" placeholder=""/>
																</div>
															</div>
															
													</div>
														<div class="col-md-6">
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Returned Qty.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" />
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">QC Report</label>
																<div class="col-md-8">
																	<select class="form-control" >
																		<option>Satisfactory</option>
																		<option>Dissatisfactory</option>
																		<option th:each="d : ${ownerTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Remarks</label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3"  placeholder=" "></textarea>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Created By</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" value="abc@gmail.com" disabled="disabled"/>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Confirmed By</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" value="xyz@gmail.com" disabled="disabled"/>
																</div>
															</div>
														</div>
														<div class="col-md-6">
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1> List of QC Inspection</h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th>QC No.</th>
														<th>QC For</th>
														<th>Transaction No.</th>
														<th>Confirmed Qty.</th>
														<th>Returned Qty.</th>
													</tr>
												</thead>
												<tbody>
													
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div id="Surveyordocumentmodal-section"></div>
		
		  <!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
