<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Sewing Transaction </title>
		<meta th:remove="tag" th:include="commons :: common-meta"/>
		<meta th:remove="tag" th:include="commons :: common-css"/>
		<meta th:remove="tag" th:include="commons :: common-js"/>
	</head>
	<body>

		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>
		


		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}">Home</a></li>
										<li class="active"><a th:href="@{/prswng}">Sewing Transaction  </a></li>
									
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>
		
		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-6">
								<!-- Section list head -->
								<section id="data-maintenance" style="margin-top: 30px;">
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<div class="section-header sectionbartoggle">
														<h1>Sewing Transaction  </h1>
													</div>
													<div class="form-action-button">
														<a th:href="@{/prswng}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> Clear</a>
														<a  class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Save</a>
														<a  class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> Update</a>
														<a  class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> Delete</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="section-body section-border">
										<form id="mainform" class="form-horizontal" method="post" th:with="df=${'E, dd-MMM-yyyy'}">
											
											<div class="row">
												<div class="col-md-12">
													<div class="row">
														<div class="col-md-6">
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Transaction ID</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" placeholder="SEW-000001"/>
																</div>
															</div>
															
															<div class="form-group datepicker">
																<label class="control-label col-md-4" for=""> Date</label>
																<div class="input-group date col-md-7 datepicker">
																	<input 	type="datepicker" 
																			class="form-control" 
																			id="]"
																			name=""
																			required="required"
																			/>
																	<div class="input-group-addon">
																		<span class="glyphicon glyphicon-calendar"></span>
																	</div>
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Production For</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" value="Sewing" disabled="disabled"/>
																</div>
															</div>
															
													</div>
														<div class="col-md-6">
															
															
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Sewing Plan No.</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" placeholder="Through Searcg"/>
																</div>
															</div>
															<div class="form-group">
																<label class="control-label col-md-4" for="">Status</label>
																<div class="col-md-8">
																	<input type="text" class="form-control" value="Open/Confirmed" disabled="disabled"/>
																	<!-- <select class="form-control" >
																		<option>Active</option>
																		<option th:each="d : ${ownerTypes}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
																	</select> -->
																</div>
															</div>
															
															<div class="form-group">
																<label class="control-label col-md-4" for="">Remarks</label>
																<div class="col-md-8">
																	<textarea class="form-control" rows="3"  placeholder=" "></textarea>
																</div>
															</div>
															
															
														</div>
														<div class="col-md-6">
														</div>
													</div>
												</div>
											</div>
										</form>
									</div>
								</section>
							</div>
							<div class="col-md-6">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-header sectionbartoggle">
										<h1> Sewing Transaction Details  </h1>
									</div>
									<div class="section-body">
										<div style="overflow-x: scroll;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th>Transaction No. </th>
														<th>Production For</th>
														<th>Sewing Plan No.</th>
														<th>Status</th>
													</tr>
												</thead>
												<tbody>
													
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div id="Surveyordocumentmodal-section"></div>
		
		  <!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>
