<!-- Modal -->
<div id="cawhbudgetdtmodal" th:fragment="cawhbudgetdtmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update Budget</h4>
			</div>
			
			<div class="modal-body">
				<div class="row">
				<form id="mainform-modal" class="form-horizontal"  method="post" th:action="@{/project/cawhbudget/cawhbudgetdt/save}" th:object="${cawhbudgetdt}">
				<input type="hidden" th:if="${xrow ne 0}" th:field="*{xrow}"/>
				<input type="hidden" th:field="*{xbudget}"/>
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12">
									<div class="section-header sectionbartoggle">
										
									</div>
								</div>
							</div>
						</div>
						</div><br>
						<div class="row">
							<div class="col-md-12">
								<div class="row">
									<div class="col-md-6">

										<div class="form-group">
											<label class="control-label col-md-4" for="xpurpose">Purpose</label>
											<div class="col-md-7">
												<select class="form-control xpurpose" th:field="*{xpurpose}">
													<option value="">-- Select --</option>
													<option th:each="d : ${purpose}" th:value="${d.xcode}" th:text="${d.xcode}"></option>
												</select>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-sm-4" for="xamount">Budget Amount</label>
											<div class="col-sm-7">
												<input type="text" class="form-control" th:field="*{xamount}" maxlength="100"/>
											</div>
										</div>

									</div>

									<div class="col-md-6">

										<div class="form-group">
											<label class="control-label col-md-3" for="xtolerance">Exceptable Tolerance(%)</label>
											<div class="col-md-7">
												<input type="text" class="form-control" th:field="*{xtolerance}" maxlength="100"/>
											</div>
										</div>

										<div class="form-group">
											<label class="control-label col-md-3" for="xnote">Note</label>
											<div class="col-md-7">
												<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
											</div>
										</div>

									</div>

								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
	<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
			});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			// Init ui for modal
			ck.ui.config.buttonevent();

			
			$('#xdagtype').on('change', function(){
				setTimeout(() => {
					if($('#xdagtype').val() == ''){
						$("#xdagnum option").remove(); 
						var mySelect = $('#xdagnum');
						
						return;
					}

					loadingMask2.show();
					$.ajax({
						url : getBasepath() + '/landinfo/cadag/' + $('#xdagtype').val(),
						type : 'GET',
						success : function(data) {
							loadingMask2.hide();
							if(data == undefined || data == null) return;

							$("#xdagnum option").remove(); 
							var mySelect = $('#xdagnum');
							
							$.each(data, function(val, obj) {
								mySelect.append(
									$('<option></option>').val(obj.xdagnum).html(obj.xdagnum)
								);
							});

						},
						error : function(jqXHR, status, errorThrown){
							showMessage(status, "Something went wrong .... ");
							loadingMask2.hide();
						}
					})
				}, 1000);
});
		});
	</script>
</div>
