<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Budget Entry(Site)</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/project/cawhbudget}">Budget Entry(Site)</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<h1 class="text-center">Budget Entry(Site)</h1>
						</div>

						<div class="row">
							<div class="col-md-6" style="padding-left: 30px; padding-right: 30px;">
								<div class="row">
									<!-- Section list head -->
									<section id="data-maintenance" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
										</div>
										<div class="form-action-button">
											<a th:href="@{/project/cawhbudget}" class="btn btn-sm btn-default"><i class="fas fa-redo-alt"></i> <span style="margin-left:2px;"> Clear</span></a>
											<a th:if="${#strings.isEmpty(cawhbudget.xbudget)}" th:href="@{/project/cawhbudget}" class="btn btn-sm btn-success confirm-btn"><i class="fas fa-save"></i> <span style="margin-left:2px;"> Save</span></a>
											<a th:if="${not #strings.isEmpty(cawhbudget.xbudget) and cawhbudget.xstatus == 'Open' and cawhbudget.zactive == true}" href="#" class="btn btn-sm btn-success update-btn"><i class="fas fa-edit"></i> <span style="margin-left:2px;"> Update</span></a>
											<a th:if="${not #strings.isEmpty(cawhbudget.xbudget) and cawhbudget.xstatus == 'Open'  and cawhbudget.zactive == true}" th:href="@{/project/cawhbudget/delete/} + ${cawhbudget.xbudget}" class="btn btn-sm btn-danger archive-btn-link"><i class="fas fa-trash-alt"></i> <span style="margin-left:2px;"> Delete</span></a>
											<a th:if="${not #strings.isEmpty(cawhbudget.xbudget) and cawhbudget.xstatus == 'Open'  and cawhbudget.zactive == true}" th:href="@{/project/cawhbudget/confirm/} + ${cawhbudget.xbudget}" class="btn btn-sm btn-warning confirm-btn-link"><i class="fas fa-paper-plane"></i> <span style="margin-left:2px;"> Confirm</span></a>
											<a th:if="${not #strings.isEmpty(cawhbudget.xbudget)}" th:href="@{/project/cawhbudget/print/} + ${cawhbudget.xbudget}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fas fa-print"></i> Print Budget Info</a>
										</div>
										<div class="form-action-button">
											<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-fast-backward"></i> <span style="margin-left:2px;"> Top</span></a>
											<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-chevron-left"></i> <span style="margin-left:2px;"> Previous</span></a>
											<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-chevron-right"></i> <span style="margin-left:2px;"> Next</span></a>
											<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-fast-forward"></i> <span style="margin-left:2px;"> Bottom</span></a>
										</div>
										<div class="section-body section-border">
											<div id="cawhbudgetheaderform" th:fragment="cawhbudgetheaderform">
												<div id="cawhbudgetheaderform" th:fragment="cawhbudgetheaderform">
													<form id="mainform" class="form-horizontal" th:action="@{/project/cawhbudget/save}" th:object="${cawhbudget}" method="post" th:with="df=${'E, dd-MMM-yyyy HH:mm:ss'}">
														<input type="hidden" class="form-control" th:field="*{xtypetrn}">
														<div class="row">
															<div class="col-md-6">
			
																<div class="form-group" th:if="${#strings.isEmpty(cawhbudget.xbudget)}">
																	<label class="control-label col-md-4" for="xtrn">Budget Code</label>
																	<div class="col-md-6">
																		<select class="form-control" th:field="*{xtrn}">
																			<option th:each="prefix : ${prefix}" th:value="${prefix.xtrn}" th:text="${prefix.xtrn}"></option>
																		</select>
																	</div>
																</div>
			
																<div class="form-group" th:if="${not #strings.isEmpty(cawhbudget.xbudget)}">
																	<label class="control-label col-md-4" for="xbudget ">Budget Code</label>
																	<div class="col-md-8">
																		<input type="text" class="form-control" th:value="*{xbudget}" disabled="disabled">
																		<input type="hidden" class="form-control" th:field="*{xbudget}">
																	</div>
																</div>
	
																<div class="form-group">
																	<label class="control-label col-md-4" for="xwh">Site Code</label>
																	<div class="col-sm-8">
																		<input 	type="text" 
																				class="form-control searchsuggest xwhsearch" 
																				placeholder="Search..." 
																				th:value="${#strings.isEmpty(cawhbudget.xwh) ? '' : cawhbudget.xwh + ' - ' + cawhbudget.siteName}" 
																				th:attr="search-url='search/site'"
																				/>
																		<input type="hidden" class="required" id="search-val" th:field="*{xwh}" value=""/>
																		<input type="hidden" id="search-des" th:value="*{xwh}"/>
																	</div>
																</div>
	
																<div class="form-group">
																	<label class="control-label col-md-4" for="xproject">Project</label>
																	<div class="col-md-8">
																		<input type="hidden" class="form-control" th:field="*{xproject}">
																		<input type="text" class="form-control xproject-display" th:value="${#strings.isEmpty(cawhbudget.xproject) ? '' : cawhbudget.xproject + '-' + cawhbudget.projectName}"  disabled="disabled">
																	</div>
																</div>

																<div class="form-group">
																	<label class="control-label col-md-4" for="xcus">Customer</label>
																	<div class="col-sm-8">
																		<input type="hidden" class="form-control" th:field="*{xcus}">
																		<input type="text" class="form-control xcus-display" th:value="${#strings.isEmpty(cawhbudget.xcus) ? '' : cawhbudget.xcus + '-' + cawhbudget.xorg}"  disabled="disabled">
																	</div>
																</div>
	
																<div class="form-group datepicker">
																	<label class="control-label col-md-4" for="xdate">Date</label>
																	<div class="input-group date col-md-7 datepicker">
																		<input 	type="datepicker" 
																				class="form-control" 
																				id="xdate"
																				name="xdate"
																				th:value="${cawhbudget.xdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(cawhbudget.xdate, df)}"/>
																		<div class="input-group-addon">
																			<span class="glyphicon glyphicon-calendar"></span>
																		</div>
																	</div>
																</div>
			
															</div>
															<div class="col-md-6">
	
																<div class="form-group datepicker">
																	<label class="control-label col-md-4" for="xprepdate">Prepared Date</label>
																	<div class="input-group date col-md-7 datepicker">
																		<input 	type="datepicker" 
																				class="form-control" 
																				id="xprepdate"
																				name="xprepdate"
																				th:value="${cawhbudget.xprepdate == null ? #dates.format(#dates.createNow(), df) : #dates.format(cawhbudget.xprepdate, df)}"/>
																		<div class="input-group-addon">
																			<span class="glyphicon glyphicon-calendar"></span>
																		</div>
																	</div>
																</div>
	
																<div class="form-group">
																	<label class="control-label col-md-4" for="xref">Reference</label>
																	<div class="col-md-8">
																		<input type="text" class="form-control" th:field="*{xref}">
																	</div>
																</div>
	
																<div class="form-group">
																	<label class="control-label col-md-4" for="xstatus">Status</label>
																	<div class="col-md-8">
																		<input type="hidden" class="form-control" th:field="*{xstatus}">
																		<input type="text" class="form-control" th:value="*{xstatus}" disabled="disabled">
																	</div>
																</div>
	
																<div class="form-group">
																	<label class="control-label col-sm-4" for="xtotamt">Total Amount</label>
																	<div class="col-sm-8">
																		<input type="hidden" class="form-control" th:field="*{xtotamt}">
																		<input type="text" class="form-control" th:value="*{xtotamt}" disabled="disabled"/>
																	</div>
																</div>
	
																<div class="form-group">
																	<label class="control-label col-md-4" for="xnote">Note</label>
																	<div class="col-md-8">
																		<textarea class="form-control" th:field="*{xnote}" rows="3"></textarea>
																	</div>
																</div>
	
															</div>
														</div>
													</form>
												</div>
											</div>
										</div>
								</section>
								</div>
								<div class="row">
									<section th:if="${not #strings.isEmpty(cawhbudget.xbudget)}" id="data-maintenance" style="margin-top: 30px;">
										<a id="listlines-url" th:href="@{/project/cawhbudget/cawhbudgetdt/} + ${cawhbudget.xbudget}"></a>
										<div class="section-header sectionbartoggle">
											<h1>Budget Details of <span th:text="${cawhbudget.xbudget}"></span></h1>
										</div>
										<div class="section-body">
											<table class="table table-striped table-bordered normal-table nowrap" id="cawhbudgetdttable" th:fragment="cawhbudgetdttable">
												<thead>
													<tr>
														<th>Row</th>
														<th>Purpose</th>
														<th>Budget Amount</th>
														<th>Exceptable Tolerance(%)</th>
														<th data-nosort="Y" style="text-align: right;" th:if="${cawhbudget.xstatus == 'Open'}">
															<button type="button" class="btn btn-success btn-add" th:attr="data-url=@{/project/cawhbudget/} + ${cawhbudget.xbudget} + '/cawhbudgetdt/new/show', data-target-modal='cawhbudgetdtmodal'"><i class="fas fa-plus"></i></button>
														</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="d : ${cawhbudgetdtlist}">
														<td th:text="${d.xrow}"></td>
														<td th:text="${d.xpurpose}"></td>
														<td th:text="${d.xamount }"></td>
														<td th:text="${d.xtolerance }"></td>
														<td  data-nosort="Y" style="text-align: right; font-size: 11px;" th:if="${cawhbudget.xstatus == 'Open'}">
															<button type="button" class="btn btn-default btn-edit editmode" th:attr="data-url=@{/project/cawhbudget/} + ${cawhbudget.xbudget} + '/cawhbudgetdt/' + ${d.xrow} + '/show', data-target-modal='cawhbudgetdtmodal'"><i class="fas fa-edit"></i></button>
															<button type="button" class="btn btn-danger btn-delete editmode" th:attr="data-url=@{/project/cawhbudget/} + ${cawhbudget.xbudget} + '/cawhbudgetdt/' + ${d.xrow} + '/delete'"><i class="fas fa-trash"></i></button>
														</td>
													</tr>
												</tbody>
												<tfoot>
													<th colspan="2" class="text-right">Total</th>
													<th class="text-right" th:text="${totalBudgetAmt}">0</th>
													<th></th>
													<th></th>
												</tfoot>
											</table>
										</div>
									</section>
								</div>
							</div>

							<div class="col-md-6" style="padding-left: 30px; padding-right: 30px; margin-top: 30px;">
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>Draft Budget Info</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable" id="cawhbudgetheadertable" th:fragment="cawhbudgetheadertable">
													<thead>
														<tr>
															<th>Budget Code No.</th>
															<th>Site</th>
															<th>Date</th>
															<th>Budget Amount</th>
															<th>Reference</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:if="${por.xstatus == 'Open'}" th:each="por : ${allCawhbudget}">
															<td>
																<a th:href="@{/project/cawhbudget/} + ${por.xbudget}" th:text="${por.xbudget}"></a>
															</td>
															<td th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.siteName}"></td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${por.xtotamt}"></td>
															<td th:text="${por.xref}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
								<div class="row">
									<section id="list-manager" style="margin-top: 30px;">
										<div class="section-header sectionbartoggle">
											<h1>All Budgets List</h1>
										</div>
										<div class="section-body">
											<div style="overflow-x: auto">
												<table class="table table-striped table-bordered datatable" id="cawhbudgetheadertable" th:fragment="cawhbudgetheadertable">
													<thead>
														<tr>
															<th>Budget Code No.</th>
															<th>Site</th>
															<th>Date</th>
															<th>Budget Amount</th>
															<th>Reference</th>
														</tr>
													</thead>
													<tbody th:with="df=${'E, dd-MMM-yyyy'}">
														<tr th:each="por : ${allCawhbudget}">
															<td>
																<a th:href="@{/project/cawhbudget/} + ${por.xbudget}" th:text="${por.xbudget}"></a>
															</td>
															<td th:text="${#strings.isEmpty(por.xwh)? '' : por.xwh + ' - ' + por.siteName}"></td>
															<td th:text="${#dates.format(por.xdate, df)}"></td>
															<td th:text="${por.xtotamt}"></td>
															<td th:text="${por.xref}"></td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</section>
								</div>
								
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
				//$(".xitemsearch").click();

				// Get item purchase unit
				$('.xwhsearch').on('blur', function(){
					setTimeout(() => {
						if($('input[name="xwh"]').val() == ''){
							$('input.xproject-display').val('');
							$('input.xcus-display').val('');
							return;
						}

						loadingMask2.show();
						$.ajax({
							url : getBasepath() + '/project/cawhbudget/siteproject/' + $('input[name="xwh"]').val(),
							type : 'GET',
							success : function(data) {
								loadingMask2.hide();
								if(data == undefined || data == null) return;

								$('input[name="xproject"]').val(data.xproject);
								$('input.xproject-display').val(data.xproject+ ' - ' + data.projectName);
								$('input[name="xcus"]').val(data.xcus);
								$('input.xcus-display').val(data.xcus + ' - ' + data.xorg);

							},
							error : function(jqXHR, status, errorThrown){
								showMessage(status, "Something went wrong .... ");
								loadingMask2.hide();
							}
						})
					}, 1000);
				});

			});
		</script>
	
		<!-- Modal -->
		<div id="cawhbudgetdtmodal-section"></div>
	</body>
</html>