<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Sales Requisitions List</title>
		<meta th:remove="tag" th:include="commons :: common-meta" />
		<meta th:remove="tag" th:include="commons :: common-css" />
		<meta th:remove="tag" th:include="commons :: common-js" />
	</head>
	<body>
		<!-- Header section -->
		<div class="header-section" th:include="commons :: header-section"></div>

		<!-- Menu section -->
		<div th:if="${menuVersion != null and menuVersion eq 'MENU_V2'}" class="menuv2" th:include="commons :: main-menu"></div>

		<div th:if="${menuVersion == null or menuVersion eq 'MENU_V1'}" class="navbar-inverse menu-section">
			<div class="container-fluid">
				<div class="row">
					<nav class="navbar navbar-inverse">
						<div class="container-fluid">
							<div class="row">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
										<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
									</button>
								</div>
								<div class="collapse navbar-collapse" id="myNavbar">
									<div class="nav navbar-nav">
										<li><a th:href="@{/}"><i class="fas fa-home"></i> Home</a></li>
										<li class="active"><a th:href="@{/salesninvoice/opreq/reqorderlist}">Sales Requisitions List</a></li>
									</div>
									<ul class="nav navbar-nav navbar-right" th:include="ckbigmenu :: dashboard-menu"></ul>
								</div>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</div>

		<!-- Content section -->
		<div>
			<div class="container-fluid">
				<div class="row">
					<h1 class="text-center">Sales Requisitions List</h1>
				</div>
				<div style="text-align: right;">
					<a th:href="@{/salesninvoice/opreq}" class="btn btn-sm btn-primary print-btn-link" target="_blank"><i class="fa fa-plus" aria-hidden="true"></i><span style="margin-left:2px;"> Create Sale Requisition</span> </a>
				</div>

				<div class="row">
					<div class="col-md-12 content-area">
						<div class="row">
							<div class="col-md-12">
								<section id="list-manager" style="margin-top: 30px;">
									<div class="section-body">
										<div style="overflow-x: auto;">
											<table class="table table-striped table-bordered datatable nowrap">
												<thead>
													<tr>
														<th th:text="#{sro.table1.header.xdoreqnum}">Requisition Number</th>
														<th th:text="#{sro.table1.header.xdate}">Date</th>
														<th th:text="#{sro.table1.header.xcus}">Customer</th>
														<th th:text="#{sro.table1.header.xstatus}">Status</th>
														<!--<th>Requisition Status</th>-->
													</tr>
												</thead>
												<tbody th:with="df=${'E, dd-MMM-yyyy'}">
													<tr th:each="opreq : ${allOpreqHeader}">
														<td><a th:href="@{/salesninvoice/opreq/} + ${opreq.xdoreqnum}" th:text="${opreq.xdoreqnum}"></a></td>
														<td th:text="${#dates.format(opreq.xdate, df)}"></td>
														<td th:text="${opreq.xorg}"></td>
														<td th:text="${opreq.xstatus}"></td>
														<!--<td th:text="${opreq.xstatusreq}"></td>-->
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- Footer section -->
		<div class="footer-section" th:include="commons :: footer-section"></div>
	</body>
</html>