<!-- Modal -->
<div id="opdodetailmodal" th:fragment="opdodetailmodal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="true" xmlns:th="http://www.thymeleaf.org">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add/Update Direct Sales Item</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<form id="mainform-modal" th:action="@{/salesninvoice/salesandinvoice/opdodetail/save}" method="post" class="form-horizontal" th:object="${opdodetail}">
						<input type="hidden" th:field="*{xdornum}"/>
						<input type="hidden" th:field="*{xrow}"/>
						<input type="hidden" th:field="*{prevqty}"/>
						<input type="hidden" th:field="*{prevrate}"/>
						<input type="hidden" th:field="*{forupdate}"/>
						<input type="hidden" th:field="*{xdorrow}"/>
						<div class="col-md-6">
							<div class="form-group" th:if="${opdodetail.xrow == 0}">
								<label class="control-label col-sm-4" for="xitem" th.text="#{ds.modal.form.label.xitem}">Item</label>
								<div class="col-sm-8">
									<input 	type="text" 
											class="form-control searchsuggest xitemsearch" 
											placeholder="Search..." 
											th:value="${#strings.isEmpty(opdodetail.xitem) ? '' : opdodetail.xitem + ' - ' + opdodetail.xitemdesc}"
											th:attr="search-url='search/caitem'"/>
									<input type="hidden" id="search-val" th:field="*{xitem}" class="search-xitem" value=""/>
									<input type="hidden" id="search-des" th:value="*{xitem}"/>
								</div>
							</div>
							<div class="form-group" th:if="${opdodetail.xrow != 0}">
								<label class="control-label col-sm-4" for="xitem" th:text="#{ds.modal.form.label.xitem}">Item</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xitem}"/>
									<input type="text" th:value="${#strings.isEmpty(opdodetail.xitem) ? '' : opdodetail.xitem + ' - ' + opdodetail.xitemdesc}" class="form-control" disabled="disabled"/>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-4" for="xunitsel" th:text="#{ds.modal.form.label.xunitsel}">Selling Unit</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xunitsel}"/>
									<input type="text" th:value="${opdodetail.xunitsel}" class="form-control xunitsel-display" disabled="disabled"/>
								</div>
							</div>

							<div class="form-group">
								<label class="control-label col-sm-4" for="xqtyord" th:text="#{ds.modal.form.label.xqtyord}">Qty.</label>
								<div class="col-sm-8">
									<input type="text"  class="form-control qty" th:field="*{xqtyord}" min="0"/>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="xrate" th:text="#{ds.modal.form.label.xrate}">Rate</label>
								<div class="col-sm-8">
									<input type="text"  th:field="*{xrate}" class="form-control" min="0"/>
								</div>
							</div>
						</div>
						
						
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-4" for="xlineamt">Line Amount</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xlineamt}"> 
									<input type="text" class="form-control xlineamt" th:value="*{xlineamt}" disabled="disabled"/>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-4" for="xcomtype" th:text="#{ds.modal.form.label.xcomtype}">Issue Type</label>
								<div class="col-sm-8">
									<select class="form-control vatait-select" th:field="*{xcomtype}">
										<option value="">-- Select --</option>
										<option value="Bonus">Bonus</option>
										<!-- <option th:each="s : ${issueList}" th:text="${s.xcomtype}" th:value="${s.xcomtype}"></option> -->
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-4" for="xcfsel">Conv. Factor (Selling)</label>
								<div class="col-sm-8">
									<input type="hidden" th:field="*{xcfsel}"/>
									<input type="text" th:value="${opdodetail.xcfsel}" class="form-control xcfsel-display" disabled="disabled"/>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-sm-4" for="xlong" th:text="#{ds.modal.form.label.xlong}">Note</label>
								<div class="col-sm-8">
									<textarea rows="3" cols="" class="form-control" th:field="*{xlong}"></textarea>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success btn-sm confirm-btn-modal" th:text="#{button.value.xsubmit}">Submit</button>
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal" th:text="#{button.value.xclose}">Close</button>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/assets/js/ck-ui/ck-search-suggest.js}"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				// Init ui for modal
				ck.ui.config.buttonevent();
				 
				$("select[name='xcomtype']").off('change').on('change', function(e){
					if($('select[name="xcomtype"]').val() == 'Bonus'){
						$('input[name="xrate"]').val(0);
						$('.xlineamt').val('0');
						$('#xlineamt').val('0');
					}
				});

				$('input[name="xrate"]').off('keyup').on('keyup', function(){
					if($('select[name="xcomtype"]').val() == 'Bonus'){
						$('input[name="xrate"]').val(0);
					}
				});
				
				$('#xqtyord').on('blur', function(e){
					e.preventDefault();
					calculateRateAmount();
				})
				
				$('#xrate').on('blur', function(e){
					e.preventDefault();
					calculateRateAmount();
				})
				
				function calculateRateAmount(){
					var qty = $('#xqtyord').val();
					var rate = $('#xrate').val();
					$('.xlineamt').val(qty * rate);
					$('#xlineamt').val(qty * rate);
				}


				$('.xitemsearch').on('blur', function(){
					setTimeout(() => {
						if($('input[name="xitem"]').val() == ''){
							$('input.xunitsel-display').val('');
							$('input[name="xcfsel"]').val("");
							$('input.xcfsel-display').val("");
							$('input[name="xrate"]').val('');
							$("#prevqty").val(0);
							$(".qty").val('1');
							$('.xlineamt').val('0');
							$('#xlineamt').val('0');
							return;
						}
						
						
						loadingMask2.show();
						$.ajax({
							url : getBasepath() + '/salesninvoice/salesandinvoice/itemdetail/' + $('input[name="xitem"]').val().split("|")[0],
							type : 'GET',
							success : function(data) {
								loadingMask2.hide();

								$('input[name="xunitsel"]').val(data.xunitsel);
								$('input.xunitsel-display').val(data.xunitsel);	
								
								$('input[name="xcfsel"]').val(data.xcfsel);
								$('input.xcfsel-display').val(data.xcfsel);
								
								$('input[name="xrate"]').val(data.xrate);
								$(".qty").focus();
								$("#prevqty").val($('input[name="xitem"]').val().split("|")[2]);
								$("#xqtyord").val($('input[name="xitem"]').val().split("|")[2]);
								
								$('.xlineamt').val($(".qty").val() * data.xdealerp);
								$('#xlineamt').val($(".qty").val() * data.xdealerp);
							},
							error : function(jqXHR, status, errorThrown){
								showMessage(status, "Something went wrong .... ");
								loadingMask2.hide();
							}
						})
					}, 1000);
				});
	
			});
		</script>
	</div>
</div>